/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
.login-box-body
{
    background: #ffe30e;
    padding: 20px;
    border-top: 0;
    color: #666;
    margin-bottom: 200px;
    margin-right: 200px; 
    margin-left: 200px;
}
.register-box-body {
    background: #ffe30e;
    padding: 20px;
    border-top: 0;
    color: #666;
    margin-bottom: 10em;
margin-right: 10em;
margin-left: 10em;
}
.login-page, .register-page {
    background: #09d252;
}
.row {

margin-right: 33px; 
margin-left: 0px;
}
#c {
    background-color: rgb(255, 227, 14);
    text-align: center;
    padding: 10px
}
.pull-left {
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.pull-right  {
  float: right;
}

p {
  padding-left: 20em;
}
#footerwrap {
  background: #ffe30e;
padding-top: 15px;
text-align: center;

}

#footerwrap h3 {
  font-size: 28px;
  color: white;
}

#footerwrap p {
  color: white;
  font-size: 18px;
}
* {
  text-align: center;
}
/*# sourceMappingURL=app.css.map */