
/*countdown*/


    /*
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    
    text-align: center;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

     */
/*#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}*/
/*coundown*/


.img-responsive {
    min-width: 100%;

}




