body { 
    
    background-color: red;
    }

.formulario1 {
	
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}


.navbar-right {
	float: right;
	}

.container {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    line-height: 1.42857143;
    color: #676666;
    margin-left: 800px;
    margin-top: 10px;
    padding-bottom: 10px;
}


.col-md-12 { 

	color: white;
	font-weight: bold;
	font-size: 6em;
    text-align: center;
    font-family: arial black;

}

p { 

	color: white;
	font-weight: bold;
	font-size: 2em;
    text-align: center;
    font-family: arial black;

}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    border-radius: 0.2em;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: #e4e4e4;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    padding-top: 2em;
    padding-right: 28em;
    font-size: 1.5em;
    color: #504f4f;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 218px;
    padding-right: 488px;

}
    

.submit {
	background-color: #fbe62a;
	font-size: 2em;
    border-right-width: 0px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    margin-right: 386px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 4px;
	}

.submit2 {
	float: right;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #504f4f;
	margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-width: 0px;
    font-size: 1em;
	background-color: #fbe62a;
	}