<?php /*****************************************************************
  * ProXCore Script
  * Copyright &copy; 2014 ProXScripts.com All Rights Reserved.
  **********************************************************************
  * IMPORTANT: The copyright notice in the footer must not be removed
  * and is a legal includement for operating this software.
  * Redistribution of this code in any form IS NOT ALLOWED.  You are
  * given permission to run it on a single site only.  Any infringement
  * will result in prosecution.  Full details of the license granted
  * can be found on www.proxcore.com.
  * Created Date: 25-03-2015
  * Last Modified: 25-03-2015
  *********************************************************************/
?>
<?php if(!$ajax){?>
<div class="whitetitlebox">Jackpot</div>
<div id="jackpotpage">
<?php }?>
<?php echo $this->Javascript->link('allpage');?>
<?php if($IsAdminAccess){?>
<div class="helpicon"><a href="https://www.proxscripts.com/docs/Jackpot" target="_blank">Help</a></div>
<div id="UpdateMessage"></div>

<!-- Search-box-start -->
<div class="serchmainbox">
	<div class="serchgreybox">Search Option</div>
	<?php echo $this->Form->create('Jackpotmember',array('type' => 'post', 'onsubmit' => 'return false;','url'=>array('controller'=>'jackpot','action'=>'member/'.$id)));?>
	<div class="from-box">
		<div class="fromboxmain">
		  <span>Search By :</span>
		  <span>
			<div class="searchoptionselect">
				<div class="select-main">
					<label>
					<?php 
					echo $this->Form->input('searchby', array(
						  'type' => 'select',
						  'options' => array('all'=>'Select Parameter', 'id'=>'Ticket Id', 'member_id'=>'Member Id'),
						  'selected' => $searchby,
						  'class'=>'',
						  'label' => false,
						  'style' => '',
						  'onchange'=>'if($(this).val()=="inactive" || $(this).val()=="active" || $(this).val()=="expire" || $(this).val()=="running"){$("#SearchFor").hide(500);}else{$("#SearchFor").show(500);}'
					));
					?>
					</label>
				</div>
			</div>
		  </span>
		</div>
		<div class="fromboxmain" id="SearchFor" <?php if($searchby=="inactive" || $searchby=="active" || $searchby=='expire' || $searchby=='running'){ echo 'style="display:none"';} ?>>
			<span>Search For :</span>
			<span class="searchforfields_s"><?php echo $this->Form->input('searchfor', array('type'=>'text', 'value'=>$searchfor, 'label' => false, 'class'=>'searchfor'));?></span>
		</div>
	 </div>
	 <div class="from-box">
		<div class="fromboxmain width480">
			<span>From :</span>
			<span><?php echo $this->Form->input('fromdate', array('type'=>'text', 'value'=>$fromdate, 'label' => false, 'class'=>'datepicker'));?></span>
		</div>
		 <div class="fromboxmain">
			<span>To :</span>
			<span><?php echo $this->Form->input('todate', array('type'=>'text', 'value'=>$todate, 'label' => false, 'class'=>'datepicker'));?></span>
			<span class="padding-left">
				<?php echo $this->Js->submit('', array(
				'before'=>$this->Js->get('#pleasewait, #UpdateMessage')->effect('fadeIn', array('buffer' => false)),
				'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
				'update'=>'#jackpotpage',
				'class'=>'searchbtn',
				'controller'=>'jackpot',
				'action'=>'member/'.$id,
				'url'=> array('controller' => 'jackpot', 'action' => 'member/'.$id)
			      ));?>
			</span>
		 </div>
	</div>
	 <?php echo $this->Form->end();?>
</div>
<!-- Search-box-over -->
	<?php
	$this->Paginator->options(array(
		'before'=>$this->Js->get('#pleasewait')->effect('fadeIn', array('buffer' => false)),
		'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
		'update' => '#jackpotpage',
		'evalScripts' => true,
		'url'=> array('controller'=>'jackpot', 'action'=>'member/'.$id)
	));
	$currentpagenumber=$this->params['paging']['Jackpotmember']['page'];
	?>
	
<div id="Xgride-bg">
	<div class="height10"></div>
    <div class="padding10 backgroundwhite">
		<div class="greenbottomborder">
		<div class="height10"></div>
	<div class="paginator-text"><?php echo $this->Paginator->counter(array('format' => 'Display %page% Through %current% Records | Total Records : %count%'));?></div>
	<div class="addnew-button">
				
    <?php if(!isset($SubadminAccessArray) || in_array('jackpot',$SubadminAccessArray) || in_array('jackpot/adminpanel_add',$SubadminAccessArray)){ ?>
            <?php echo $this->Js->link("Back", array('controller'=>'jackpot', "action"=>"index"), array(
                'update'=>'#jackpotpage',
                'before'=>$this->Js->get('#pleasewait')->effect('fadeIn', array('buffer' => false)),
                'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
                'escape'=>false,
                'class'=>'btngray'
            ));?>
    <?php } ?>
	</div>
	<div class="clear-both"></div>
	
	<div class="tablegrid">
		<div class="tablegridheader">
			<div>
				<?php
				if($ordertype=="desc")$sorttype="asc";else $sorttype="desc";
				echo $this->Js->link('Ticket Id', array('controller'=>'jackpot', "action"=>"member/".$id."/0/id/".$sorttype."/".$currentpagenumber), array(
					'update'=>'#jackpotpage',
					'before'=>$this->Js->get('#pleasewait')->effect('fadeIn', array('buffer' => false)),
					'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
					'escape'=>false,
					'class'=>'vtip',
					'title'=>'Sort By Ticket Id'
				));?>
			</div>
			<div>
				<?php 
				echo $this->Js->link('Date', array('controller'=>'jackpot', "action"=>"member/".$id."/0/purchase_date/".$sorttype."/".$currentpagenumber), array(
					'update'=>'#jackpotpage',
					'before'=>$this->Js->get('#pleasewait')->effect('fadeIn', array('buffer' => false)),
					'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
					'escape'=>false,
					'class'=>'vtip',
					'title'=>'Sort By Date'
				));?>
			</div>
			<div>
				<?php 
				echo $this->Js->link('Member Id', array('controller'=>'jackpot', "action"=>"member/".$id."/0/member_id/".$sorttype."/".$currentpagenumber), array(
					'update'=>'#jackpotpage',
					'before'=>$this->Js->get('#pleasewait')->effect('fadeIn', array('buffer' => false)),
					'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
					'escape'=>false,
					'class'=>'vtip',
					'title'=>'Sort By Member Id'
				));?>
			</div>
			<div><?php echo 'Full Name';?></div>
			<div><?php echo 'Username';?></div>
		</div>
		<?php foreach ($jackpotmembers as $jackpotmember): ?>
		<div class="tablegridrow">
			<div><?php echo '#'.$jackpotmember['Jackpotmember']['id']; ?></div>
			<div><?php echo trim($this->Time->format($SITECONFIG["timeformate"], $jackpotmember['Jackpotmember']['purchase_date']),' 00:00:00'); ?></div>
			<div>
				<?php 
				echo $this->Js->link($jackpotmember['Jackpotmember']['member_id'], array('controller'=>'member', "action"=>"memberadd/".$jackpotmember['Jackpotmember']['member_id']."/top/jackpot/index~top", 'plugin' => false), array(
					'update'=>'#pagecontent',
					'before'=>$this->Js->get('#pleasewait')->effect('fadeIn', array('buffer' => false)),
					'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
					'escape'=>false,
					'class'=>'vtip',
					'title'=>'View Member'
				));?>
			</div>
			<div><?php echo $jackpotmember['Member']['f_name']." ".$jackpotmember['Member']['l_name']; ?></div>
			<div><?php echo $jackpotmember['Member']['user_name']; ?></div>
		</div>
		<?php endforeach; ?>
	</div>
	<?php if(count($jackpotmembers)==0){ echo '<div class="norecordfound">No records available</div>';} ?>
    <?php
	if($this->params['paging']['Jackpotmember']['count']>$this->Session->read('pagerecord'))
	{?>
	<div class="result-text margintop19"><?php echo "Result Per Page";?> :</div>
	<div class="floatleft margintop19">
		<?php echo $this->Form->create('Jackpotmember',array('type' => 'post', 'onsubmit' => 'return false;','url'=>array('controller'=>'jackpot','action'=>'member/'.$id.'/rpp')));?>
		
		<div class="resultperpage">
                        <label>
			    <?php 
			    echo $this->Form->input('resultperpage', array(
			      'type' => 'select',
			      'options' => $resultperpage,
			      'selected' => $this->Session->read('pagerecord'),
			      'class'=>'',
			      'label' => false,
			      'div'=>false,
			      'style' => '',
			      'onchange'=>'document.getElementById("resultperpageapply").style.display=""'
			    ));
			    ?>
			</label>
		</div>
		
		<span id="resultperpageapply" style="display:none;">
			<?php echo $this->Js->submit('Apply', array(
			  'before'=>$this->Js->get('#pleasewait')->effect('fadeIn', array('buffer' => false)),
			  'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
			  'update'=>'#jackpotpage',
			  'class'=>'',
			  'div'=>false,
			  'controller'=>'jackpot',
			  'action'=>'member/'.$id.'/rpp',
			  'url'   => array('controller' => 'jackpot', 'action' => 'member/'.$id.'/rpp')
			));?>
		</span>
		<?php echo $this->Form->end();?>
	</div>
	<?php }?>
	<div class="floatright">
	<ul class="nice_paging">
		<?php echo $this->Paginator->first($this->html->image('left-arrow.png', array('alt'=>'<< First')), array('tag'=>'li', 'escape'=>false));?>
		<?php echo $this->Paginator->prev($this->html->image('left-arrow-1.png', array('alt'=>'< Previous')), array('tag'=>'li', 'escape'=>false), NULL, array('class' => 'disabled', 'tag'=>'li', 'escape'=>false));?>
		<?php echo $this->Paginator->numbers(array('modulus' => 5, 'first' => 1, 'last' => 1, 'separator' => false, 'ellipsis' => '<li>...</li>', 'tag'=>'li'));?>
		<?php echo $this->Paginator->next($this->html->image('right-arrow-1.png', array('alt'=>'> Next')), array('tag'=>'li', 'escape'=>false), NULL, array('class' => 'disabled', 'tag'=>'li', 'escape'=>false));?>
		<?php echo $this->Paginator->last($this->html->image('right-arrow.png', array('alt'=>'>> Last')), array('tag'=>'li', 'escape'=>false));?>
	</ul>
	</div>
	<div class="clear-both"></div>
	<div class="height10"></div>
		</div>
	</div>
</div>
<?php }else{
	?><div class="accessdenied"><?php echo "Access Denied";?></div><?php
}?>
<?php if(!$ajax){?>
</div><!--#jackpotpage over-->
</div>
<?php }?>
<?php echo $this->Js->writeBuffer(array('inline' => 'true'));?>