@charset "utf-8";
body { background-color: #ffffff; margin: 0; padding: 0; }
.um-header-bg { background-color: #4c5e6e; height: 25px; padding-top: 35px; border-right: 1px solid #cacaca; border-left: 1px solid #cacaca; border-top: 1px solid #cacaca;}
.um-header {background-color: #f7f7f7; height: 25px; margin: 0 auto; width: 1000px;}
.um-content {background-color: #f7f7f7; border-right: 1px solid #cacaca; border-left: 1px solid #cacaca; border-bottom: 1px solid #cacaca; margin: 0 auto; padding-bottom: 15px; width: 1000px; }
.um-img { display: inline-block; max-width: 100%; vertical-align: top; width: 220px; padding-left: 30px;}
.um-img-right { display: inline-block; max-width: 100%; padding-left: 30px; vertical-align: top; width: 685px; }
.um-text { color: #4c5e6e;font-size: 40px; font-family: Arial; border: 1px solid #cacaca; padding: 30px; text-align: center; margin-top: 30px; background-color: #fff; }
.um-footer { color: #4c5e6e; font-family: Arial; font-size: 13px; text-align: center; line-height: 36px; }
.um-footer a { color: #4c5e6e; text-decoration: none;}
.um-footer a:hover { color: #19b698; text-decoration: none;}
.contenttext{text-align: center; font-family: arial; padding: 10px 0px 0px; font-weight: bold; font-size: 13px; color: rgb(76, 94, 110);}