#Calendar{max-width:500px;}
#Calendar td {font-family:"Roboto", Arial, Helvetica, sans-serif;font-size:12px;padding: 8px 5px;}
#Calendar .cMonth {font-weight:normal;text-align:center;color: #1e2e3d;font-size: 15px;}
#Calendar .wDays {font-weight:bold;text-align:center;background-color:#1356ab;color: #ffffff;}
#Calendar .mNav {font-weight:bold;text-align:center;background-color:#022356;color: #ffffff;}
#Calendar .mNav a{color: #ffffff;}
#Calendar table td a {text-decoration:none;color:#000;}
#Calendar table td a:hover {text-decoration:underline;}
#Calendar .withevent {text-align:center;background-color:#f56965;color:#000;position: relative;}
#Calendar .noevent {text-align:center;background-color:#FFF;color:#000;}
#Calendar .witheventavelebal {text-align:center;background-color:#75ce75;color:#000;cursor:pointer;position: relative;}
#Calendar .witheventbook {text-align:center;background-color:#efefef;color:#000;cursor:pointer;position: relative;}
#Events {width:300px;}
#Events h2 {font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;margin-top:10px;}
#Events span {font-family:Arial, Helvetica, sans-serif;font-size:12px;}

#Calendar .withevent span{background-color:#0f7bd5;color:#ffffff;cursor:pointer;position: absolute;right: 0;top:0;padding: 1px 5px;font-size: 9px;}