body {font-family:'Open Sans';font-size: 12px;color: #575757;margin: 0px;padding: 0px;}
input, textarea{outline: none;}
img { max-width:100%; border: 0px; }
.pagewidth { max-width: 100%; width: 1000px; margin: 0px auto; }
.clearboth { clear: both;}
.floatleft{float: left;}
.floatright{float: right;}
.floatnone{float: none !important;}
.inlineblock{display: inline-block;}

.divtable{display: table; width: 100%;}
.divtable2{display: table; width: 100%;}
.divthead{display: table-header-group;}
.divtbody{display: table-row-group;}
.divtfoot{display: table-footer-group;}
.divtr{display: table-row;width: 100%;}
.divth{display: table-cell;}
.divtd{display: table-cell;}
.vam{vertical-align: middle !important;}.vat{vertical-align: top !important;}.vab{vertical-align: bottom !important;}
.textright { text-align: right; }
.textcenter { text-align: center; }
.textleft { text-align: left; }
.hide{display: none;}
.show{display: block;}

.height15 { height: 15px; }
.height5 { height: 5px; }
*{outline: none;}
*:focus{outline: none !important;}

/*header-css-start*/


/* ----------------------------------------------  Select menu start ---------------------------------------------- */
div.combobox{background: white url(../img/combobox.png) no-repeat center right;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); box-shadow: 0 1px 3px rgba(0,0,0,0.2);}	
div.combobox { overflow:hidden; padding:0; margin:0; -moz-border-radius:5px;-webkit-border-radius:5px;	-khtml-border-radius:5px;	border-radius:5px; border:1px solid #dddddd;padding:0px 0 0 0px;height:28px;}
.ie7 div.combobox {border:none;}
div.combobox select {	width:115%; background-color:transparent; background-image:none;-webkit-appearance: none; border:none; box-shadow:none;
height:100%;padding:3px 0;}
.ie7 div.combobox select {width:100%; background-color:#fff; border: solid 1px #ccc; padding:0.3em 0.5em;}
div.combobox{width:90px;}
/* ----------------------------------------------  Select menu over ---------------------------------------------- */



.showonmobile{display: none !important;}




.select-main{position: relative;font-size: 14px;font-weight: normal;color: #999999;display: inline-block;width: 100%;vertical-align: top;width: 92px;}
.select-main label:before{content: ""; font-family: 'Glyphicons Halflings'; background: url(../img/arrowselact.jpg) no-repeat; background-position: center; background-color: #ffffff;  display: block;height: 40px;pointer-events: none;position: absolute;right: 0px;top: 0px;width: 20px; text-align: center; line-height: 37px; color: #19b698; font-size: 13px;}
.select-main label:after{ background-color: #ffffff; color: #7f7f7f; padding: 0 0 2px;pointer-events: none;position: absolute;right: 10px;top: -3px;transform: rotate(90deg);-webkit-transform:rotate(90deg); line-height: 38px; }
.select-main label{position: relative;display: block;margin-bottom: 0px;}
.select-main select{ background-color: #ffffff; width: 100%;height: 40px;border: none;font-weight: normal;outline: none;padding-left: 5px;line-height: 38px;-webkit-appearance:none;border-radius: 0px;-webkit-border-radius: 0; font-size: 12px; color: #373737;}
.select-main select option{}
.select-main select option:hover {box-shadow: 0 0 10px 100px #58b1c8 inset;}
.select-main select option:checked { background: linear-gradient(#58b1c8, #58b1c8);}

.textadbox img{padding-top: 23px;padding-bottom: 23px;}
.showhidebannerbottom{background-color: #f6f6f6;}




/*other css*/
#Testimonial{padding-top: 25px;}

/* New Template Css Start */

#maincontent{width: 100%;display: table;height: 100%;}
#leftbar{display: table-cell;width: 280px;vertical-align: top;}
#leftbar .fix-leftbar{position: fixed;height: 100%;background-color: #f5f5f5;width: 280px;}

/*Scroller Css Start*/
#leftbar .mCSB_container { overflow: visible !important; }
#leftbar .mCSB_container{margin: 0px;}
#leftbar .mCSB_scrollTools{width: 2px;}
#leftbar .mCustomScrollBox { overflow: visible !important; }
#leftbar .mCustomScrollBox { overflow:hidden !important; }
/*Scroller Css Over*/

#rightbar{display: table-cell;padding-left: 10px;vertical-align: top;height: 100%;}
#rightbar .rightbarinner{background-color: #f5f5f5;overflow: hidden;}
#header{position: relative;text-align: center;width: 1000px;margin: 0 auto;max-width: 100%;}


/*Login Popup Box Css Start*/
#header .modal { overflow: auto; }
#header .modal-content { border-radius: 0px; padding: 6px; background-color: #238cc8; }
#header .modal-sm { width: 302px; }
#header .modal-content .loginbox { width: 289px; background-color: #38475a;  }
#header .modal-content .loginbox .login_title { font-size: 25px; text-transform: uppercase; text-align: center; color: #ffffff;  }
#header .modal-header { padding: 0px; min-height: 0px; border: none;  }
#header .modal-header button.close { background-color: #238cc8; padding: 0px 1px 5px 5px; opacity: 1; font-size: 15px; margin-top: 0px; margin-bottom: -15px;color: #ffffff;text-shadow: 0 1px 0 #000000; }
#header .loginbox .login_style { padding: 8px; }
#header .loginbox .login_style input[type="text"], #header .loginbox .login_style input[type="password"]{ width: 241px; height: 49px; border: none; padding-left: 5px; padding-right: 5px; font-size: 12px; background-color: #eeeeee; outline: none; margin-bottom: 1px;  }
#header .loginbox .login_style .username_icon:before { content: "\e008"; font-family: 'Glyphicons Halflings'; display: inline-block; font-size: 16px; height: 51px; background-color: #eeeeee; vertical-align: top; padding-top: 14px; margin-right: -4px; padding-left: 6px; color: #238cc8;  }
#header .loginbox .login_style .password_icon:before { content: "\e033"; font-family: 'Glyphicons Halflings'; display: inline-block; font-size: 16px; height: 51px; background-color: #eeeeee; vertical-align: top; padding-top: 14px; margin-right: -4px; padding-left: 6px; color: #238cc8;  }
#header .loginbox .captha_main .captcha_image { display: inline-block; margin-right: -2px; vertical-align: top; }
#header .loginbox .captha_main input[type="text"] { display: inline-block; margin-right: -2px; width: 96px; height: 42px;vertical-align: top;margin-left: 0px;}
#header .reload_captcha:before { content: "\e031"; font-family: 'Glyphicons Halflings'; display: inline-block; font-size: 16px; background-color: #eeeeee; width: 45px; height: 44px; text-align: center; padding-top: 7px; color: #238cc8; }
#header .loginbox .login_button { background-color: #238cc8; border: none; margin: 10px auto; display: block; padding-top: 10px; padding-bottom: 10px; width: 115px; padding-left: 0px; padding-right: 0px; font-size: 18px; border-radius: 3px;color: #ffffff; }

#header .loginbox .sign-in-text { background-color: #15243a; padding-top: 8px; padding-bottom: 8px; text-align: center; }
#header .loginbox .sign-in-text span { font-size: 16px; color: #238cc8; display: inline-block; vertical-align: middle; }
#header .loginbox .sign-in-text a { display: inline-block; border: 0px;  background-color: #cfcfcf; border-radius: 2px; margin-left: 15px; }
#header .loginbox .login-links { font-size: 13px; color: #ffffff; text-align: center; padding-top: 10px; padding-bottom: 3px; }
#header .loginbox .login-links a { text-decoration: none; color: #ffffff; }
#header .passwordkeybord{display: inline-block;width: 250px;}
#header #LoginMessage{text-align: center;padding-bottom: 5px;color: #fd898b;}
/*Login Popup Box Css Over*/


.logobg{width: 280px;height: 115px;background-color: #ffffff;text-align: center;line-height: 115px;}
.header-bg{background-color: #38475a;border-bottom: 4px solid #d82551;}
.title-text { font-size: 40px; font-weight: 700; color: #d82551; background: #c8ccd0; padding: 8px; display: inline-block; }
.headersubtitle { color: #ffffff; font-size: 35px; font-weight: 700;  padding-top: 10px;}
.headersmalltext { color: #ffffff; padding-top: 15px; text-align: center;}
.headertextmain { text-align: center;max-width: 50%;position: absolute;top: 60px;left: 60px;}
.languageselectionmain{height: 36px;padding: 10px 8px;}
.languageselectionmain .languageleft{height: 36px;display: inline-block;vertical-align: top;background-color: #415063;color: #ffffff;font-size: 14px;line-height: 36px;text-transform: uppercase;padding: 0px 10px;}
.languageselectionmain .languageright{display: inline-block;height: 36px;vertical-align: top;width: 168px;margin-left: -3px;}
.languageselectionmain div.combobox{background: white url(../img/select1.png) no-repeat center right;-webkit-box-shadow: none; box-shadow: none;width: 168px;border: none;height: 36px;line-height: 36px;border-radius: 0px;}

.main-menu{padding-top: 15px;padding-bottom: 15px;}
.main-menu #menu{padding-left: 10px;padding-right: 10px;}
#menu ul{margin: 0px;padding: 0px;}
#menu ul li{margin: 0px;padding: 0px;display: block;}
#menu ul li a{display: block;padding-top: 18px;padding-bottom: 18px;font-size: 14px;text-transform: uppercase;border-top: 1px solid #e2e4e7;color: #5e656f;text-decoration: none;}
#menu ul li a:after{font-family: "Glyphicons Halflings";font-size: 16px;float: right;content: "\e021";padding-right: 10px;}
#menu ul li.details a:after{content: "\e032";}
#menu ul li.news a:after{content: "\e122";}
#menu ul li.faq a:after{content: "\e085";}
#menu ul li.testimonials a:after{content: "\e111";}
#menu ul li.recentpayout a:after{content: "\e109";}
#menu ul li.support a:after{content: "\e125";}
#menu ul li.bizdirectory a:after{content: "\e118";}
#menu ul li.otherpages a:after{content: "\e060";}

.clearboth{clear: both;}
.stasticmain { padding-top: 20px; text-align: center;padding-bottom:20px;background-color: #f5f5f5;position: relative;}
.stabox { width: 162px; text-align: center; display: inline-block; margin-right: 30px;}
.staround { border-radius: 50%; border: solid 1px #d82551; width: 109px; height: 109px; text-align: center; display: inline-block;}
.staround1 { border-radius: 50%; border: solid 1px #238cc8; width: 109px; height: 109px; text-align: center; display: inline-block;}
.staround2 { border-radius: 50%; border: solid 1px #febf15; width: 109px; height: 109px; text-align: center; display: inline-block;}
.staround3 { border-radius: 50%; border: solid 1px #95c927; width: 109px; height: 109px; text-align: center; display: inline-block;}
.staround4 { border-radius: 50%; border: solid 1px #9e77cb; width: 109px; height: 109px; text-align: center; display: inline-block;}
.staicon {padding-top: 25px;}
.launchtext { font-size: 16px; padding-top: 8px; color: #2a4655; text-align: center;}
.launchtext span { font-weight: 700;}



.bannermain { text-align: center; padding-top: 35px; padding-bottom: 15px;}
.banner125 { width: 125px;  display: inline-block; vertical-align: top;margin-bottom: 5px;}
.banner468main {width: 468px; max-width: 100%; display: inline-block; vertical-align: top;}
.banner468 { width: 468px; max-width: 100%; display: inline-block; margin-bottom: 5px;}
.textaddmianbot {text-align: center; border-top: solid 1px #f1f1f1; margin-top: 10px; padding-top: 20px; padding-bottom: 20px;}
.greybox { background: #f5f5f5; display: inline-block; vertical-align: top; width: 22%; margin-right: 10px;}
.textaddtitle { font-size: 17px; color: #ffffff; font-weight: 700; background: #384758; height: 36px; line-height: 36px; text-align: center; padding-left: 10px;}
.textaddtitle2 { font-size: 17px; color: #ffffff; font-weight: 700; background: #238cc8; height: 36px; line-height: 36px; text-align: center; padding-left: 10px;}
.textaddtitle2 a {text-decoration: none; color: #ffffff;}
.textaddtitle a { text-decoration: none; color: #ffffff;}
.text-add-title {font-size: 17px; color: #ffffff; font-weight: 700; background: #384758; height: 36px; line-height: 36px; text-align: center; padding-left: 10px;}
.text-add-title a{text-decoration: none; color: #ffffff;}

.greybox:nth-child(2n) .textaddtitle{background: #238cc8;}
.greybox:nth-child(2n) .text-add-title{background: #238cc8;}

.text-add-desceiption{padding: 10px; text-align: center;}
.text-add-desceiption span{display: block;}

.textadcontent { padding: 10px; text-align: center;}
.textadcontent a { color: #d82551;}
.allcontent {padding-right: 10px;padding-left: 10px;}
.caret { color: #d82551;}
#membersubmenubg {
    background-color: #38475a;
    padding-left: 20px;
    padding-right: 20px;
}

.joinnowbtn { display: inline-block; margin-left: 8px; margin-top: 15px;}
.joinnowbtn a { background-color: #238cc8; text-decoration: none; text-decoration: none; display: block; font-size: 14px; color: #ffffff; height: 43px; line-height: 43px; padding-left: 10px; padding-right: 10px; min-width: 105px; text-align: center;}

.loginbtn {display: inline-block; margin-left: 8px; margin-top: 15px;}
.loginbtn a {background-color: #d82551; text-decoration: none; text-decoration: none; display: block; font-size: 14px; color: #ffffff; height: 43px; line-height: 43px; padding-left: 10px; padding-right: 10px; min-width: 105px; text-align: center;}
.leftlink {display: inline-block; padding-top: 15px; text-align: center; margin-left: 8px; }
.leftlink a { font-size: 11px; color: #4c4c4c; text-decoration: none; display: inline-block; padding-left: 10px; padding-right: 10px; border: solid 1px #ced2d7; height: 19px; line-height: 19px;margin-bottom: 5px;}
.linktext { font-size: 11px; color: #4c4c4c; text-align: center; padding-top: 14px; border-bottom: solid 1px #e2e4e7; padding-bottom: 8px; background-color:#f5f5f5;}
.graphichtext { padding-top: 5px; padding-left: 5px;}
.graphichtext a {text-decoration: none; color: #5e656f;}

.select-main label:after{ background-color: #ffffff; color: #7f7f7f; background: url(../img/arrow-down.jpg) no-repeat; background-position: center; padding: 0 0 2px;pointer-events: none;position: absolute;right: 10px;top: -3px;transform: rotate(90deg);-webkit-transform:rotate(90deg); line-height: 45px; }
.select-main label{position: relative;display: block;margin-bottom: 0px;}
.select-main select{ background-color: #ffffff; width: 100%;height: 36px;border: none;font-weight: normal;outline: none;padding-left: 5px;line-height: 36px;-webkit-appearance:none;border-radius: 0px;-webkit-border-radius: 0; font-size: 12px; color: #373737;}
.select-main select option{padding: 5px;}
.select-main select option:hover {}
.select-main select option:checked {}
.select-main label:before{content: ""; font-family: 'Glyphicons Halflings'; background: url(../img/arrow-down.jpg) no-repeat; background-position: center;  background-color: #ffffff;  display: block;height: 36px;pointer-events: none;position: absolute;right: 0px;top: 0px;width: 37px; text-align: center; line-height: 36px; color: #19b698; font-size: 13px; }
.navbar { margin-bottom: 0px;}

/*Stat icon Css*/
.stabox .user-icon{font-size: 45px;color: #d82551;line-height: 58px;padding-left: 5px;}
.stabox .user-icon:before{content: "\e109";}

.stabox .totalmember{font-size: 45px;color: #238cc8;line-height: 58px;padding-left: 3px;}
.stabox .totalmember:before{content: "\e008";}

.stabox .onlinemember{font-size: 45px;color: #febf15;line-height: 58px;padding-left: 3px;}
.stabox .onlinemember:before{content: "\e135";}

.stabox .totalpayout{font-size: 45px;color: #95c927;line-height: 58px;padding-left: 3px;}
.stabox .totalpayout:before{content: "\e148";}

.stabox .lastpayout{font-size: 45px;color: #9e77cb;line-height: 58px;padding-left: 3px;}
.stabox .lastpayout:before{content: "\e148";}

/*Stat icon Css*/

.membermenufix{position: fixed;width: 100%;z-index: 1;}
.membermenufixspacing{height: 106px;}

#showmobile {display: none;}
.showonmobileonly{display: none !important;}

.reprecentwhite{width:45px;height:45px;text-align:center;vertical-align:middle;display:inline-block;}.reprecentwhite img{padding-left: 2px; padding-top: 15px; }
.recentrightbox .recentplus{background-image: url(../img/plus.png);background-position: right top;background-repeat: no-repeat;width: 20px;height: 20px;margin-top: 12px;float: right;}
.recentrightbox.activediv{background-color: #f5f5f5;}
.reprecentright{background-color: #ffffff;margin-left: 2px;margin-right: 2px;padding: 5px; border: solid 1px #c0c0c0; color:#575757; }
.recentrightbox.activediv .recentplus{background-position: right bottom;}
.recrecentright{color:#575757 !important; }
.reprecentbluebox{background-color: #ffffff; border: solid 1px #c0c0c0; border-top: none; margin-left: 2px;margin-right: 2px;color:#575757; margin-top: 0px;}
.surftext a{color: #575757;text-decoration: none;margin-top: 0px;}
.reprecentbluebox a{color: #575757 !important;text-decoration: none;margin-top: 0px;}
.reprecentbluebox.reprecentbluebox > div{border-bottom: solid 1px;padding: 10px;}
.reprecentbluebox.reprecentbluebox > div:last-child{border-bottom: none;}
.repleft-part{float: none; display: inline-block; vertical-align: top;margin-top: 7px;}


@media all and (min-width: 769px)
{ 
    #membermenu { background-color: #38475a; padding-left: 20px; padding-right: 20px;}
    #membermenu .membernav {text-align: left;}
    #membermenu .membernav ul {margin: 0px; padding: 0px;float: none;}
    #membermenu .membernav ul li { list-style: none; display: inline-block; border-left: solid 1px #4c5f76;position: static;float: none;}
    #membermenu .membernav ul li a {text-decoration: none; font-size: 15px; color: #f6f6f6; padding-top: 22px; padding-bottom: 22px;display: block;}
    #membermenu .membernav ul li a:hover { background: url(../img/memberarrowhover.jpg) no-repeat; background-position: center bottom;}
    #membermenu .navbar-collapse{padding: 0px;}
    #membermenu .membernav ul li a.act { background: url(../img/memberarrowhover.jpg) no-repeat; background-position: center bottom; color: #54c1ff;}
    #membermenu .navbar-collapse{padding: 0px;}   
    #membermenu .navbar.navbar-default{background-color: transparent;border: none;padding-left: 0px;padding-right: 0px;}
    #membermenu li .dropdown-menu{background-color: transparent;border: none;box-shadow: none;margin-left: 50px;}
    #membermenu li .dropdown-menu li{display: inline-block;border: none;padding-top: 6px;}
    #membermenu li .dropdown-menu li a{padding: 5px 5px;font-size: 13px;transition: all 500ms ease-in-out;  color: #54c1ff;}
    #membermenu li a .caret{display: none;}
    #membermenu li .dropdown-menu li a:hover{background-image: none;background-color: #506076;}
    #membermenu ul li.open a {background-color: transparent;}
    #membermenu ul li:hover > a {background: url(../img/memberarrowhover.jpg) no-repeat; background-position: center bottom;}
    #membermenu ul li ul li:hover > a{background-image: none;}
    #membersubmenubg{min-height: 40px;border-top: 1px solid #7f93ad;}
    .topmenu .navbar-header.navbar-default{display: none;}
    
}
@media all and (max-width: 769px)
{
    #header img{height: 296px;}
    #maincontent{display: block;}
    #leftbar{display: none;}
    #rightbar{display: block;padding-left: 0px;}
    .greybox { width: 93%; margin-bottom: 10px; margin-right: 0px;}
    #showmobile {display: block;position: fixed;width: 100%;z-index: 1;}
    .showmobilespacing{height: 58px;}
    .showonmobileonly{display:block !important;}
    .membermenufixspacing{height: 50px;}
    .headertextmain{left: 30px;}
    .logobg{background-color: transparent;display: inline-block !important;max-width: 60%;line-height: 56px;height: auto;}
    .navbar-header{display: inline-block;vertical-align: middle;float: right;}
    .navbar-header button{margin-top: 12px;}
}
@media all and (max-width: 400px)
{
    #header img{height: 200px;}
    .headertextmain{left: 12px;max-width: 60%;top: 7%;}
    .title-text{font-size: 17px;}
    .headersubtitle{font-size: 15px;}
    .headersmalltext{font-size: 10px;}
    .stabox{max-width: 40%;margin-right: 10px;margin-bottom: 10px;}
}