@charset "utf-8";
*{outline: none;}
a{color:#494643;}
a:hover{text-decoration:none;}
input, textarea, select{outline: none;}
hr{height:1px;background-color:#dedede;border:0;}
img{border:0;}

.validationerror{border-color: #ea6153 !important;}
.validationerror .borderwidth{border-color: #ea6153 !important;}
.validationerror .fromboxbgcal, .validationerror .tooltipmain{border-color: #ea6153 !important;}
.validationerror .ui-datepicker-trigger{border-top: 1px solid #ea6153;border-bottom: 1px solid #ea6153;height: 39px;}

.textcenter{text-align: center;}
.textright{text-align: right;}
.textleft{text-align: left;}
.displayinline{display: inline;}
.clear-both { clear:both; }
.center{text-align:center;}
.floatright{float:right;}
.floatleft{float:left;}
.marginleft9{margin-left:9px;}
.padding0{padding:0;}
.margin0{margin:0;}
.height21{height:21px;}
.height20{height:20px;}
.height15{height:15px;}
.height10{height:10px;}
.height7{height:7px;}
.height5{height:5px;}
.width93{width:93% !important;}
.display-block { display: inline-block; }
.divfloat .checkbox{display:inline;}
.pointer{cursor: pointer;}
img.ui-datepicker-trigger{vertical-align:top;}

#pleasewait {display:none;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: #ffffff;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;z-index: 10000;text-align:center;}
#pleasewait img{top:45%;position:relative;}
#UpdateMessage{display:none;}
#UpdateMessage ul{padding-bottom: 10px;}
#UpdateMessage.formerror{background-color: #F2DEDE; background-image: url("../img/error.png"); background-position: 10px 12px; background-repeat: no-repeat; padding: 10px 0px 0px 30px; min-width: 390px; min-height: 26px; margin-bottom: 10px; color: #B94A48;}
#UpdateMessage.formsuccess{background-color: #DFF0D8; background-image: url("../img/success.png"); background-position: 10px 12px; background-repeat: no-repeat; padding: 10px 0px 0px 30px; min-width: 390px; min-height: 26px; margin-bottom: 10px; color: #468847;}

.highlight_tr{font-weight:bold;}
.NoTiFiCaTiOn {background-color: #465868;color: #ffffff;left: 25%;padding: 5px;position: fixed;text-align: center;top: 0;width: 50%;z-index: 4;}
.NTFCTOX{float: right;cursor: pointer;}

/*massmail popup box start*/
#emailsentarea{display:none;z-index:10001;width: 600px; position: fixed; background-color: #f7f8fa; border-radius:8px; border: 3px solid #cccccc; overflow: auto; height: 125px; padding: 15px;}
#emailsentarea .closebutton{text-align:right;visibility:hidden;}
#emailsentarea .massprogressbar_bg{background-image: url(../img/progressbar_bg.jpg);height:30px;width:600px;margin:13px auto;text-align:center;color:#FFFFFF;font-size:14px;}
#emailsentarea .massprogressbar{background-image: url(../img/progressbar.jpg);background-repeat:repeat-x;height:25px;padding-top:5px;}
#emailsentarea .totalcomplete{background-color:#e2eaf1;padding:5px 20px;border: 1px solid #c3d3df;border-radius:15px; }
#emailsentarea .text{color:#168fae;font-size:14px;}
/*massmail popup box over*/

/*tooltip style start*/
p#vtip { display: none; position: absolute; padding: 10px; left: 5px; font-size: 0.8em; background-color: white; border: 1px solid #19b698; 5px; z-index: 9999 }
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }
/*tooltip style over*/

.popupgird{border-right:1px solid #999999;border-top:1px solid #999999;font-family:Arial;font-size:12px;color:#666666;}
.popupgird th{background-color:#dedede;border-bottm:1px solid #999999;border-left:1px solid #999999;padding:8px;font-size:14px;}
.popupgird td{border-bottom:1px solid #999999;border-left:1px solid #999999;padding:5px;}

/*Result per Page Css Start*/
.resultperpage{position: relative;font-size: 14px;font-weight: normal;color: #999999;display: inline-block;width: 110px;vertical-align: top;border: 1px solid #e3e5e7;}
.resultperpage label:before{content: ""; font-family: 'Glyphicons Halflings'; background: url(../img/combobox1.png) no-repeat; background-position: center; background-color: #ffffff; display: block;height: 28px;pointer-events: none;position: absolute;right: 0px;top: 0px;width: 18px; text-align: center; line-height: 28px; color: #19b698; font-size: 13px;}
.resultperpage label:after{ background-color: #ffffff; color: #7f7f7f; padding: 0 0 2px;pointer-events: none;position: absolute;right: 10px;top: -3px;transform: rotate(90deg);-webkit-transform:rotate(90deg); line-height: 28px; }
.resultperpage label{position: relative;display: block;margin-bottom: 0px;}
.resultperpage select{ background-color: #ffffff; width: 100%;height: 28px;border: none;font-weight: normal;outline: none;padding-left: 5px;line-height: 28px;-webkit-appearance:none;border-radius: 0px;-webkit-border-radius: 0; font-size: 12px; color: #373737;}
.resultperpage select option{padding: 5px;}
.resultperpage select option:hover {box-shadow: 0 0 10px 100px #00a7aa inset;}
.resultperpage select option:checked { background: linear-gradient(#00a7aa, #00a7aa);}
.result-text {font-size: 11px;font-weight: normal;color: #292929;text-shadow: 1px 1px 1px #ffffff;float:left;padding-top: 5px;padding-right: 5px;;margin-top: 10px;}
.margintop19{margin-top: 19px;}
/*Result per Page Css Start*/

/* Matrix CSS Start */
/*Progress Bar Start*/
.matrix-level-progress { background: #e5e5e5; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; width: 78%; float: left; height: 31px;  }
.matrix-level-progress div{moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;}
.matrix-level-progress .part1{float:left;background-image: url("../img/matrixprogressbar.gif");background-repeat:repeat-x; font-size: 22px !important;}
.matrix-level-progress .part4{float:left;background-image: url("../img/matrixprogressbar.gif");background-repeat:repeat-x; font-size: 22px !important;}
/*Progress Bar Over*/
.matrix-you{ width:100%; margin: 10px 0 0 0; padding: 0px; text-align: center; background-repeat: no-repeat; background-position: center; height: 143px;}
.matrix-box{ background: #fdfcfc; border: 1px solid #dddddd; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; margin: 3px; padding: 1%; }
.level-button{ width: 10%; height: 29px; border: 1px solid #dddddd; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; font-size: 15px; line-height: 29px; text-align: center; margin: 0 1% 0 0; float: left; }

.filled-matrix { height: 31px; float: left; background-repeat: repeat-x; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; }
.matrix-link-text { float: right; line-height: 29px; height: 31px; width: 10%; text-align: right; }
.matrix-figures { width: 78%; margin: 5px 0 0 11%; padding: 0px; *margin-left:9%;}
.matrixfigurecolor { color: #767676; }
.green-color { color: #93bc53 }
.matrix-box hr {margin: 10px 0;}
/* Matrix CSS Over */

/*browser button start */
.browsebuttonmaindiv{position: relative; display: inline-block;}
#browservalue{ margin-top:-30px;margin-left: 90px;}
.browsebutton{height:20px;width: 50px; line-height: 20px; overflow: hidden; position: relative; margin-left: 5px; margin-top: 5px;}
.browserbuttonlink{position: absolute; margin-left:-46px; margin-top: -4px; width: 60px; height: 30px; }
input[type=file]{opacity:0.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
/*browser button over */


/*search-menu style start*/
#searchmenulinkshtml{width:350px;max-height:300px;overflow:auto;z-index: 10;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);position:absolute;top: 50px;display: none;}
#searchmenulinkshtml .innerblock{display: none;background-color: #ffffff;border: 1px solid #cccccc;padding: 0px 12px 0px 12px;}
#searchmenulinkshtml a{color: #384755;cursor:pointer;padding:4px 0px 4px 10px;font-size: 12px;display: block;
background-image:  url(../img/search-list-current.jpg);background-repeat: no-repeat;background-position: left 10px;}
#searchmenulinkshtml a:hover{color: #ffffff;background-image:  url(../img/search-list-hover.jpg);}
#searchmenulinkshtml ul.search-menu {padding:3px 0px 3px 0px;margin:0;background-color: #f7f9fa;list-style: none;}
#searchmenulinkshtml ul.search-menu li {list-style-position: inside;color: #19b698;padding-left: 7px;}
#searchmenulinkshtml ul.search-menu li:hover {background-color:#19b698;color: #ffffff;}
#searchmenulinkshtml div.title{color: #000000;font-size: 13px;padding: 10px 0 6px 0;}
#searchmenulinkshtml .height12{height: 12px;}
#searchmenulinkshtml li.viewmore a{background-image: none;color: #ea6153;text-align: right;padding-right: 10px;font-size: 11px;}
#searchmenulinkshtml li.viewmore a:hover{background-image: none;color: #ea6153;}
#searchmenulinkshtml li.viewmore:hover{background-color: transparent !important;color: #ea6153;}
#searchmenulinkshtml .mCSB_container{margin-right: 0;}
#searchmenulinkshtml .mCSB_scrollTools{width: 2px;}
@media all and (max-width: 450px){#searchmenulinkshtml{width:220px;left: 0;}}
/*search-menu style over*/
/*notification menu style start*/
#notificationmenu{width:250px;z-index: 10;box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);position:absolute;top: 50px;display: none;right: 30px;}
#notificationmenu .boxtitle{background-color: #f0f1f4;padding: 5px 5px;}
#notificationmenu .innerblock{display: none;background-color: #ffffff;border: 1px solid #cccccc;}
#notificationmenu .innerblock .boxcontent{padding: 10px 10px 0px 10px;}
#notificationmenu .innerblock .boxcontent div{background-color: #384755;color: #ffffff;padding: 3px 8px;}
#notificationmenu .innerblock .boxcontent ul{list-style: square;list-style-position: inside;margin: 0 0 10px 0;padding: 0;}
#notificationmenu .innerblock a{color: #384755;cursor: pointer;}
#notificationmenu .innerblock span{display: inline;padding: 0px 3px;background-color: #ea6153;float: right;margin-top: 2px;
font-size: 10px;color:#ffffff;border-radius: 3px;}
#notificationmenu .innerblock ul li{padding: 2px 8px;border-bottom: 1px solid #ebebeb;}
#notificationmenu .innerblock ul li:hover{ background:#f2f5f6;color: #19b698;}
#notificationmenu .niticaret{height: 6px;text-align: right;}
#notificationmenu .niticaret span{border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 7px solid #fff;display: inline-block;height: 0;vertical-align: top;width: 0;margin-right: 7px;}
.notificationmenu{position: relative;}
#notificationcounter{position: absolute; background-color: #d74e40;font-size: 8px;padding: 2px 3px 4px 2px;right: -4px;top: -7px;border-radius: 8px;color: #fff;text-align: center;line-height: 8px;min-width: 8px;display: none;}
/*notification menu style over*/

/*quickmenubox-css-start-*/
 #quickmenubox{background:#1c2d3d;width:272px;padding:10px 4px 4px 4px;position:fixed;height: 80%;z-index:1001;left:44%;top:10%;box-shadow: 0 6px 12px rgba(255, 255, 255, 0.176);}
.quickmenubutton{background: #19b698;border: none; padding: 6px 20px; color: #ffffff; transition: all 800ms ease-in-out;font-size: 15px;}
.trushmenu {height:29px;font-size:11px;font-style:normal;color:#d5dcde;
margin:0px; padding:0px;width:113px;}
.trushmenu li {list-style:none;margin:0px;padding-left:18px;padding-top:0px;line-height:27px;background-image: url(../img/menu/drag-delet-icon.png);background-repeat: no-repeat;background-position: left center;padding-right: 0px;padding-bottom: 0px;margin-left:4px;}
.drag-delet-icon {margin:0px;height: 21px;width: 16px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;display:block;float:left;padding-right:2px;}
.menu-box {background:#ecf0f1; margin-top:6px;width:255px;padding-top:6px;padding-bottom:6px;padding-left:7px;padding-right:0px;border-top:none;border:solid 5px #19b698;}
.menu-box .menulistoverflow{overflow:auto;}
.menu-box .menulistoverflow .mCSB_scrollTools{width:10px;}
.menu-box .menulistoverflow .mCSB_container{margin-right:8px;}
.remove-all { float:left; padding-left:10px;}
.remove-all a{background-image: url(../img/menu/remove-all.png);background-repeat: no-repeat;background-position: left center; padding: 0 0 0 20px; font-size:11px;font-style:normal;color:#d5dcde; line-height: 27px;}
.remove-all a:hover{color:#19b698;}
#quickmenubox .helplink{float:left; padding-left:10px;line-height: 25px;}
#erasedroppable { float:left; }
.quick-menu  { margin:0px; padding:0px;}
.quick-menu  span{ margin:11px 12px 0 10px;}
.quick-menu li {margin:0px;height: 48px;width: 247px;list-style:none;padding:0;color:#384755;background-image: url(../img/menu/quieck-box-li-bg.jpg);background-repeat: no-repeat;background-position:center top;font-size:13px;line-height:48px;margin-top:5px;z-index:1001;}
.quick-menu li:hover { color:#19b698; } 
.quick-submit-menu { text-align:center; padding-top:8px; }
.quick-closed { position:absolute; top:0px; right:0; }
/*quickmenubox-css-over-*/

/*new-css-in-new-page Start*/
#cfupopup{overflow: auto;padding: 10px;}
.cfu-tab{padding-top: 20px;}

.admin-o-menu { float:left; width: 100%}
.admin-o-menu ul {float:left; margin:0px; padding:0px; width: 100%}
.admin-o-menu ul li {float:left;margin:0px;display:block;padding-top: 0px;padding-right: 0.30%;padding-bottom: 0px;padding-left: 0px;list-style:none;text-align: center;}
.admin-o-menu ul li:last-child {padding: 0px;}
.admin-o-menu ul li a {float:left;margin:0px;padding:0px;text-decoration:none;font-size: 13px;color: #494643;padding-top:5px;padding:12px 9px;}
.admin-o-menu ul li a:hover, .admin-o-menu ul li a.active {float:left;border: 1px solid #dddddc;border-top: 1px solid #19b698;	border-bottom: none;color: #494643;}
/*new-css-in-new-page Over*/

/*Check Update CSS Start*/
.version{display: inline-block; }
.cversion{background: none repeat scroll 0 0 #ea6153;border: medium none;color: #ffffff;padding: 10px;transition: all 800ms ease-in-out 0s;}
.lversion{ background: none repeat scroll 0 0 #465868;border: medium none;color: #ffffff;padding: 10px;transition: all 800ms ease-in-out 0s;}
.versionmain{}
.versionmain .padding-tabal{background:none;border:none; border-bottom: solid 1px #ffffff; height:4px; }
.versionmain td{padding-left: 10px; }
.versiontitle{width: 400px;font-size: 14px; font-weight: bold; padding: 7px 5px; background-color: #19b698; margin-top: 10px; color: #FFFFFF;}
.versiontitle a{color: #FFFFFF; text-decoration: none;}
#gride-bg .versiontitle a:hover{color: #FFFFFF;}
.versiontext{margin-top: 10px; margin-bottom: 5px;}
.versiontext a{color: #1893AC; text-decoration: none;}

/*Color Box CSS Start */
#cboxTitle{display: none !important;}
#cboxPrevious{display: none !important;}
#cboxNext{display: none !important;}
#cboxCurrent{display: none !important;}
/*Color Box CSS Over */

/*menu icon-css-new Start*/
.website-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/website-settings.png);
	background-position: bottom;
}
.membership-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/membership-settings.png);
	background-position: bottom;
}
.currency-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/currency-settings.png);
	background-position: bottom;
}
.admin-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/admin-settings.png);
	background-position: bottom;
}
.email-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/email-settings.png);
	background-position: bottom;
}
.security-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/security-settings.png);
	background-position: bottom;
	
}
.finance-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/finance-settings.png);
	background-position: bottom;
	
}
.cronjob-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/cronjob-settings.png);
	background-position: bottom;
	
}
.advertisement-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/advertisement-settings.png);
	background-position: bottom;
	
}
.solo-ads-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/solo-ads-settings.png);
	background-position: bottom;
	
}
.signup-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/signup-settings.png);
	background-position: bottom;
	
}
.referral-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/referral-settings.png);
	background-position: bottom;
	
}
.statistics-settings {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/statistics-settings.png);
	background-position: bottom;
	
}
.member-list {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/member-list.png);
	background-position: bottom;
	
}
.leader-board {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/leader-board.png);
	background-position: bottom;
	
}
.mass-mailing {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/mass-mailing.png);
	background-position: bottom;
	
}
.mass-mailing-history {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/mass-mailing-history.png);
	background-position: bottom;
	
}
.admin-message {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/admin-message.png);
	background-position: bottom;
	
}
.payment-history {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/payment-history.png);
	background-position: bottom;
	
}
.pending-deposits {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/pending-fund-deposit.png);
	background-position: bottom;
	
}
.pending-positions {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/pending-position.png);
	background-position: bottom;
	
}
.withdrawal-requests {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/withdrawal-requests.png);
	background-position: bottom;
	
}
.withdrawal-history {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/withdrawal-history.png);
	background-position: bottom;
	
}
.commission {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/commission.png);
	background-position: bottom;
	
}
.cash-by-admin {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/cash-by-admin.png);
	background-position: bottom;
	
}
.coupons {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/coupons.png);
	background-position: bottom;
	
}
.themes {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/themes.png);
	background-position: bottom;
	
}
.email-templates {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/email-templates.png);
	background-position: bottom;
	
}
.template-edit {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/template-edit.png);
	background-position: bottom;
	
}
.language-edit-phase {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/language-edit-phase.png);
	background-position: bottom;
	
}
.website-pages {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/website-pages.png);
	background-position: bottom;
	
}
.virtual-pages {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/virtual-pages.png);
	background-position: bottom;
	
}
.news {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/news.png);
	background-position: bottom;
	
}
.faqs{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/faqs.png);
	background-position: bottom;
	
}
.testimonials {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/testimonial.png);
	background-position: bottom;
	
}
.banners {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/banners.png);
	background-position: bottom;
	
}
.text-links {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/text-links.png);
	background-position: bottom;
	
}
.landing-pages {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/landing-pages.png);
	background-position: bottom;
	
}
.splash-pages {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/splash-pages.png);
	background-position: bottom;
	
}
.splash-pages {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/splash-pages.png);
	background-position: bottom;
	
}
.promotional-emails {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/promotional-emails.png);
	background-position: bottom;
	
}
.banner-ads {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/banner-ads.png);
	background-position: bottom;
	
}
.text-ads {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/text-ads.png);
	background-position: bottom;
	
}
.biz-directory{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/biz-directory.png);
	background-position: bottom;	
}
.solo-ads {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/solo-ads.png);
	background-position: bottom;
	
}
.message-ads {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/message-ads.png);
	background-position: bottom;
	
}
.admin-activity {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/admin-activity.png);
	background-position: bottom;
	
}
.member-activity {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/member-activity.png);
	background-position: bottom;
	
}
.admin-logs {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/admin-logs.png);
	background-position: bottom;
	
}
.member-logs {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/member-logs.png);
	background-position: bottom;
	
}
.cronjob-logs {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/cronjob-logs.png);
	background-position: bottom;
	
}
.ip-logs {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/ip-logs.png);
	background-position: bottom;
	
}
.processer-trace-logs {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/processer-trace-logs.png);
	background-position: bottom;
	
}
.manage-add-ons {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/manage-add-ons.png);
	background-position: bottom;
	
}
.current-add-ons {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/current-add-ons.png);
	background-position: bottom;
	
}
.jackpots {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/jackpot.png);
	background-position: bottom;
	
}
.balance-transfer {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/balance-transfer.png);
	background-position: bottom;
	
}
.manage-add-ons {
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/manage-add-ons.png);
	background-position: bottom;
	
}
.balance-transfer-settings{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/balance-transfer-settings.png);
	background-position: bottom;
}
.url-rotator{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/url-rotator.png);
	background-position: bottom;
}
.url-shortener{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/url-shortener.png);
	background-position: bottom;
}
.member-group{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/member-group.png);
	background-position: bottom;
}
.pending-purchases{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/pending-purchases.png);
	background-position: bottom;
}
.pending-free-plans{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/pending-free-plans.png);
	background-position: bottom;
}
.dynamic-banners{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/dynamic-banners.png);
	background-position: bottom;
}
.pay-per-click---ppc{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/pay-per-click---ppc.png);
	background-position: bottom;
}
.paid-to-click---ptc{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/paid-to-click---ptc.png);
	background-position: bottom;
}
.login-ads{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/login-ads.png);
	background-position: bottom;
}
.processor-trace-logs{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/processor-trace-logs.png);
	background-position: bottom;
}
.sent-emails{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/sent-emails.png);
	background-position: bottom;
}
.modules{
	display: block;
	width: 36px;
	height:26px;
	text-indent: -99999px;
	background-image: url(../img/menu/modules.png);
	background-position: bottom;
}
/*menu icon-css-new Over*/
/*Processer Masspay Message css start */
#show{background:#1c2d3d;width:50%;padding:20px 4px 25px 4px;position:fixed;height: 80%;z-index:1001;left:24%;top:10%;box-shadow: 0 6px 12px rgba(255, 255, 255, 0.176);}
#show .Masspay-Message-box {background:#ffffff;padding:5px 0px 0px 5px;color:#384755; margin-top:6px;height:100%;border-top:none;border:solid 5px #19b698;}
#show .Masspay-Message-Title{font-size:18px; font-weight:normal;background-color:#dedede;margin:5px 5px 5px 0px;padding:5px;}
#show .Masspay-Message-Description{font-size:17px; font-weight:normal;}
#show .Masspay-Message-Total{font-size:17px; font-weight:normal;}
#show .Masspay-Message_link{background-image: url("../img/menu/quick-closed.jpg");background-repeat: no-repeat;height:24px;width:24px;}
#show .Masspay-Message-Error div span:first-child{font-weight:700}
/*Processer Masspay Message css Over */

/*Help Icon Css Start*/
.helpicon:not(img){border: 1px solid #e2e4e6;position: absolute;right: 30px;top: 75px;font-size: 13px;}
.helpicon a{display: block;padding: 4px 8px 2px 8px;color: #323f49;}
.helpicon a:before{font-family: "Glyphicons Halflings";content: "\e086";font-size:17px;vertical-align: middle;padding-right: 5px;color: #0eb293;}
.helpicon:hover{border-color: #0eb293;}
.helpicon:hover a{color: #323f49;}
/*Help Icon Css Over*/

.contestselectbox{max-width:250px;width:100% !important;margin-right: 23px;}
.contestfromtext{max-width:110px;width:100%;text-align: left; vertical-align: top;line-height: 40px;}
.contestselectbox:nth-child(4n) {margin-right: 0;}
.contestfromboxbg{background: none repeat scroll 0 0 #ffffff;border: medium none;height: 38px;max-width: 100%;padding-left: 13px;width: 98%;}
.contestfromboxbg4{background: none repeat scroll 0 0 #ffffff;border: medium none;height: 37px;max-width: 100%;padding-left: 8px;vertical-align: top;width: 96%;}