@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 400;src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 700;src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff) format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 600;src: local('Open Sans Semibold'), local('OpenSans-Semibold'),url(../fonts/OpenSans-Semibold.woff) format('woff');}

body{margin: 0px;background-color: #e1e6e7;font-family:"Open Sans";font-size: 12px;}
body.overflowhidden{overflow-x: hidden;}
.textcenter{text-align: center;}
.textleft{text-align: left;}
.textright{text-align: right;}
.inlineblock{display: inline-block;}
a,a:hover,a:focus{text-decoration: none;outline: none;}
button,input{outline: none;}
.padding10{padding: 10px;}
.backgroundwhite{background-color: #ffffff; padding: 10px; padding-top: 0px;}
.noborder{border: none !important;}
/*LeftBar Css Start*/
#leftbar{max-width: 260px;position: relative;z-index: 3;}
.leftbarfix{max-width: 260px;position: fixed;}
#leftbar .logo{background-color: #eceff0;color: #ffffff;font-size: 25px;height: 70px;}
#leftbar .logo-big{display: none;}
#leftbar.active_toggled .logo-big{display: block;}
#leftbar .logo-big img {max-width: 100%;margin-top: 10px;}

#leftbar .logo-small{display: block;}
#leftbar.active_toggled .logo-small{display: none;}
#leftbar .logo-small img {max-width: 100%;}

#leftbar .leftbarcontent {background-color: #eceff0;}
#leftbar.active_toggled .leftbarcontent{overflow-y: auto;}
.leftmenutogglebutton{background-color: #eceff0;height: 30px;width: 33px;border-radius: 50%;position: absolute;right: -15px;top: 20px;text-align: center;cursor: pointer;z-index: 1;}
.leftmenutogglebutton .glyphicon.glyphicon-tasks{color: #19b698;font-size: 16px;padding-top: 6px;}

#leftbar .welcomebox{background-color: #ffffff;border-right: 1px solid #ea6153;padding:20px 15px 15px 10px;}
#leftbar .welcomephotomain{display: inline-block;vertical-align: middle;}
#leftbar .welcomephotomain img{background-color: #384755;border-radius: 50%;height: 71px;width: 71px;}
#leftbar .welcometext{display: inline-block;font-size: 16px;color: #1c2d3d;vertical-align: middle;padding-left: 25px;width: 134px;}
#leftbar .welcometext span{color: #19b698;}
#leftbar .welcometext a{font-size: 13px;display: block;color: #1c2d3d;line-height: 22px;}
#leftbar .welcometext a:first-of-type{padding-top: 2px;}
#leftbar .welcometext a.logout {color: #ea6153;}
#leftbar .welcometext a span{color: inherit;padding-right: 3px;}
/*Scroller Css Start*/
#leftbar .mCSB_container{margin: 0px;}
#leftbar .mCSB_scrollTools{width: 2px;}
#leftbar .mCSB_draggerContainer{margin: 0;}
@media all and (max-width: 769px){#leftbar .mCSB_scrollTools{width: 16px;}#leftbar .mCSB_draggerContainer{margin: 20px 0;}}
/*Scroller Css Over*/

/*Menu Css Start*/

#menu ul{margin: 0px;padding: 0px;}
#menu ul li{margin: 0px;padding: 0px;background-color: #eceff0;color: #66717b;cursor: pointer;position: relative}
#menu ul li a{color: #49545e;font-size: 14px;display:block;border-bottom: 1px solid #d6dbdd;text-align: center;padding: 10px 0px 10px 0px;}
#menu ul li a.activealink{background-color: #ea6153;color: #ffffff;}
#menu ul li a:after{font-family: 'Glyphicons Halflings';content: "\2b";font-size: 9px;}
#menu ul li a.activealink:after{font-family: 'Glyphicons Halflings';content: "\2212";font-size: 9px;}
#menu ul li a:hover{background-color: #ea6153;color: #ffffff;}
#menu ul li span:first-child{font-weight: 700;font-size: 19px;padding-right: 8px;}
#menu ul li span:last-child{display: none;}

#menu ul li a.activealink + ul.submenuleft a.onclosedmenu{background-color: #ea6153;color: #ffffff;}

#menu ul li ul{margin: 0px;display: none;position: absolute;left: 77px;width: 260px;text-align: left;top:0px;}
#menu ul li ul.activesub{display: block;}
#menu ul li ul li{list-style: none;font-size: 16px;border-bottom: 1px solid #d6dbdd;padding-left: 20px;}
#menu ul li ul li a{padding:11px 0px 12px 0px;width: 100%;display: list-item;border-bottom: none;margin-left: -3.5px;list-style: inside circle;text-align: left; font-size: 13px;}
#menu ul li ul li a:after{content: "";}
#menu ul li ul li a:hover{background-color: inherit;color: inherit;}
#menu ul li ul li span:first-child{width: 100%;font-weight: normal;border-left: 1px solid #b4b9bb;padding: 0px;display: inline-block;}
#menu ul li ul li span:hover a{color: #19b698;}
#menu ul li ul li span:hover{border-left: 1px solid #19b698;}
#menu ul li:hover > a {background-color: #ea6153;color: #ffffff;}

#leftbar.active_toggled #menu{width: 260px;}
#leftbar.active_toggled #menu ul li ul{position: inherit;left: inherit;width: inherit;}
#leftbar.active_toggled #menu ul li ul li{padding-left: 40px;}
#leftbar.active_toggled #menu ul li span:last-child{width: 80%;display: inline-block;}
#leftbar.active_toggled #menu ul li a {text-align: left;padding: 15px 0px 15px 10px;}
#leftbar.active_toggled #menu ul li span:first-child{font-size: 15px;}
#leftbar .mCustomScrollBox { overflow: visible !important; }
#leftbar.active_toggled .mCustomScrollBox { overflow:hidden !important; }
#leftbar .mCSB_container { overflow: visible !important; }
#leftbar.active_toggled #menu ul li ul li a{padding-left: 0px;}
#leftbar ul li ul .onclosedmenu{display: block;background-color: #F7F9FA;text-align: left;padding: 12px;}
#leftbar ul li:nth-child(even) ul .onclosedmenu {padding: 12px 12px 11px 12px;-webkit-padding-before:13px;}
#leftbar ul li ul .onclosedmenu:after{content: "";}
#leftbar.active_toggled ul li ul .onclosedmenu{display: none;}
#menu ul li:hover > ul .onclosedmenu {background-color: #ea6153;color: #ffffff;}
#menu ul li a.nosign:after{content: "";}
#menu ul li ul.submenuleft li{background-color: #ffffff;}
/*Menu Css Over*/

/*LeftBar Css Over*/

#middlebar{display: inline-block;position: relative;padding-top: 69px;}
#middlebar #header{background-color: #1c2d3d;height: 70px;position: fixed;width: inherit;top:0px;z-index: 2}
#middlebar #header .searchbox {margin-left: 25px;margin-top: 19px;float: left;}
#middlebar #header .searchbox .searchtextbox{width: 70px;padding: 0px 0px 0px 15px;height: 31px;border: none;background-color: #384755;transition: width 500ms ease-in-out;color: #ffffff;float: left;}
/*#middlebar #header .searchbox .searchtextbox:focus{width: 250px;}*/
#middlebar #header .searchbox .searchicon{height: 31px;width: 30px;background-color: #384755;float: left;color: #19b698;text-align: center;line-height: 30px;font-size: 14px;}
#middlebar #header .searchbox .searchicon .searchbutton{background-color: transparent;border: none;background-image: url(../img/search-icon.png);background-repeat: no-repeat;width: 16px;height: 16px; margin-top: 7px;}


.topmenu{float: right;margin-top: 19px;margin-right: 30px;}
.topmenu ul.topmenuinner {margin: 0px;padding: 0px;display: inline-block;vertical-align: middle;}
.topmenu ul.topmenuinner li{margin: 0px;padding: 0px;list-style: none;display: inline-block;vertical-align: middle;}
.topmenu ul.topmenuinner a{padding: 5px 20px 5px 20px;color: #9faebc;border:1px solid #506375;text-decoration: none;font-size: 13px;margin-right: 7px;transition: all 500ms ease-in-out;display: block;}
.topmenu ul.topmenuinner a:hover{color: #1ec6a6;border: 1px solid #19b698;}
.topmenu ul.topmenuinner a span.glyphicon{display: none;}

.topmenu .btn-group .btn{padding: 5px 12px;font-size: 12px;font-family: inherit;border-radius:0px;margin-right: 10px;}
.btn-mycustom {color: #1EC6A6;background-color: #334251;border-color: #334251;}
.btn-mycustom:hover,.btn-mycustom:focus,.btn-mycustom:active,.btn-mycustom.active,.open .dropdown-toggle.btn-mycustom {color: #1EC6A6;background-color: #334251;border-color: #334251;}
.btn-mycustom:active,.btn-mycustom.active,.open .dropdown-toggle.btn-mycustom {background-image: none;}
.btn-mycustom.disabled,.btn-mycustom[disabled],fieldset[disabled] .btn-mycustom,.btn-mycustom.disabled:hover,.btn-mycustom[disabled]:hover,fieldset[disabled] .btn-mycustom:hover,.btn-mycustom.disabled:focus,.btn-mycustom[disabled]:focus,fieldset[disabled] .btn-mycustom:focus,.btn-mycustom.disabled:active,.btn-mycustom[disabled]:active,fieldset[disabled] .btn-mycustom:active,.btn-mycustom.disabled.active,.btn-mycustom[disabled].active,fieldset[disabled] .btn-mycustom.active {background-color: #5cb85c;border-color: #4cae4c;}
.btn-mycustom .badge {color: #5cb85c;background-color: #fff;}

.topmenu .btn-group .btn .caret{color: #ffffff;margin-left: 5px;}
.topmenu .btn-group ul.dropdown-menu{left: inherit;right: 10px;}

#middlebar #header .topmenu .combobox { background-image: url(../img/arrow.png);  width: 120px; box-shadow: none; border: none; height: 38px; background-color: transparent;display: inline-block;margin-right: 10px;vertical-align: top;background-position: 92% center;}
#middlebar #header .topmenu .combobox div.combobox { margin-top: 2px; height: 20px; border-radius: 0px;padding:5px 0px 5px 5px;background-color: #334251;}
#middlebar #header .topmenu .combobox div.combobox:after{content: ""}
#middlebar #header .topmenu .combobox  select { font-size: 12px;padding: 0px; height: 26px; color: #6c808b;vertical-align: top;color: #1ec6a6;}

#middlebar .pagetitlemain .pagetitle{padding:0px 10px;color: #5a6773;font-size: 25px;}

#rightbar .quickmenutitle{width: 134px;background-color: #ea6153;right: 0px;height: 42px;top:70px;font-weight: 700;color: #ffffff;text-align: center;line-height: 38px;}

#middlebar #header .quickmenu{cursor: pointer;}
#middlebar #allcontent{padding: 0px 15px;}

#rightbar{background-color: #ffffff;position: fixed;top:70px;right: 0px;/*height: 82%;*/overflow-y: auto;}
#rightbar .quickmenuinside ul{padding: 0px;margin: 0px;}
#rightbar .quickmenuinside ul li{padding: 0px;margin: 0px;list-style: none;text-align: center;padding: 10px 0px;background-color: #f5f7f8;}
#rightbar .quickmenuinside ul li:nth-child(odd){background-color: #ffffff;}
#rightbar .quickmenuinside ul li a {color: #555555;display: block;text-decoration: none;transition: all 500ms ease-in-out;}
#rightbar .quickmenuinside ul li span{background-repeat: no-repeat;height: 26px;display: block;background-position: center bottom;transition: all 500ms ease-in-out;margin: 0 auto;}
/*#rightbar .quickmenuinside ul li span.website-settings{background-image: url(../img/website-settings.png);}*/
#rightbar .quickmenuinside ul li a:hover{color: #19b698;}
#rightbar .quickmenuinside ul li a:hover span{background-position: center top;}
/*Scroller Css Start*/
#rightbar .mCSB_container{margin: 0px;}
#rightbar .mCSB_scrollTools{width: 2px;}
/*Scroller Css Over*/

.clearboth{clear: both;}

/*Footer Css Over*/
#footer{background-color: #ffffff;text-align: center;min-height: 30px;padding-top: 15px;color: #35495c;}
#footer a{color: #35495c;}
#footer a:hover{color: #19b698;}
/*Footer Css Start*/

/*Mayur Css Start*/
.color-red {color: #ea6153;}
.btnorange {background: #ea6153;border: none; padding: 10px; color: #ffffff; transition: all 800ms ease-in-out;}
a.btnorange{display: inline-block;color: #ffffff;}
a.btnorange:hover{color: #ffffff;}
.btngray {background: #465868;border: none; padding: 10px; color: #ffffff; transition: all 800ms ease-in-out;}
a.btngray {display: inline-block;color: #ffffff;}
a.btngray:hover{color: #ffffff;}
.btnorange:hover{background: #b41b0b; transition: all 800ms ease-in-out;}
.btngray:hover {background: #182735; transition: all 800ms ease-in-out;}
.clearboth {clear: both;}
.height-43 {height: 43px;}

#content{ width: 100%;}
.whitetitlebox{background-color: #ffffff;padding-left: 12px;font-size: 25px;color: #5a6773;padding-top: 4px;padding-bottom: 3px;margin-bottom: 10px;}
.whitenotebox{background-color: #ffffff;border-bottom:solid 1px #00a7aa;padding: 10px; color: #2a2a2a;margin-bottom: 15px;}
.whitenoteboxinner{background-color: #f6f7f9;border-bottom:solid 1px #00a7aa;padding: 10px; color: #2a2a2a;margin-bottom: 15px;}

/**serch-box-css-start**/
.serchmainbox{background-color: #ffffff;border-bottom:solid 1px #ea6153; width: 30%;text-align:center; display: inline-block; vertical-align: top;}

.serchgreybox{background-color: #465868; padding-top: 15px; padding-bottom: 15px; font-size: 17px; color: #ffffff; font-weight: bold;text-align:left;padding-left: 15px;}
.fromboxmain{width: 435px; max-width: 92%;display: block; display: inline-block; vertical-align: top; text-align: left;}
.fromboxmain span {display: inline-block; font-size:15px;color: #465868;font-weight:bold; vertical-align: top; text-align: center;}
.overflowhidden .fromboxmain span:first-child{width: 98px; text-align: right; padding-top: 8px;}
.fromboxmain span:first-child{width: auto; text-align: right; padding-top: 8px; min-width: 90px;}
.fromboxmain input[type="text"]{width: 190px;height: 37px;border: solid 1px #dadce1;font-size:13px;color:#505050;font-weight:normal; }
.from-box{border-bottom: solid 1px #e1e5e6; padding-top: 10px;padding-bottom: 10px;}

.serchmainbox .from-box{border-bottom: none;}

.search-icon{background: #19b698; width: 36px;height:36px;font-size:15px; color:#000000; border-radius: 45px; border: none;font-family: 'Glyphicons Halflings';content: "\e003"; }
.search-icon:before{}
/**serch-box-css-over**/
.width480 { width: 434px;}
.calnder-icon { width: 39px; height: 41px; background: #f7f9fa; border: solid 1px #eceef0; border-left: none; margin-left: -3px; line-height: 37px; }
.padding-left { padding-left:8px; }
.searchbtn { background: none; border:none; background: url(../img/icon-search.jpg) no-repeat; width:36px; height: 36px; margin-top: 3px; }
body.overflowhidden .fromboxmain input[type="text"].searchfor { width: 260px;}

/**gride-css-start**/
#gride-bg{background-color: #ffffff;margin-top: 0px;  border-bottom: solid 1px #19b698; vertical-align: top; display: inline-block; width: 68.8%;margin-left: 7px; }
#gride-bg .btnorange, #gride-bg .btngray { margin-left: 8px;}

.paginator-text {font-size: 13px; color: #1c2d3d; display: inline-block;padding-top: 18px;}
.addnew-button{ float: right; display: inline-block;}

.massactionbox .dropdown-menu{top: 20px;right: 0px; left: inherit;font-size: 12px;min-width: 200px;}
.bottomgreenborder{border-bottom: solid 1px #19b698;padding-top: 10px;padding-bottom: 10px;}
.paddingbottom10{padding-bottom: 10px;}
/* Table Grid Style Start */
.tablegrid .tablegridrow p{margin: 0;line-height: 20px;}
.tablegrid { display: table; width: 100%; margin-top: 10px; text-align: center; font-weight:normal; color:#666666; }
/*.tablegridheader { font-size:14px; color: #ffffff; font-weight: bold;  height:54px; display: table-row; line-height: 52px;  }*/
.tablegridheader{font-size:12px; color: #ffffff; font-weight: bold; display: table-row; }
/*.tablegridheader div {background: #19b698; display: table-cell; }*/
.tablegridheader div {background: #19b698; display: table-cell;padding-top: 15px;padding-bottom: 15px;}
.tablegridheader div:first-of-type { border-left: 1px solid #DDDDDD; }
.tablegrid .tablegridrow { display: table-row; font-size:12px;  height:40px; }

.tablegrid .tablegridrow div { height:40px; vertical-align: middle;   border-bottom: 1px solid #f0f1f4; display: table-cell;}
.tablegrid .tablegridrow:nth-child(odd) { background:#f2f5f6; }
.tablegrid .tablegridrow:nth-child(even) { background:#ffffff; }
.tablegrid .tablegridrow:hover { background: none repeat scroll 0  0 #EDEDED ;}

.tablegrid .tablegridrow div .btn-group{display: inherit;height: auto;border: none;}
.tablegrid .tablegridrow div .actionmenu{display: inline-block;position: relative;height: auto;border: none;text-align: left;}
.tablegrid .tablegridrow div .dropdown-backdrop{display: inherit;border: none;height: auto;}
.tablegrid .tablegridrow div .dropdown-menu{top: 20px;right: 0px; left: inherit;font-size: 12px;}
#gride-bg .tablegrid .tablegridrow div button{z-index: 0;}

.tablegrid.mobile .tablegridheader { display:none; }
.tablegrid.mobile .tablegridrow { border: 1px solid #DDDDDD; border-bottom:0; height: auto; display: table; width: 100%;background-color: transparent;margin-bottom: 10px;  }
.tablegrid.mobile .tablegridrow:hover {background-color: transparent;}
.tablegrid.mobile .tablegridrow:last-of-type  { border-bottom: 1px solid #DDDDDD;  }
.tablegrid.mobile .tablegridrow div { display:table-row; text-align: left;  border:0; height: 35px; }
.tablegrid.mobile .tablegridrow div div { display:table-cell; padding: 0 5px; width: 50%; }
.tablegrid.mobile .tablegridrow div div:first-of-type { padding: 0 15px;  }
.tablegrid.mobile .tablegridrow div div:first-of-type:not(.actionmenu):not(.btn-group):not(.dropdown-backdrop):not(.checkbox){}
.tablegrid.mobile .tablegridrow div {font-weight: bold;color: #19b698;}
.tablegrid.mobile .tablegridrow div a {font-weight: bold;color: #19b698;}
.tablegrid.mobile .tablegridrow div:last-child {color: #666666; font-weight: normal;}
.tablegrid.mobile .tablegridrow div:last-child a{color: #666666; font-weight: normal;}
.tablegridheader a { color:#ffffff;text-decoration: underline;}
.tablegridheader a:hover {text-decoration: none;}
.tablegrid.mobile .tablegridrow div:nth-child(odd) div:not(.actionmenu):not(.btn-group):not(.dropdown-backdrop):not(.checkbox){background-color: #f2f5f6;}
.tablegrid.mobile .tablegridrow div div:not(.actionmenu):not(.btn-group):not(.dropdown-backdrop):not(.checkbox){border-bottom: 1px solid #DDDDDD;}
.tablegrid.extramarginforbanners .tablegridrow img{margin-top: 5px;}
.tablegrid .tablegridrow img{margin-top: 5px;margin-bottom: 5px;}
.tablegrid.statbannerinputclass input[type="text"]{border: 1px solid #dadce1;}
.statistictables .planstats .tablegrid.divtable .divtd{padding: 0px;}
.statistictablesmain .statistictables .planstats .tablegrid.divtable .divtr:nth-child(odd){background-color: #ffffff;}
.statistictablesmain .statistictables .planstats .tablegrid.mobile.divtable .divtr.tablegridheader{display: none;}
.statistictablesmain .statistictables .planstats .tablegrid.mobile.divtable .divtr.tablegridrow{display: table;}
.statistictablesmain .statistictables .planstats .tablegrid.mobile.divtable .divtr.tablegridrow .divtd{display: table-row;}
.statistictablesmain .statistictables .planstats .tablegrid.mobile.divtable .divtr.tablegridrow .divtd:nth-child(even) div{background-color: #ffffff;}
.tablegrid .tablegridheader .checkbox{color: inherit;}
.tableforremoveheader .checkbox{color: inherit;}
.submenu .tablegrid.mobile .tablegridrow div:first-of-type{width: 30%;}
.submenu .tablegrid .tablegridrow div .checkbox{display: inline-block;width: auto;padding: 0px;height: auto;margin-top: 2px;margin-bottom: 3px;margin-right: 5px;border:none;}
.tableforremoveheader .tablegridrow .checkbox label{margin-left: 5px;}
/* Table Grid Style Over */

/* pageing-start-*/
ul.nice_paging{text-align:center; padding: 0px; margin: 0px; border: solid 1px #dadce1; margin-top: 19px; float: right;}
ul.nice_paging li{padding:4px 10px 4px 10px; float:left; list-style:none; color: #9c9c9c; font-size: 13px;border-right: solid 1px #dadce1;}
ul.nice_paging li.current{background: #19b698;float:left;color: #ffffff;}
ul.nice_paging li a{text-decoration: none;float:left;color:#9c9c9c;display: block;}
ul.nice_paging li:last-child { border-right:none;}
ul.nice_paging li.disabled{display:none;}
 /* pageing-over-*/
 
/**gride-css-over**/
/* ----------------------------------------------  Select menu start ---------------------------------------------- */
div.combobox{background: white url(../img/combobox.jpg) no-repeat center right;  font-variant: normal; }	
div.combobox { overflow:hidden; padding:0; margin:0; border:1px solid #e3e5e7;padding:0px 0 0 0px;height:39px; font-size: 12px; line-height: 39px;}
div.combobox select option{padding: 7px 0px 7px 7px;}
div.combobox select option:hover {box-shadow: 0 0 10px 100px #19B698 inset;}
div.combobox select optgroup {padding: 0px 7px 0px 7px;}
.ie7 div.combobox {border:none;}
div.combobox select {	width:115%; background-color:transparent; background-image:none;-webkit-appearance: none; border:none; box-shadow:none;
height:100%;padding:3px 0;}
.ie7 div.combobox select {width:100%; background-color:#fff; border: solid 1px #ccc; padding:0.3em 0.5em;}
div.combobox{width:192px;}


div.combobox1{background: white url(../img/combobox1.png) no-repeat center right;  font-variant: normal; display: inline-block;}	
div.combobox1 { overflow:hidden; padding:0; margin:0; border:1px solid #e3e5e7;padding:0px 0 0 0px;height:28px; font-size: 13px; line-height: 13px;}
div.combobox1 select option{padding: 7px 0px 7px 7px;}
div.combobox1 select option:hover {box-shadow: 0 0 10px 100px #19B698 inset;}
div.combobox1 select optgroup {padding: 0px 7px 0px 7px;}
.ie7 div.combobox1 {border:none;}
div.combobox1 select {	width:115%; background-color:transparent; background-image:none;-webkit-appearance: none; border:none; box-shadow:none;
height:100%;padding:0px;}
.ie7 div.combobox1 select {width:100%; background-color:#fff; border: solid 1px #ccc; padding:0.3em 0.5em;}
div.combobox1{width:110px;}
/* ----------------------------------------------  Select menu over ---------------------------------------------- */

/* ----------------------------------------------  tab css start ---------------------------------------------- */
.tab-blue-box { background: #19b698;}
.tab-content{background-color: #ffffff;padding: 10px;}
.nav-tabs {border: none;}
.nav-tabs > li > a { color: #ffffff; font-size: 12px; font-weight: bold; border-radius: 0px;  margin-top: -8px; line-height: 35px; height: 30px;}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {background: #ffffff; border: solid 1px #ffffff; border-top: solid 1px #19b698;  margin-top: -8px; }
.nav-tabs > li > a:hover {
  border-color: #fff #fff #fff;
   border-top: solid 1px #19b698
}
.nav > li > a:hover, .nav > li > a:focus { background: #ffffff; color: #19b698; margin-top: -8px; }
.tab-innar {min-height:52px; border-bottom: solid 1px #dddddd;margin-bottom: 10px;}
.tab-innar ul { margin: 0px; padding: 0px; padding-top: 10px;}
.tab-innar ul li { margin: 0px; padding: 0px; display: inline-block;}
.tab-innar ul li a { display: block; font-size: 13px; color: #505050; padding-left: 10px; padding-right: 10px; padding-top: 12px; padding-bottom: 12px;}
.tab-innar ul li a:hover { border-left: solid 1px #dddddc; border-right: solid 1px #dddddc; border-top: solid 1px #19b698; padding-left: 9px; padding-right: 9px; padding-top: 12px; padding-bottom: 12px;}
.tab-innar ul li a.active { border-left: solid 1px #dddddc; border-right: solid 1px #dddddc; border-top: solid 1px #19b698; padding-left: 9px; padding-right: 9px; padding-top: 12px; padding-bottom: 12px;}
.tab-content { background: #ffffff; padding:10px;}


/* ----------------------------------------------  tab css over ---------------------------------------------- */
/*@media all and (min-width: 1100px)
{
    .serchmainbox {display: inline-block; width:25%; vertical-align: top;}
    #gride-bg {width: 72.9%; display: inline-block; vertical-align: top; margin-left: 11px;margin-top: 0px; }
    .fromboxmain span:first-child { width: 90px;}
    .fromboxmain span {padding-right: 6px;}
}*/


/*New Admin Overview Page Css Start By Prashant*/
.statistictablesmain .statistictables{min-width: 280px;margin-top: 15px;}
.statistictablesmain .statistictables .statistictablehead{background-color: #384755;font-size: 18px;color: #ffffff;background-image: url(../img/updownarrow.png);background-repeat: no-repeat;background-position: right 22px;}

.statistictablesmain .statistictables .statistictablehead a{display: block;color: #ffffff;padding: 12px 10px;}

.statistictablesmain .statistictables .statistictablecontent{background-color: #ffffff;}
.statistictablesmain .statistictables .statistictablecontent .contentpadding{padding: 10px;border-bottom: 1px solid #19b698;}
.statistictablesmain .statistictables .statistictablecontent .adminnote textarea{border: 1px solid #e4e4e4;padding: 5px;width: 99%;min-height: 53px;margin-bottom: 10px;}
.statistictablesmain .statistictables .statistictablecontent input[type="submit"],.statistictablesmain .statistictables .statistictablecontent input[type="button"]{min-width: 88px;font-size: 13px;}
.statistictablesmain .statistictables:first-child{margin-top: 0px;}
.statistictablesmain .statistictables:nth-child(even) .statistictablehead{background-color: #19b698;}

.statistictablesmain .statistictables .tableleft{width: 51.2%;min-width: 280px;margin-right: 10px;display: inline-block;vertical-align: top;}
.statistictablesmain .statistictables .tableright{width: 47.2%;min-width: 280px;display: inline-block;vertical-align: top;text-align: center;}
.statistictablesmain .statistictables .tableright input[type="button"]{margin-right: 10px;margin-bottom: 10px;}

.statboxmain{text-align: center;margin-bottom: 5px;}
.statistictablesmain .statistictables .tableleft .statbox{min-width: 148px;width: 32%;min-height: 80px;display: inline-block;background-color: #db665a;margin-right: 6px;margin-bottom: 6px;vertical-align: middle;}
.statistictablesmain .statistictables .tableleft .statbox:nth-child(2){background-color: #35495c;}
.statistictablesmain .statistictables .tableleft .statbox:last-child{margin-right: 0px;background-color: #ffa800;}
.statistictablesmain .statistictables .tableleft .statbox .stattext{font-size: 13px;color: #ffffff;padding: 10px;}
.statistictablesmain .statistictables .tableleft .statbox .stattext span{font-weight: 700;display: block;font-size: 14px;padding-top: 3px;}

.statistictablesmain .statistictables .planstats{margin-bottom: 10px;}
.statistictablesmain .statistictables .planstats .planstathead{background-color: #19b698;font-size: 14px;color: #ffffff;font-weight: 700;padding: 10px;}
.statistictablesmain .statistictables .planstats:nth-child(even) .planstathead{background-color: #35495c;}
.statistictablesmain .statistictables .planstats .divtable{width: 100%;display: table;font-size: 13px;color: #505050;}
.statistictablesmain .statistictables .planstats .divtr{display: table-row;}
.statistictablesmain .statistictables .planstats .divtr:nth-child(even){background-color: #f2f5f6;}
.statistictablesmain .statistictables .planstats .divtd{display: table-cell;padding: 10px;border-bottom: 1px solid #f0f1f4;}
.statistictablesmain .statistictables .planstats .divtd:last-child{font-weight: 700;width: 7%;}

.statistictablesmain .statistictables .adsstatleft{width: 34.40%;min-width: 280px;display: inline-block;vertical-align: middle;text-align: center}
.statistictablesmain .statistictables .adsstatbox{min-width: 148px;width: 47.50%;display: inline-block;min-height: 78px;background-color: #f6f6f6;margin-right: 6px;margin-bottom: 10px;border-bottom: 2px solid #19b698;vertical-align: top;}

.statistictablesmain .statistictables .adsstatbox.redborder{border-color: #db665a;}
.statistictablesmain .statistictables .adsstatbox.yellowborder{border-color:#f4c601;}
.statistictablesmain .statistictables .adsstatbox.darkgrayborder{border-color: #384755;}
.statistictablesmain .statistictables .adsstatbox.blueborder{border-color: #199eb6;}
.statistictablesmain .statistictables .adsstatbox.lightorangeborder{border-color: #e4c18e;}
.statistictablesmain .statistictables .adsstatbox.lightgreenborder{border-color: #66c432;}
.statistictablesmain .statistictables .adsstatbox.grayborder{border-color: #9b9b9b;}
.statistictablesmain .statistictables .adsstatbox .adsstattext{padding: 10px;font-size: 13px;}
.statistictablesmain .statistictables .adsstatbox .adsstattext span{font-weight: 700;display: block;padding-top: 3px;}
.statistictablesmain .statistictables .adsstatright{width: 65.20%;min-width: 280px;display: inline-block;vertical-align: middle;text-align: center;}
.statistictablesmain .statistictables .financialstat{text-align: left;}
.statistictablesmain .statistictables .financialstattitle{font-size: 16px;color: #505050;padding-top: 10px;padding-bottom: 10px;text-align: left;}
.statistictablesmain .statistictables .financialstatbox{width: 32.67%;min-width: 270px;display: inline-block;margin-right: 6px;vertical-align: top;text-align: left;}
.statistictablesmain .statistictables .financialstatbox:last-child{margin-right: 0px;}
.statistictablesmain .statistictables .financialstatbox:nth-child(4){margin-right: 0px;}
#financialstat .financialstat .financialstatbox:nth-child(odd) .planstathead{background-color: #35495c;}
.statistictablesmain .statistictables .financialstat.matrixplan .planstats .planstathead{background-color: #db665a;}
.statistictablesmain .statistictables .financialstat .adsstatbox{width: 19.2%;text-align: center;}
.statistictablesmain .statistictables .financialstat .adsstatbox:nth-child(5){margin-right: 0px;}
.statistictablesmain .statistictables .financialstat .adsstatbox.differ_box{background-color: #19b698;width: 39.4%;margin-right: 0px;color: #ffffff;min-width: 280px;}
.statistictablesmain .statistictables .financialstat .adsstatbox.differ_box .inlineblock {width: 49%;padding-top: 10px;}
.statistictablesmain .statistictables .financialstat .adsstatbox.differ_box .inlineblock span{display: inline-block;padding-left: 30px;}

.statistictablesmain .statistictables.notification .tableleft{width: 49.5%;margin-bottom: 10px;float: left;margin-right: 0px;}
.statistictablesmain .statistictables.notification .tableleft .notificationinner{padding: 10px;}
.statistictablesmain .statistictables.notification .tableleft .statistictablehead{background-color: #384755;}
.statistictablesmain .statistictables.notification .tableright{width: 49.5%;margin-bottom: 50px;float: right;}
.statistictablesmain .statistictables.notification .tableright .statistictablehead{background-color: #384755;}
.statistictablesmain .statistictables.notification .tableright .divtable{margin-top: 15px;padding-bottom: 14px;}
.statistictablesmain .statistictables.notification .tableright .divtd:last-child{width: auto;font-weight: normal;}
.statistictablesmain .statistictables.notification .tableright .divth{padding: 15px 10px;display: table-cell;font-size: 14px;color: #ffffff;background-color: #19b698;font-weight: 700;}
.statistictablesmain .statistictables.notification .tableleft .planstats a{color: #505050;}
.statistictablesmain .statistictables.notification .contentpadding{padding-top: 0px;padding-bottom: 0px;}
#notificationstat .planstats .divtable{margin-top: 12px;margin-bottom: 12px;}

/*Support Page Css Start*/
#ticketboxleft{width:100%;}
#ticketboxright{width:100%;margin-top: 10px;}
#ticketboxleft .serchmainbox{background-color: #f9f9f9;border-bottom:solid 1px #ea6153;text-align:center;  vertical-align: top;width: 100%;}
#ticketboxleft .from-box{ border: none; padding-bottom: 41px; padding-top: 32px; font-size: 13px; font-weight: 600; color: #505050; text-align: left; line-height: 35px; display: inline-block;margin-right: 30px;}
#ticketboxleft .from-box2{ border: none;  font-size: 13px; font-weight: 600; color: #505050; text-align: left; line-height: 35px; display: inline-block;}

#ticketboxleft .from-box div, #ticketboxleft .from-box2 div{line-height: 20px;;padding-top: 7px;padding-bottom: 7px;}

#ticketboxleft .from-box span{font-weight: normal;}
#ticketboxleft .from-box2 span{font-weight: normal;}
#ticketboxleft .from-box2 a{color: #ea6153;}
#ticketboxright .serchmainbox{background-color: #f9f9f9;border-bottom:solid 1px #ea6153; text-align:center; vertical-align: top;width: 100%;}
#ticketboxright .from-box{ border: none; padding: 10px; }
#ticketboxright textarea{border:1px solid #e7e7e7;width: 98%;margin-bottom: 10px;padding:5px 10px;}
#ticketboxright .tablegrid{border-top: 1px solid #e7e7e7;border-left: 1px solid #e7e7e7;border-right: 1px solid #e7e7e7;}
#ticketboxright .tablegrid .tablegridrow{height: 33px;background-color: #ffffff;}
#ticketboxright .tablegrid .tablegridrow div{height: 23px;padding-top: 5px;padding-bottom: 5px;}
#ticketboxright .tablegrid .tablegridrow div div{padding-top: 0px;padding-bottom: 0px;border-bottom: none;}
#ticketboxright .tablegrid .tablegridrow div #browservalue{display: block;margin-left: 65px;}
/*Support Page Css Over*/

/*Member Details Page Css Start*/
.adminovimain { background: #f2f5f6; padding: 15px; border-top: solid 1px #5eccb7; width: 793px; margin: 0px auto; max-width: 100%; margin-bottom: 15px;}
.fromovi { width: 100%; border: 1px solid #dddddd;display: inline-block; text-align: left; background: #ffffff;}
.ovititle { font-size: 20px; color: #000000; text-align: left; padding-top: 8px; padding-bottom: 10px;+}
.fromovitextin { font-size: 12px; color: #373737; display: inline-block; width: 49%; padding-left: 5px; padding-top: 10px; padding-bottom: 10px; background: #f7f9f9;}
.fromovitextin.fromovitextinwithheight{min-height: 40px;;vertical-align: top;padding-top: 0px;padding-bottom: 0px;}
.fromovitextin:first-child { border-right: solid 1px #dddddd;}
.fromnewtext2{color: #000000;display: inline-block;font-size: 13px;font-weight: normal;margin-left: -4px;padding-bottom: 5px;padding-top: 15px;text-align: left;width: 50%;}
.ovileft { width: 150px; display: inline-block; vertical-align: middle; text-align: left; font-size: 13px; color: #000000;}
.ovimiddle { width: 530px; max-width: 100%; display: inline-block; margin-left: -4px; vertical-align: middle; text-align: left; padding-top: 5px; padding-bottom: 5px;}
.oviright { width: 98px; display: inline-block; vertical-align: middle; margin-left: -4px; text-align: center;}
.ovisubtitletext { font-size: 16px; color: #19b698;}
.ovifrombox { background: #ffffff; border: solid 1px #dddddd; width: 100%; height: 39px; padding-left: 5px;}
.oviprofilebg { background: #ffffff; width: 218px; display: inline-block; padding-bottom: 10px; padding-top: 10px;  vertical-align: top;}
.ovibrose { display: inline-block; padding-top: 6px;}
.oviprofileright { width:545px; display: inline-block;max-width: 100%; vertical-align: top; text-align: left; padding-left: 9px;}
.ovinotetext { font-size: 13px; color: #000000;}
.admintopfrom { border: solid 1px #dddddd; padding-bottom: 8px; background: #ffffff; margin-top: 6px;}
.borderpadding { border-left: solid 1px #dddddd; margin-left: -2px;  width: 50%;}
#gride-bg .ovibrose .btnorange{margin-right: 0px;}
.frommain .fromboxbghalf:last-child{border-right: none;}
.differentform{text-align: left;}
.differentform .fromovi2.width100{width: 100%;}
.fromovi2 { width: 50%; border: 1px solid #dddddd;display: inline-block; text-align: left; background: #ffffff;}
.formrightborder{border-right: solid 1px #dddddd;}
.differentforminner .fromboxbghalf{width: 98%;}
.ovipayment { width: 611px; display: inline-block; vertical-align: middle; margin-top: 6px; margin-bottom: 6px; max-width: 100%;}
/* ----------------------------------------------  tab2 css start ---------------------------------------------- */
#tab2 {}
#tab2 .tab-blue-box { background: #19b698;}
#tab2 .tab-content{background-color: #ffffff;padding: 10px;}
#tab2 .nav-tabs {border: none;}
#tab2 .nav-tabs > li > a { color: #505050; font-size: 14px; font-weight: normal; border-radius: 0px;  line-height: 30px; height: 30px; margin-top: 0px;}
#tab2 .nav-tabs > li.active > a,
#tab2 .nav-tabs > li.active > a:hover,
#tab2 .nav-tabs > li.active > a:focus {background: #ffffff; border: solid 1px #ffffff; border-top: solid 1px #19b698; margin-top: 0px; color: #19b698; border-left: solid 1px #dddddd;border-right: solid 1px #dddddd;}
#tab2 .nav-tabs > li > a:hover {
  border-color: #fff #fff #fff;
   border-top: solid 1px #19b698
}
#tab2 .nav > li > a:hover, .nav > li > a:focus { background: #ffffff; color: #19b698; }
#tab2 .tab-innar {min-height:52px; border-bottom: solid 1px #dddddd;}
#tab2 .tab-innar ul { margin: 0px; padding: 0px; padding-top: 10px;}
#tab2 .tab-innar ul li { margin: 0px; padding: 0px; display: inline-block;}
#tab2 .tab-innar ul li a { display: block; font-size: 13px; color: #505050; padding-left: 10px; padding-right: 10px; padding-top: 13px; padding-bottom: 13px;}
#tab2 .tab-innar ul li a:hover { border-left: solid 1px #dddddc; border-right: solid 1px #dddddc; border-top: solid 1px #19b698; padding-left: 9px; padding-right: 9px; padding-top: 12px; padding-bottom: 12px;}
.tab-content2 { background: #ffffff; padding:10px; border-top: solid 1px #dddddd;}
/* ----------------------------------------------  tab2 css over ---------------------------------------------- */
/*Member Details Page Css Over*/


@media all and (max-width: 769px)
{
  #menu ul li a.nosign{color: #19b698;}
  #menu ul li a.nosign:hover{color: #ffffff;}
  .mobilewidth100{width: 100% !important;}
  .statistictablesmain .statistictables .tableleft .statbox{min-width: 126px;}
  .statistictablesmain .statistictables .adsstatleft .adsstatbox{max-width: 144px;min-width: 0px;}
  .statistictablesmain .statistictables .financialstat .adsstatbox:nth-child(5){margin-right: 6px;}
  .statistictablesmain .statistictables .financialstat .adsstatbox.differ_box{min-width: 66%;margin-right: 5px;}
  #ticketboxleft{margin-bottom: 10px;}
  #ticketboxleft .from-box{padding-top: 10px;padding-bottom: 10px;width: 90%;margin-right: 0px;}
  #ticketboxleft .from-box2{padding-bottom: 10px;width: 90%;}
  #ticketboxright textarea{width: 95%;}
  
  /*Member Details Page Css Start*/
  .adminovimain .fromboxbghalf { width: 46.4%;}
  .borderpadding { width: 49.6%;}
  .fromovitextin { width: 47.6%;}
  .ovimiddle { width: 61%;}
  .ovileft { width: 100px; font-size: 12px;}
  .oviright { width: 64px;}
  .ovipayment { width: 74%;}
  .oviprofileright { padding-left: 0px;}
  /*Member Details Page Css Over*/
  
  #footer{padding-left: 5px;padding-right: 5px;padding-bottom: 10px;}
  
  .tab-blue-box{background-color: transparent;}
  .nav-tabs > li {display: block;float: none;}
  .nav-tabs > li > a{padding-top: 5px;padding-bottom: 5px;line-height: normal;margin-bottom: 7px !important;margin-top: 0px !important;background-color: #19b698;height: auto;}
  .topmenu .notmobile.topmenuinner{display: none;}
}
/*New Admin Overview Page Css Over By Prashant*/

/*Withdraw Page Css Start*/
.withdrawtable .tablegrid{margin-top: 0px;background-color: #ffffff;border-bottom: 1px solid #ea6153;}
.withdrawtable .tablegridheader div{background-color: #f9f9f9;border-bottom: 1px solid #e1e5e6;color: #666666;font-weight: 600;border-left: none;}
.withdrawtable .tablegridrow div{line-height: 52px;}
.withdrawtable .tablegridrow div:first-child{width: 14%;}
.withdrawtable .tablegrid .tablegridrow:hover{background-color: transparent;}
.withdrawtable .tablegrid.mobile .tablegridrow div{line-height: normal;}
.withdrawtable .tablegrid.mobile .tablegridrow div div:first-of-type{background-color: #f9f9f9;color: #666666;font-size: 14px;}
/*Withdraw Page Css Over*/
.tooltip{z-index: 1 !important;}
@media all and (max-width: 450px)
{
    .fromboxmain{text-align: center;max-width: 100%;}
    .fromboxmain span:first-child {text-align: center; padding-bottom: 6px;}
    #gride-bg{margin-left: 0px;}
    #gride-bg,.serchmainbox { width: 100% !important; margin-top: 10px;}
    .nav-tabs > li > a,.nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus { margin-top: 0px;}
    .nav > li > a:hover, .nav > li > a:focus { margin-top: 0px;}
    

    /*New Admin Overview Page Css Start*/
    .statistictablecontent .adminnote textarea{width: 96%;}
    .statistictablesmain .statistictables .adsstatleft .adsstatbox{width: 83%;max-width: inherit;}
    .statistictablesmain .statistictables .financialstat .adsstatbox{width: 83%;max-width: inherit;}
    .statistictablesmain .statistictables .tableleft .planstatsmain{padding-right: 10px;}
    .statistictablesmain .statistictables .financialstat .adsstatbox.differ_box{min-width: 82%;}
    .statistictablesmain .statistictables.notification .tableright .divtable{font-size: 11px;}
    .statistictablesmain .statistictables .statistictablecontent .adminnote textarea{width: 96%;}
    .statistictablesmain .statistictables.notification .tableright .divth{font-size: 11px;padding: 15px 8px;}
    
    /*New Admin Overview Page Css Over*/
    
    /*Member Details Page Css Start*/
    .paidfrombox { width: 183px; margin-bottom: 5px;}
    .paiddrop { width: 183px; margin-bottom: 5px;}
    .cont img { width: 100%;}
    .fromborderdropedown5 { width: 41%;}
    .tooltipright { margin-left: -36px;}
    .select-main3 { width: 31%;}
    .memberbluemain { width: 99%;}
    .adminovimain { padding: 0px;}
    .ovileft {max-width: 100%; text-align: left; font-size: 11px; width: 84px;}
    .ovimiddle { width: 41%;}
    .oviright { width: 52px;}
    .ovipayment { width: 66%;}
    .fromovi .select-main2 {width: 49%;}
    .fromovitextin { width: 47%;}
    .fromnewtext2 { font-size: 12px;}
    .oviprofileright { padding-left: 0px;}
    /*Member Details Page Css Over*/
    
    .select-main2.select-main-different{width: 52.7%;}
    
    
    #ticketboxright textarea{width: 91%;}
}
body.overflowhidden .serchmainbox{width: 100%;}
body.overflowhidden  #gride-bg{margin-top: 10px; margin-left: 0px; width: 100%;}
body.overflowhidden .fromboxmain input[type="text"]{width: 220px;}
body.overflowhidden div.combobox{width:262px;}

.serchmainbox .fromboxmain{margin-bottom: 10px;}
body.overflowhidden .serchmainbox .fromboxmain{margin-bottom: 0px;}

body.overflowhidden .fromboxmain { text-align: inherit;}
body.overflowhidden .width480 { width: 480px;}
#tab2 .nav-tabs > li > a { height: 20px; line-height: 20px;}
/*Mayur Css Over*/

@media all and (max-width: 700px)
{
    #leftbar .leftbarcontent{display: none;}
    #leftbar.active_toggled .leftbarcontent{display: block;}
    .topmenu{float: left;margin-left: 100px;}
    .topmenu ul.notmobile{display: none;}
    .notmobile{display: none;}
    .mobilewidth100{width: 100%;}
    .onlymobile{display: block;}
    .mobilefloatnone{float: none !important;}
    
    #leftbar.active_toggled{width: 100% !important;}
    #leftbar.active_toggled .leftbarfix{width: 100% !important;max-width: 100%;transition: width 300ms ease-in-out;}
    #leftbar.active_toggled .leftmenutogglebutton{right: 5px;}
    #leftbar.active_toggled #menu{width: 100%;}
    #leftbar .mCSB_scrollTools{right: 2px;}
    #leftbar.active_toggled .glyphicon.glyphicon-tasks:after{content: "\e014";color: #ffffff;font-size: 9px;display: block;position: absolute;right: -5px;top: 1px;padding: 1px;background-color: #db5f55;border-radius: 5px;}
}

/*form design start*/
.tooltipmain-right { right: 0; top: 0; z-index: 9999;}
.tooltipmain { display: inline-block; vertical-align: top; margin-left: -4px; width: 32px; height: 40px; border: solid 1px #dddddd; text-align: center; }
.glyphicon-question-sign:before { font-size: 20px; color: #7f7f7f; line-height: 40px;   content: "\e085";  font-family: 'Glyphicons Halflings'; }
.tooltipmain-2 { display: inline-block; vertical-align: top; margin-left: -4px; width: 37px; height: 39px; border: solid 1px #dddddd; text-align: center; }

.red-color { color: #ff1800;}
.from-textarea { height: 92px; max-width: 100%; width: 98%; border: none; padding-left: 8px; }
.tooltipright { margin-left: -33px; border-right: none; border-top: none;}
.tooltip-inner { background: #ffffff; border: solid 1px #19b698; color: #465868; border-radius:0px;}
.tooltip.top .tooltip-arrow {  border-top-color: #19b698; }
.tooltip.bottom .tooltip-arrow {top: 0;left: 50%;margin-left: -5px;border-width: 0 5px 5px;border-bottom-color: #19b698;}

.formbutton{text-align: left;padding: 10px 0px;}
.frommain {  text-align: center; width: 780px; margin: 0px auto;}
.fromnewtext { font-size: 13px; color: #000000; padding-top: 15px; padding-bottom: 5px;   text-align: left; font-weight: 600;}

.fromborder { border: solid 1px #dddddd; padding: 5px; text-align: left; width: 94.2%; display: inline-block;}
.checkboxlist.fromborder{padding:4px;}
.fromborder3 {border: 1px solid #dddddd; display: inline-block;text-align: left; width: 95%;}
.frommain .btnorange {background: #ea6153;border: none; padding: 5px; color: #ffffff; transition: all 800ms ease-in-out;}
.frommain .btngray{padding: 5px;}
.actionmenu .btndeleteall{ background: url(../img/delete.png) no-repeat; background-position: 10px;border: none; padding: 5px 5px 5px 40px; color: #000;}
.actionmenu .btndeleteselected{ background: url(../img/delete.png) no-repeat; background-position: 10px;border: none; padding: 5px 5px 5px 40px; color: #000;}
.actionmenu .massactionbtn{ background-color: transparent;border: none;  width: 100%; clear: both;color: #333;display: block;font-weight: 400;line-height: 1.42857;padding: 3px 20px;white-space: nowrap;text-align: left;}
.actionmenu .massactionbtn:hover{background-color: #f5f5f5;}
.paddingtop0{padding-top: 0;}
.fromboxbg { width: 98%; max-width: 100%; border: none; height: 28px; padding-left: 8px; background: #ffffff;}
.fromnewboxs { max-width: 100%; }
.fromborderdropedown {border: 1px solid #dddddd;display: inline-block;text-align: left;width: 95.5%; width: 95%\9;}
.fromborderdropedown2 {border: 1px solid #dddddd;display: inline-block; text-align: left; width: 95.5%; width:94.5%\9;}
.fromborderdropedown3 {border: 1px solid #dddddd;display: inline-block; text-align: left; width: 99.7%; min-height: 40px;}
.fromborderdropedown5 { width: 49.5%;border: 1px solid #dddddd;display: inline-block; text-align: left; vertical-align: top; height: 40px; }
.fromboxbghalf { width: 48.4%; max-width: 100%; border: none; height: 38px; border-right: solid 1px #dddddd; padding-left: 8px; background: #ffffff; }   
.frombordermain {  border: solid 1px #dddddd;}
.fromboxbgcalnder {  border: medium none;height: 36px;max-width: 100%;width: 92.6%; padding-left: 8px;}
.rediobtn { text-align: center; padding-top: 8px; padding-bottom: 8px;}
.retbtn { display: inline-block; vertical-align: middle;}
.cont { display: inline-block; vertical-align: top;font-size: 13px;padding-right: 20px;}
.fromborder4 {  border: solid 1px #dddddd;  text-align: left;  display: inline-block; width: 99.6%;}
.matrixbonus .fromborder4{border: none;vertical-align: top;background-color: #f6f6f6;margin-bottom: 10px;margin-top: -3px;width: 100%;}
.matrixbonus .fromborder4 .fromborder4left{text-align: left;padding-left: 10px;width: 100%;}
.matrixbonus .fromborder4 .fromborder4left .levalwhitfromtext {padding-left: 10px;}
.fromborderdropedown3 .fromboxbg { margin-top: 4px;}
.tooltipfronright { float: right; }
.tooltipfronright .tooltipmain { border: none; border-left: solid 1px #dddddd; border-bottom: solid 1px #dddddd;}
.fromborder4left { float: left; text-align: center; width: 720px;}
.levalwhitfromtext { min-width: 60px; font-size: 12px; color: #373737; display: inline-block; margin-top: 6px; margin-bottom: 6px; }
.levalwhitfrombox { width: 73px; border: solid 1px #dddddd; display: inline-block; margin-top: 6px; margin-bottom: 6px;}
.fromboxbg4 { width: 87%; max-width: 100%; border: none; height: 28px; padding-left: 8px; background: #ffffff;}
.checkbox { font-size: 12px; color: #373737; display: inline-block; vertical-align: middle; padding-left: 5px; padding-bottom: 7px; padding-top: 7px;}
.daystexthaf { display: inline-block; padding-left: 5px; padding-right: 5px; }
.borderwidth {border-right: none; border-left: solid 1px #dddddd; width: 40%; margin-left: -3px;}
.tooltipborder { border: none; background: #ffffff; border-left: solid 1px #dddddd;}
.chekboxwhitebox { background: #ffffff; border: solid 1px #dddddd; margin-top: 10px; padding: 4px;}
.addplantext { font-size: 12px; color: #ea6153; padding-top: 5px; padding-bottom: 5px; text-align: left;}
.paidetext { display: inline-block; width: 129px; vertical-align: top; line-height: 34px;}
.paidfrombox { width: 129px; display: inline-block; border: solid 1px #dddddd; height: 37px; margin-left: -4px; vertical-align: top; background: #ffffff;}
.paiddrop { border: solid 1px #dddddd; width: 336px; display: inline-block; margin-left: -4px;}
.fromdisply { display: inline-block; vertical-align: top;}
.fromboxbghalf2 { -moz-border-bottom-colors: none;border: none;background: #ffffff;border-left: solid 1px #dddddd;height: 37px;max-width: 100%;width: 43%;padding-left: 8px;}
.fromicon { color: #c4cbd1; margin-left: -3px; font-size: 25px; display: inline-block; padding-left: 6px; padding-right: 6px; border-left: solid 1px #dddddd; padding-bottom: 4px; line-height: 36px;}
.tooltipfullborder { border: solid 1px #dddddd; height: 37px; background: #ffffff;}
.fromgreybox { background: #f6f6f6; padding: 10px; }
.fromgreybox .chekboxwhitebox{text-align: left;}
.select-main{position: relative;font-size: 14px;font-weight: normal;color: #999999;display: inline-block;width: 100%;vertical-align: top;}
.select-main label:before{content: ""; font-family: 'Glyphicons Halflings'; background: url(../img/arrow-down.jpg) no-repeat; background-position: center; background-color: #f7f9fa; border-left: solid 1px #e6e8ea; display: block;height: 40px;pointer-events: none;position: absolute;right: 0px;top: 0px;width: 40px; text-align: center; line-height: 37px; color: #19b698; font-size: 13px;}
.select-main label:after{ background-color: #ffffff; color: #7f7f7f; background: url(../img/arrowselact.jpg) no-repeat; background-position: center; padding: 0 0 2px;pointer-events: none;position: absolute;right: 10px;top: -3px;transform: rotate(90deg);-webkit-transform:rotate(90deg); line-height: 45px; }
.select-main label{position: relative;display: block;margin-bottom: 0px;}
.select-main select{ background-color: #ffffff; width: 100%;height: 40px;border: none;font-weight: normal;outline: none;padding-left: 5px;line-height: 38px;-webkit-appearance:none;border-radius: 0px;-webkit-border-radius: 0; font-size: 12px; color: #373737;}
.select-main select option{padding: 5px;}
.select-main select option:hover {box-shadow: 0 0 10px 100px #00a7aa inset;}
.select-main select option:checked { background: linear-gradient(#00a7aa, #00a7aa);}
.padding28 { padding-left: 28px;}
.select-main2 { width: 49.7%;  display: inline-block;vertical-align: top;}
.select-main3 { width: 44.7%;  display: inline-block;vertical-align: top;}
.select-main3:first-child { border-right: solid 1px #dddddd;}
.select-main4 {  width: 100%;  display: inline-block;vertical-align: top;}
.select-main4 .select-main label:before{content: ""; font-family: 'Glyphicons Halflings';  background-color: #f7f9fa; border-bottom: solid 1px #e6e8ea; display: block;height: 37px;pointer-events: none;position: absolute;right: 0px;top: 0px;width: 37px; text-align: center; line-height: 37px; color: #19b698; font-size: 13px;}
.select-main4 .select-main select{width: 100%;height: 37px;border: none;font-weight: normal;outline: none;padding-left: 5px;line-height: 44px;-webkit-appearance:none;border-radius: 0px;-webkit-border-radius: 0; background-color: #ffffff;}

a,input,button,textarea,select,option{outline:none;border: none;}
a:focus{border: none;outline:none;}
select:focus{border: none;}

.checkbox label {display: inline-block;cursor: pointer; color: #373737;font-size: 12px;  line-height:18px; font-style: normal;font-weight: normal; margin-bottom: 0px;}
input[type=checkbox] {display:none; }

.checkbox label:before {content: "";display: inline-block;width: 14px;height: 14px;vertical-align:middle; border: 1px solid rgba(155, 155, 155, 0.57); text-align: center;margin-right: 5px;background-color: rgba(243, 243, 243, 0.85);}
input[type=checkbox]:checked + label:before {content: "\2713";line-height: 10px;font-size: 14px; font-weight: 700; color: #565656; background-color: rgba(243, 243, 243, 0.85);}
input[type=checkbox]:disabled + label:before {content: "";display: inline-block;width: 14px;height: 14px;vertical-align:middle; border:  1px solid rgba(155, 155, 155, 0.57); text-align: center;margin-right: 5px;background-color: #dddddd;}


.rediobox label {display: inline-block;cursor: pointer; color: #373737;font-size: 12px;  line-height:18px; font-style: normal;font-weight: normal;}
input[type=radio] {display:none; }
.rediobox label:before {content: "";display: inline-block;width: 14px;height: 14px;vertical-align:middle; border: 1px solid rgba(155, 155, 155, 0.57); color: #f3f3f3;text-align: center; border-radius: 8px;background-color: rgba(243, 243, 243, 0.85);}
input[type=radio]:checked + label:before {content: "\e124";font-size: 7px; color: #565656; font-weight: 700; line-height: 13px; background: rgba(243, 243, 243, 0.85);font-family:"Glyphicons Halflings";}
.fromchekspadding { padding-top: 0px; padding-left: 4px;display: inline-block;vertical-align: middle;}
.paidetext2 { display: inline-block; width: 159px; vertical-align: top; line-height: 34px;}


.linktotext { padding-left: 10px; padding-top: 5px; padding-bottom: 5px; }
.linktotext a { text-decoration: none; color: #00a7aa; }

.fromborderdropedown4 {border: 1px solid #dddddd;display: inline-block; text-align: left; width: 99%; min-height: 40px; line-height: 40px; padding-left: 5px;}
.fromborderdropedown6 {border: 1px solid #dddddd;display: inline-block; text-align: left; width: 94%; min-height: 36px; line-height: 37px; padding-left: 5px;}
.fromboxbgcal { width: 89%; max-width: 100%; border: none; height: 37px; padding-left: 8px; background: #ffffff; border: solid 1px #dddddd; margin-right: 0px; vertical-align: middle; }
.height39{height: 39px;}

.fromboxbgcal2 { width: 41%; max-width: 100%; border: none; height: 37px; padding-left: 8px; background: #ffffff; border: solid 1px #dddddd; vertical-align: middle; margin-left: -4px;}
.mlavel { display: inline-block; width: 224px; text-align: center; max-width: 100%; }
.stepcss{background-color: #f2f2f2;font-size: 15px;padding: 10px;margin-top: 25px;}

.addnew-button.checkbox{padding: 8px 20px;background-color: #f5f5f5;border: 1px solid rgba(0, 0, 0, 0.1);margin-left: 10px;}
.addnew-button.checkbox label:before{margin-right: 0px;}
.addnew-button.checkbox label{line-height: 11px;}

.addnew-button.checkbox + .addnew-button .actionmenu{}
.addnew-button.checkbox + .addnew-button .actionmenu .btn-group button{padding: 7px 10px;border-radius: 0px;}
.addnew-button.checkbox + .addnew-button .actionmenu .btn-group ul.dropdown-menu{top: 32px;}
.fromborderdropedown2.referralpolicy .fromborderdropedown5{border: none;border-right: 1px solid #dddddd;width: 49%;}
.fromborderdropedown2.referralpolicy .fromborderdropedown5.coockiedays{border:none;}

.formborderfinance{width: 48%;display: inline-block;}
.formborderfinance .fromborder{width: 87%;}
.plussign{font-size: 26px;font-weight: 700;display: inline-block;margin-left: 4px;margin-right: 6px;vertical-align: bottom;padding-bottom: 5px;}



@media all and (min-width: 768px) {
.mainborderbox{border: 1px solid #dddddd;min-height: 39px;}
.mainborderbox .paidetext2{line-height: 40px;}
.mainborderbox .paidfrombox{height: 40px;}
.mainborderbox .paidfrombox,.mainborderbox .tooltipmain{border-top:none;border-bottom: none;line-height: 40px;}
.mainborderbox .tooltipmain{margin-left: 8px;border-right: none;}
}
@media all and (min-width: 768px) and (max-width: 768px) {
.mainborderbox .paidetext2{width: 120px;}
.mainborderbox .paidetext2:nth-child(3),.mainborderbox .paidetext2:nth-child(5){width: 71px;}
.mainborderbox .paidfrombox{width: 64px;}
.mainborderbox .fromboxbg4{width: 86%;}
.extracssfortab.mainborderbox .paidetext2{width: auto !important;}
.extracssfortab.mainborderbox .paidetext2:nth-child(3),.extracssfortab.mainborderbox .mainborderbox .paidetext2:nth-child(5){width: auto !important;}
.extracssfortab.mainborderbox.secondfortab .paidfrombox{width: 40px;}
.extracssfortab.mainborderbox.secondfortab .paidfrombox .fromboxbg4{width: 77%;}

.statistictablesmain .statistictables .adsstatbox{min-width: 49%;}
.statistictablesmain .statistictables .adsstatbox:nth-child(even){margin-right: 0px;}
.statistictablesmain .statistictables .financialstat .adsstatbox.differ_box{min-width: 100% !important;margin-right: 0px;}
#allcontent[style="width: 344px;"] .statistictablesmain .statistictables .adsstatbox{min-width: 48%;}
.fromgreybox .fromborderdropedown3 .select-main3{width: 40.7%;}
#SiteSettingForm .frommain .fromnewtext{font-size: 12px;}
#SitesettingAdminpanelBalancetransferForm .fromborderdropedown5{width: 45%;}
#settingpage .fromborderdropedown5{width: 45%;}
#financepage .fromborderdropedown5{width: 45%;}
.sitesetting .sitesettingmainbox{margin-left: 0px;}
#Memberadd .adminovimain{max-width: 93%;}
#allcontent[style="width: 661px;"] .tab-content2 .ovileft{width: 146px;}
.positions-menu-drowp ul li{float: none !important;display: inline-block !important;border: 1px solid #d4d4d4;margin-left: 5px;margin-top: 5px;}
.serchmainbox .fromboxmain{margin-bottom: 5px;}
#ThemeAdminpanelThemeaddForm .fromborderdropedown6{width: 90%;}
#SitesettingAdminpanelBalancetransferprocessorForm .fromborderdropedown6{width: 90%;}
.width100ontab{width: 100% !important;margin-bottom: 10px;}

#allcontent[style="width: 344px;"] .frommain{max-width: 100%;}
#allcontent[style="width: 344px;"] .fromborder{width: 86%;}
#allcontent[style="width: 344px;"] .fromborderdropedown{width: 86%;}
#allcontent[style="width: 344px;"] .fromborderdropedown2{width: 86%;}
#allcontent[style="width: 344px;"] .fromborderdropedown2 .fromboxbghalf{width: 45.4%;}
#allcontent[style="width: 344px;"] #SiteSettingForm .fromborder{width: 85%;}
#allcontent[style="width: 344px;"] #ThemeAdminpanelAdminthemeaddForm .fromborderdropedown6{width: 86%;}
#allcontent[style="width: 344px;"] #ThemeAdminpanelAdminthemeaddForm .fromborder{width: 85%;}

#profile .frombordermain .from-textarea{width: 97.2%;}
#ThemeAdminpanelAdminthemeaddForm .fromborderdropedown6{width: 90%;}
.addnew-button.checkbox + .addnew-button{float: none;}
}
@media all and (max-width: 700px)
{
  #leftbar .welcomebox{padding: 7px;}
  #leftbar .welcomephotomain{display: none;}
  #leftbar span.welcometextinner{display: none;}
  #leftbar .welcometext .glyphicon-info-sign{display: none !important;}
  #leftbar .welcometext .btn-group{display: none;}
  #leftbar .welcometext a{display: inline-block;padding-right: 9px;padding-left: 9px;border-right: 1px solid #000000;}
  #leftbar .welcometext{width: 100%;padding-left: 0px;text-align: center;}
  #leftbar .welcometext a:last-child{border: none;}
}
@media all and (max-width: 769px) {
  


.frommain { width: 433px; }
.fromborder { width: 89%;}
.from-textarea { width: 95.2%;padding-right: 0px;}
.fromborderdropedown { width: 91.5%;}
.fromborderdropedown2 {width: 91.5%;}
.fromboxbgcalnder { width: 87.6%;}
.fromborder3 { width: 91%;}
.fromborder4left { width: 340px;}
.borderwidth { width: 37%;}
.fromboxbghalf2 { width: 37.2%;}
.fromboxbghalf { width:46.4%;}
.paidfrombox { width: 81px;}
.paiddrop { width: 85px;}
.emailmain { width:99%;}
.memberbluemain { width: 98%;}
.fromboxbgcal { width: 80%;}
.fromboxbgcal2 { width: 33%;}
.fromborderdropedown3 .fromboxbg{width: 97%;}
.serchmainbox{width: 100%;}
#gride-bg{width: 100%;margin-left: 0px;}
.nofloatonmobile{float: none !important;}
.forsmallviewmassactionbox{margin-top: 10px !important;margin-bottom: 10px;}
.addnew-button { margin-top: 8px;}
.tablegrid.mobile .tablegridrow:last-of-type { border-bottom: none;}
.bottomgreenborder { padding-top: 0px;}
.tab-innar ul li{display: block;}
.tab-innar ul li a{border: 1px solid #dddddc;padding: 2px 9px;margin-bottom: 5px;}
.tab-innar ul li a.active{padding: 2px 9px;}
.tab-innar ul li a:hover{padding: 2px 9px;}
#tab2 .nav-tabs > li > a{color: #ffffff;}
.serchgreybox.fontsmallonmobile{font-size: 12px;}
.emailcentermain .emailmain{width: 100%;}
#LanguagephaseAdminpanelLanguagephaseForm .btngray{margin-top: 5px;margin-bottom: 5px;}
#bannerbox img{max-width: 82%;}
.tablegrid.mobile .btnorange{margin-top: 5px;margin-bottom: 5px;}
.tablegrid.mobile .actionmenu,.tablegrid.mobile .btn-group{padding: 0px !important;}
.paginator-text{font-size: 11px;}
.versiontext{max-width: 77%;}
.versiontext img{max-width: 100%;height: auto;}
.versionmain .padding-tabal{display: none;}

.formborderfinance{width: 46%;}
.formborderfinance .fromborder{width: 77%;}
}
@media all and (max-width: 400px) {
.frommain { width: 235px; }
.fromborder { width: 80%;}
.fromborderdropedown,.fromborderdropedown2 { width: 84.5%;}
.fromboxbghalf { width: 40.5% !important;}
.fromboxbgcalnder { width: 73.6%;}
.fromborder3 { width: 85%;}
.fromborder4left { width:195px; }
.fromboxbghalf2 { width: 74.2%; border-bottom: solid 1px #dddddd;}
.fromboxbgcal2 { width: 22%;}
.paidfrombox { width: 183px; margin-bottom: 5px;}
.paiddrop { width: 183px; margin-bottom: 5px;}
.cont img { width: 100%;}
.fromborderdropedown5 { width: 41%;}
.tooltipright { margin-left: -36px;}
.select-main3 { width: 31%;}
.memberbluemain { width: 99%;}
.padding28 { padding-left: 0px;}
.fromboxbgcal { width: 63%;}
.fromborder-different .rediobox img{max-width: 56%;}
.fromborder-different .rediobtn{text-align: left;max-width: 98%;padding-left: 10px;}
.tab-content .padding10{padding-left: 0px;padding-right: 0px;}
.fromborderdropedown3 .fromboxbg{width: 96%;}
.fromborder4 #SitesettingHeaderPrifix.from-textarea{width: 96% !important;}
.fromborder4 #SitesettingFooterAppendix.from-textarea{width: 96% !important;}

.tab-innar ul li{display: block;}
.tab-innar ul li a{border: 1px solid #dddddc;padding: 2px 9px;margin-bottom: 5px;}
.tab-innar ul li a.active{padding: 2px 9px;}
.tab-innar ul li a:hover{padding: 2px 9px;}
.fromboxmain span{font-size: 12px;}
.fromboxmain span+span{max-width: 65%;}
.fromboxmain input[type="text"]{max-width: 98%; margin-bottom: 5px;}
.fromboxmain input[type="text"].datepicker{max-width: 74%; margin-bottom: 6px;}
.statistictablesmain .statistictables .financialstat { text-align: center;}
.statistictablesmain .statistictables .adsstatbox { margin-right: 0px;}
.statistictablesmain .statistictables .financialstat .adsstatbox.differ_box { margin-right: 0px;}
.statistictablesmain .statistictables .financialstat .adsstatbox.differ_box { min-width: 100%;}
.paginator-text { padding-top: 10px; padding-bottom: 10px; font-size: 11px;}
#gride-bg, .serchmainbox { margin-top: 0px;}
.tablegrid.mobile .tablegridrow:last-of-type { border-bottom: none;}
.searchoptionselect { margin-bottom: 7px;}
.ovipayment { width: 62%;}

.positions-menu-drowp { border-bottom: none !important; margin: 0px !important; margin-top: 12px !important; }
.positions-menu-drowp ul{margin-left: 0px !important;}
.positions-menu-drowp ul li { border-right: 0px; width: 100%; }
.positions-menu-drowp ul li a { height: inherit; border-bottom: solid 1px #d4d4d4; width: 91%; text-align: left !important;}
.statistictablesmain .statistictables { min-width: 222px;}
.statistictablesmain .statistictables .financialstatbox { min-width: 249px;}
.fromnewtext { font-size: 10px;}
.fromborderdropedown6 { width: 82%;}
.checkbox label:before { margin-left: 10px;}
.mainborderbox .paidfrombox{width: 228px;}

.mainborderbox .paidetext2:nth-child(1){width: 48%;height: 37px;line-height: normal;}
.mainborderbox .paidfrombox:nth-child(2){width: 48%;margin-left: -1px;}
.mainborderbox .paidetext2:nth-child(3){width: 70px;font-size: 11px;line-height: normal;}
.mainborderbox .paidfrombox:nth-child(4){width:70px;height: 40px;border-right: none;}
.mainborderbox .paidetext2:nth-child(5){width:54px !important;}
.mainborderbox .paidetext2{border: 1px solid #dddddd;height: 40px;}
.extracssfortab.mainborderbox .paidfrombox:nth-child(2){margin-left: -4px;}
.extracssfortab.mainborderbox .paidetext2:nth-child(5){margin-left: -4px;}
.extracssfortab.mainborderbox .paidfrombox:nth-child(4){width:73px;}
#settingpage .paidfrombox:nth-child(2), #settingpage .paiddrop{width: 100%;}
#settingpage .mainborderbox .paidfrombox:nth-child(2){width: 48%;}
#memberpageTK .backgroundwhite{padding-top: 10px;}
.ovisubtitletext{font-size: 13px;}
#GenerateForm .rediobtn{text-align: left;}
#GenerateForm .rediobtn .rediobox label:before{margin-right: 5px;}
.searchoptionselect{max-width: 98% !important;}
ul.nice_paging li{padding-left: 8px;padding-right: 8px;}
.traditionalmasspay .textcenter:nth-child(2) a{margin-top: 10px;}
#WithdrawAdminpanelAutomaticmasspayForm .addnew-button{text-align: center;}
#WithdrawAdminpanelAutomaticmasspayForm .addnew-button .btngray{margin-bottom: 10px;}
#LanguagephaseAdminpanelLanguagephaseForm .tablegrid.mobile .from-textarea{width: 92% !important;border: 1px solid #dedede;}
#designpage .addnew-button a{margin-bottom: 10px;}
#bannerbox{height: auto !important;}
#bannerbox img{max-width:40%;}
#UserbannerAdminpanelIndexForm .addnew-button a{margin-bottom: 10px;}
#Userbanneradd .frommain .textcenter img{max-width: 100%;}
.records-text{font-size: 11px;margin-top: 10px;}
#TextaddAdminpanelIndexForm .addnew-button a{margin-bottom: 10px;}
#ptcpage div{max-width: 100% !important;}
#ptcpage img{max-width: 100%;}
#ptcpage .ptcboxtitle{padding: 20px 0 0 80px}
#ptcpage .precssbox.cssfields div[style="position: relative;width: 454px; height: 269px;"]{height: 180px !important;}
#ptcpage .preimgbox.imagefields div[style="position: relative;width: 454px; height: 269px;"]{height: 180px !important;}
#Public_ticketAdminpanelIndexForm .addnew-button .btngray{margin-bottom: 10px;}
#supportpage .ticketbox{height: auto;padding-bottom: 10px;}
#supportpage .ticketbox .marginleft9{display: block;margin-top: 10px;}
#Member_ticketAdminpanelIndexForm .addnew-button .btngray{margin-bottom: 10px;}
#Member_ticket_reply .tablegrid .tablegridrow div:not(.browsebutton){display: inline-block;width: 49.4%;}
.versiontitle{max-width: 42%;}
.versiontext{max-width: 44%;}
.versiontext img{max-width: 100%;height: auto}
.padding-tabal{display: none;}
#MemberAdminpanelIndexForm .btnorange{margin-top: 10px;}
.version.floatright{float: none;display: block;text-align: center;}
.addnew-button.checkbox + .addnew-button:not(.massactionbox){width: 71%;}
.addnew-button.checkbox label:before{margin-left: 0px;}
#profile .fromborder{width: 77%;}
#UpdateMessage{min-width: 0px !important;}
.theam_right .dropdown-menu{left: inherit;right: 0px;}
#UserbannerAdminpanelIndexForm .searchoptionselect{margin-bottom: 0px;}
#UserbannerAdminpanelIndexForm .from-box:nth-child(2){padding-bottom: 0px;}
#DailyearningplanAdminpanelPlanaddForm .cycle_out_membership_fields .paidetext2{width: 134px;}
#DailyearningplanAdminpanelPlanaddForm .cycle_out_membership_fields .paidfrombox{width: 85px;}
#StraightlinepositionAdminpanelPlanmemberForm #SearchFor #select_all{max-width: 100%;}

.formborderfinance{width: 100%}
.formborderfinance .fromborder{width: 80%;}
.plussign{height: 18px;padding-bottom: 6px;padding-top: 6px;}
}
/*form design over*/

/*emailtemplatenewcss-satart*/
.emailmain { width:49%; display: inline-block; vertical-align: top; padding-right: 8px;}
.emailmain:last-child { padding-right: 0px;} 
.emailtitle { font-size: 18px; color: #465868; font-weight: 600; padding-bottom: 8px; padding-top: 8px; text-align: left;}
.emailcentermain {}
.emailmain:nth-child(odd):last-child{width: 100%;display: block;}


.memberbluemain { max-width: 100%; width: 31%; display: inline-block;  margin-right: 1%; margin-left: 1%; vertical-align: top; }
.memberbluemain:last-child {}
.memberbluemain .greybox { background-color: #f7f9fa; border-bottom: solid 1px #f0f1f4; padding-top: 9px; padding-bottom: 9px; padding-left: 10px; font-size: 12px; color: #505050; font-weight: bold; text-align: left; padding-right: 13px;}
.memberbluemain .whitebox { background-color: #ffffff; border-bottom:  solid 1px #f0f1f4; padding-top: 9px; padding-bottom: 9px; padding-left: 10px; font-size: 12px; color: #505050; font-weight: bold; text-align: left; padding-right: 13px; }
.memberbluemain .bluebox { background-color: #19b698;  height: 51px; line-height: 56px; font-size: 14px; font-weight: bold; color: #ffffff; padding-left: 8px; text-align: left; margin-top: 8px;}
.memberbluemain .darkbluebox { background-color: #384755;  height: 51px; line-height: 56px; font-size: 14px; font-weight: bold; color: #ffffff; padding-left: 8px; text-align: left; margin-top: 8px; }
.memeberleftblue { display: inline-block; width: 60%; }
.memeberleftblue:last-child { float: right; width: 40%; text-align: left; color: #03967a; font-weight: normal;}
.memeberleftblue span { font-size: 14px; color: #767676;}
/*emailtemplatenewcss-over*/

/*Tushar start*/
.divtable{display:table;width:100%}.divthead{display:table-header-group}.divtbody{display:table-row-group}.divtfoot{display:table-footer-group}.divtr{display:table-row;width:100%}.divth{display:table-cell}.divtd{display:table-cell}.vam{vertical-align:middle!important}.vat{vertical-align:top!important}.vab{vertical-align:bottom!important}
.marginnone{margin: 0 !important;}
.tablegrid{position: relative;}
.headfixedposition{position: fixed;top: 70px;z-index: 2;}
.subbar{color: #ffffff;font-size: 14px;text-align:center;font-weight: bold;height: 54px;line-height: 52px;background: none repeat scroll 0 0 #19b698;margin-bottom:10px;}

/*Template Edit Page*/
.dirlink a{background: url(../img/folder.gif);background-repeat: no-repeat;padding-left:20px;color:#000;margin-left:5px;}
.dirlink a:hover {color:#19b698;background: url(../img/folder-green.png);background-repeat: no-repeat;padding-left:20px;margin-left:5px;}
.dirpagelink a{background: url(../img/ctp.gif);background-repeat: no-repeat;padding-left:20px;color:#000;margin-left:5px;}
.dirpagelink a:hover {color:#19b698;background: url(../img/ctp-green.png);background-repeat: no-repeat;padding-left:20px;margin-left:5px;}
.greenbottomborder{border-bottom:1px solid #19b698;}
.ticketbox{display:block !important; padding: 5px;text-align: left;}
.ticketmessagebox{display:block !important; padding: 5px;height: auto !important;text-align: left;}

/*Testimonial, Theme Page */
.testimonalmain { text-align: center;}
.bordertestimonial { border-bottom:solid 1px #edefef; padding-top: 10px;}
.testimonialphoto { width: 68px; display: inline-block; vertical-align: top; padding-top: 10px; text-align: left;}
.testiminalbox { background-color:#ecf0f1; width: 69px; height: 69px; border-radius: 50%;}
.testiminalbox img { border-radius: 50%;}
.testimonialright { display: inline-block; margin-left: 8px;  padding-top: 20px; width: 90%;  text-align: left;  border-bottom:  solid 1px #edefef; padding-bottom: 14px;}
.testimonialtitle {   background-color: #ecf0f1; border-radius: 6px; line-height: 29px; height: 29px;  font-size: 15px; color: #384755; font-weight: 700; padding-left: 14px; padding-right: 14px;   text-align: left; max-width: 90%;}
.testimonialtexts { font-size: 12px; color: #5b6269; padding-top: 8px; padding-bottom: 15px; padding-top: 8px;  text-align: left;}
.act_them_box {}
.activtext { text-align: center; font-size: 15px; color: #5a6773; padding-top: 10px; padding-bottom: 10px;}
.actmain { display: inline-block;  vertical-align: top; width: 30%;}
.theam_right { display: inline-block; vertical-align: top; max-width: 100%; width: 68%;  padding-left: 10px; }
.themboxmain { display: inline-block;  width: 271px; margin-right: 10px; max-width: 100%;}
.themtitle { display: inline-block; font-size: 15px; color: #5a6773; font-weight: bold; padding-top: 15px; width: 50%; text-align:left; margin-left: -5px; padding-left: 5px;}
.themtitle-right {display: inline-block; font-size: 15px; color: #5a6773; font-weight: bold; padding-top: 15px; width: 50%; text-align:right; margin-left: -5px;}
.thembox { background: #f6f7f9; border-bottom: solid 1px #00a7aa; height: 221px; width: 100%; margin-top: 10px;vertical-align: top;display: inline-block; }
.btn-group, .btn-group-vertical { text-align: left;}
.caret {border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #19b698;display: inline-block;height: 0;margin-left: 2px;vertical-align: middle;width: 0;}
.sitesetting { max-width: 100%; text-align: center;}
.sitesettingmainbox { max-width: 100%; width: 46%; display: inline-block;  margin-right: 1%; margin-left: 1%; vertical-align: top; }
.sitesettingmainbox:last-child {}
.sitesettingmainbox .greybox { background-color: #f7f9fa; border-bottom: solid 1px #f0f1f4; padding-top: 9px; padding-bottom: 9px; padding-left: 10px; font-size: 12px; color: #505050; font-weight: bold; text-align: left; padding-right: 13px;}
.sitesettingmainbox .whitebox { background-color: #ffffff; border-bottom:  solid 1px #f0f1f4; padding-top: 9px; padding-bottom: 9px; padding-left: 10px; font-size: 12px; color: #505050; font-weight: bold; text-align: left; padding-right: 13px; }
.sitesettingmainbox .bluebox { background-color: #19b698;  height: 51px; line-height: 56px; font-size: 14px; font-weight: bold; color: #ffffff; padding-left: 8px; text-align: left; margin-top: 8px;}
.sitesettingmainbox .darkbluebox { background-color: #384755;  height: 51px; line-height: 56px; font-size: 14px; font-weight: bold; color: #ffffff; padding-left: 8px; text-align: left; margin-top: 8px; }
.launchdatebox { display: inline-block; width: 80%; }
.launchdatebox:last-child { float: right; width: 20%; text-align: right}
.launchdatebox span { font-size: 14px; color: #767676;}
.launchpopup { text-align: left; max-width: 100%; padding-left: 10px;border-bottom: 1px solid #f0f1f4;}
.copycodetxt { font-size: 12px; color: #ea6153; padding-top: 5px; padding-bottom: 5px;}
.siteformbox textarea { width: 99%; background: none; border: solid 1px #ededed; margin-bottom: 8px;}


@media all and (max-width: 769px) {.actmain,.theam_right { width: 100%; padding-left:0px;} .sitesettingmainbox  { width: 100%; margin-right: 0px;}}

#resultperpageapply input{vertical-align: top; background: none repeat scroll 0 0 #ea6153;border: medium none;color: #ffffff;padding: 6px 10px;transition: all 800ms ease-in-out 0s;font-size: 12px;}

.btn-information {background-color: transparent;padding: 0;color: inherit;}
.btn-information:hover,.btn-information:focus,.btn-information:active,.btn-information.active,.open .dropdown-toggle.btn-information {background-color: transparent;box-shadow:none;}
.btn-information:active,.btn-information.active,.open .dropdown-toggle.btn-information {background-image: none;}
.welcometext .btn-group ul.dropdown-menu{left: -119px;width: 235px;}

.quick2{padding: 0 7px;}
#leftbar .welcometext a.bold13black{font-size: 13px; font-weight: 600; color: #000000;}
#leftbar .welcometext a .normal12black{font-size: 12px; font-weight: 400; color: #000000;}
#leftbar .welcometext a .normal12gray{font-size: 12px; font-weight: 400; color: #4d4d4d;}
#leftbar .welcometext a.btnorange {background: #ea6153;border: none; padding: 3px 10px; color: #ffffff; transition: all 800ms ease-in-out;text-align: center;font-weight: 600;}
#leftbar .welcometext .btn-group .dropdown-menu{border-radius: 0;}
#leftbar .welcometext .glyphicon-info-sign{color: #1c2d3d;display: inline-block;vertical-align: middle;font-size: 13px;}
#leftbar .welcometext .caret{border-top:4px solid #1c2d3d;}
#leftbar .welcometext button{border: none;}
#leftbar .welcometext #supportnotification{background-color: #19b698;padding-left: 3px;color: #ffffff;border-radius: 3px;display: inline-block;line-height: 12px;padding-bottom: 1px;}
.faqcaret .caret{display: inline-block;vertical-align: middle;margin-right :25px;}
.faqcaret .caret.closed{transform:rotate(-90deg);border-top-color: #84939b;}

#memberdetailpage .statistictablesmain{margin-top: 10px;}
#memberdetailpage .statistictablesmain .divtable .divtd{width: auto;}
#memberdetailpage .statistictablesmain .divtable .divtd:last-child{font-weight: normal;color: #03967a;}
#memberdetailpage .statistictablesmain .divtable .divtd:last-child b{color: #505050;}
#memberdetailpage .financialstatbox:nth-child(3n){margin-right: 0px;}
#memberdetailpage .financialstatbox:nth-child(even) .planstathead{background-color: #384755;}

/*Ads Widget Code Start*/
.textmain .nameandbox{display: inline-block;}
.rediobtn{display: inline-block;}
.retbtn .rediobox{display: inline-block;}
.retbtn .checkbox{display: inline-block;}
.nameandbox textarea{border: 1px solid #e1e1e1;margin-top: 10px;}
.textadwidget .fromborderdropedown{width: 40%;vertical-align: middle;margin-left: 5px;}
.textadwidget .checkbox{display: block;margin-top: 10px;margin-bottom: 10px;}
.nameandbox img{max-width: 100%;}
/*Ads Widget Code Over*/

.tablegriddifferent .fromboxbg{ text-align: center;border: 1px solid #e2e2e2;padding-left: 1px;}

.tab-innar.nomargin{margin-bottom: 0px;}
.traditionalmasspay{margin-top: 10px;margin-bottom: 10px;}
.norecordfound{height: 40px;line-height: 40px;background-color: #f2f5f6;text-align: center;border-bottom: 1px solid #f0f1f4;}
.norecordfound:hover{background-color: #ededed;}
.overflowhidden .searchoptionselect{width: 262px;border: 1px solid #dadce1;}
.searchoptionselect{border: 1px solid #dadce1;max-width: 100%;width: 230px;}
.launchdatebox .checkbox{padding: 0;}
.launchdatebox .checkbox label{vertical-align: top;}

.positions-menu-drowp {height:auto;margin-top: 0px;margin-right: 0;margin-bottom: 0;margin-left: 0px;padding-right: 0;padding-bottom: 0px;padding-top: 0px;padding-left: 0px;text-align: center;width:100%;float: left;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #d4d4d4;background-color: #ffffff;}
.positions-menu-drowp ul {margin: 0px;padding: 0px;float: left;margin-left:11px;}
.positions-menu-drowp ul li {list-style-image: none;list-style-type: none;display: block;background-repeat: no-repeat;background-position: left center;float: left;}
.positions-menu-drowp ul li a {height:35px;background-repeat:no-repeat;text-decoration: none;font-size: 13px;font-weight: normal;color: #443f3a;line-height: 35px;text-align: center;margin-left: 1px;padding-right: 10px;padding-left: 10px;float: left;}
.positions-menu-drowp ul li a:hover {background-repeat:repeat-x;text-decoration: none;color: #19b698;float: left;}
.positions-menu-drowp ul li .act  {background-repeat:repeat-x;text-decoration: none;color: #19b698;float: left;}

.tablegridrow.red{background-color: #ffdddd !important;}
.tablegridrow.red div:not(:last-child){opacity: 0.30;}
.SurfFreePlan{display:none;}
.EnableSurfing{display:none;}
.nopadding{padding: 0px !important;}
.backgroundwhite.nopadding #memberdetailpage{padding-left: 10px;padding-right: 10px;}
.widht100onallscreen{width: 100% !important;}
.widht100onallscreen .fromboxmain{margin-bottom: 0px;}

#CouponAdminpanelCouponsaddForm .fromboxbgcal2{width: 41.4%;}
.tablegrid .tablegridrow .btnorange{padding: 5px;}
.notificationoverlay.showoverlay{position: fixed;z-index: 9;width: 100%;height: 100%;left: 0px;right: 0px;top: 0px;bottom: 0px;}
.notificationmenu img{cursor: pointer;}
.extralineheight{line-height: 40px;}
.masstextnew {text-align: left;}
.newgreytabs {background: #f3f5f4;}
.newgreytabs .nav > li > a {background: #f3f5f4; border-right: solid 1px #dddddd; border-top: solid 1px #dddddd; padding: 0px;}
.newgreytabs .nav-tabs > li > a {border-radius: 0px; margin-right: 0px; min-width: 109px; min-height: 38px; text-align: center; line-height: 38px; color: #595959; margin-top: 0px; border-bottom: solid 2px #f3f5f4;}
.newgreytabs .nav-tabs {border-left: solid 1px #dddddd;}
.newgreytabs .nav-tabs > li.active > a, .newgreytabs .nav-tabs > li.active > a:hover, .newgreytabs .nav-tabs > li.active > a:focus {background: url(../img/arrownewtab.jpg) no-repeat; background-position: center bottom; background-color:#ffffff; border-bottom: solid 2px #19b699; color: #595959; margin-top: 0px;}
.newgreytabs .tab-content {background: #f3f5f4; padding: 20px; border-top: solid 1px #dddddd;}

.greyboxnewtabsin {background: #ffffff; border: solid 1px #dddddd; padding: 25px; margin-top: 10px;}
.newgreytabs .nav-tabs > li > a:hover {  background: url(../img/arrownewtab.jpg) no-repeat; border-bottom: solid 2px #19b699; background-position: center bottom; background-color: #ffffff; margin-top: 0px;}
.newgreytabs .nav-tabs > li {border-bottom: none;}
.newgreytabs .nav-tabs > li{margin-bottom:0px;}