
<head>
<base target="main">
</head>
<body text="#FFFF00" bgcolor="#000000" topmargin="0">
<center>
<font face="Tahoma" size="3">
<b>Check Website : Do Not Close The Popup!</b>
</font>
</center>
</body>
