<?php /*****************************************************************
  * ProXCore Script
  * Copyright &copy; 2014 ProXScripts.com All Rights Reserved.
  **********************************************************************
  * IMPORTANT: The copyright notice in the footer must not be removed
  * and is a legal includement for operating this software.
  * Redistribution of this code in any form IS NOT ALLOWED.  You are
  * given permission to run it on a single site only.  Any infringement
  * will result in prosecution.  Full details of the license granted
  * can be found on www.proxcore.com.
  * Created Date: 24-09-2014
  * Last Modified: 26-09-2014
  *********************************************************************/
?>
<?php if(!$ajax){?>
<?php if(trim($web_page_content)!=''){?><div class="main-box-eran"><?php echo stripslashes($web_page_content);?></div><?php }?>
<div id="publicpage">
<?php } ?>
<?php echo $this->Javascript->link('allpage');?>
<div id="UpdateMessage"></div>
<div class="comisson-bg">
	<div class="text-ads-title-text"><?php echo __('News');?></div>
	<div class="clear-both"></div>
</div>
	<?php
	$this->Paginator->options(array(
		'before'=>$this->Js->get('#pleasewait')->effect('fadeIn', array('buffer' => false)),
		'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
		'update' => '#publicpage',
		'evalScripts' => true,
		'url'=> array('controller'=>'public', 'action'=>'news')
	));
	$currentpagenumber=$this->params['paging']['News']['page'];
	?>
	<div class="main-box-eran">
		
		<?php // News table starts here ?>
		<div class="padding-left-serchtabal"></div>
		<div class="activ-ad-pack"><?php echo $this->Paginator->counter(array('format' => __('Showing').' %page% '.' - '.' %current% '.__('Records').' | '.__('Total Records').' : %count%'));?></div>
		<div class="clear-both"></div>
		<div class="height5"></div>
		<div class="textleft">
			<?php $i=1;if(count($newsdata)>0){
				foreach ($newsdata as $news):
				if($i%2==0){$class='tabal-content-white';}else{$class='tabal-content-gray';}?>
					<div class="tabal-title-heading"><?php echo nl2br(stripslashes($news['News']['title'])); ?></div>
					<div class="<?php echo $class;?>">
						<b><?php echo __("News Date");?> : <?php echo $this->Time->format($SITECONFIG["timeformate"], $news['News']['news_dt']); ?></b>
						<div class="height10"></div>
						<?php echo nl2br(stripslashes($news['News']['fdesc'.$this->Session->read('Config.language')])); ?>
					</div>
				<?php $i++;endforeach; ?>
			<?php } else {  echo __('No records available'); } ?>
			<?php // News table ends here ?>

  	   </div>
	</div>
	
	<?php // Paging code starts here ?>
	<?php $pagerecord=$this->Session->read('pagerecord');
	if($this->params['paging']['News']['count']>$pagerecord)
	{?>	
	<div class="taxt-pag"><?php echo __("Results Per Page");?> :</div>
		<div class="pag-float-left">
			<div class="ul-bg">
				<ul class="nice_paging">
				<?php 
				foreach($resultperpage as $rpp)
				{
					?>
					<li <?php if($pagerecord==$rpp)echo 'class="current"';?>>
						<?php 
						echo $this->Form->create('News',array('type' => 'post', 'onsubmit' => 'return false;','url'=>array('controller'=>'public','action'=>'news/rpp')));
						echo $this->Form->input('resultperpage', array('type'=>'hidden', 'value'=>$rpp, 'label' => false));
						
						echo $this->Js->submit($rpp, array(
						  'before'=>$this->Js->get('#pleasewait')->effect('fadeIn', array('buffer' => false)),
						  'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
						  'update'=>'#publicpage',
						  'class'=>'resultperpagebutton',
						  'div'=>false,
						  'controller'=>'public',
						  'action'=>'news/rpp',
						  'url'   => array('controller' => 'public', 'action' => 'news/rpp')
						));
						echo $this->Form->end();
						?>
					</li>
					<?php 
				}?>
				</ul>
				<div class="clear-both"></div>
            </div>
		</div>
		<?php }?>
		<div class="floatright ul-bg">
			<ul class="nice_paging">
				<?php echo $this->Paginator->first(__('First'), array('tag'=>'li', 'escape'=>false));?>
				<?php echo $this->Paginator->prev(__('Prev'), array('tag'=>'li', 'escape'=>false), NULL, array('class' => 'disabled', 'tag'=>'li', 'escape'=>false));?>
				<?php echo $this->Paginator->numbers(array('modulus' => 5, 'first' => 1, 'last' => 1, 'separator' => false, 'ellipsis' => '<li>...</li>', 'tag'=>'li'));?>
				<?php echo $this->Paginator->next(__('Next'), array('tag'=>'li', 'escape'=>false), NULL, array('class' => 'disabled', 'tag'=>'li', 'escape'=>false));?>
				<?php echo $this->Paginator->last(__('Last'), array('tag'=>'li', 'escape'=>false));?>
			</ul>
		</div>
		<div class="clear-both"></div>
		<?php // Paging code ends here ?>
		
	
<?php if(!$ajax){?>
</div>
<?php } ?>
<?php echo $this->Js->writeBuffer(array('inline' => 'true'));?>