body {font-family:'Open Sans';font-size: 12px;color: #575757;margin: 0px;padding: 0px;}
input, textarea{outline: none;}
img { max-width:100%; border: 0px; }
.pagewidth { max-width: 100%; width: 1000px; margin: 0px auto; }
.clearboth { clear: both;}
.floatleft{float: left;}
.floatright{float: right;}
.floatnone{float: none !important;}
.inlineblock{display: inline-block;}

.divtable{display: table; width: 100%;}
.divtable2{display: table; width: 100%;}
.divthead{display: table-header-group;}
.divtbody{display: table-row-group;}
.divtfoot{display: table-footer-group;}
.divtr{display: table-row;width: 100%;}
.divth{display: table-cell;}
.divtd{display: table-cell;}
.vam{vertical-align: middle !important;}.vat{vertical-align: top !important;}.vab{vertical-align: bottom !important;}
.textright { text-align: right; }
.textcenter { text-align: center; }
.textleft { text-align: left; }
.hide{display: none;}
.show{display: block;}

.height15 { height: 15px; }
.height5 { height: 5px; }
*{outline: none;}
*:focus{outline: none !important;}

/*header-css-start*/
#topbg { background: #f0f0f0;}
.topmenu { width: 1000px; margin: 0px auto; max-width: 100%;}
.joinnow { display: inline-block; margin-left: -4px;}
.joinnow a {background: #58b1c8; width: 78px; display: block; height: 40px; text-align: center; line-height: 40px; color: #ffffff; text-decoration: none; font-size: 13px; color: #ffffff;}
.topmain { text-align: right;}
.login {display: inline-block; margin-left: -4px;vertical-align: top;}
.login a {background: #f13434; width: 78px; display: block; height: 40px; text-align: center; line-height: 40px; color: #ffffff; text-decoration: none;font-size: 13px; color: #ffffff;}

#logobg { background: #ffffff; border: solid 1px #e8e8e8;border-bottom: none;}
#logobg.f-nav .fixtopmenu{position: fixed;width: 100%;top: 0;z-index: 1;background-color: #ffffff;}
#logobg.f-nav + .heightafterfixedmenu{height: 79px;}
.logo { width: 190px; display: inline-block; vertical-align: top;margin-top: 16px;}
.logoright { width: 806px; display: inline-block; vertical-align: top; text-align: right; max-width: 100%;}

#headerbg {background: url(../img/headerbg.jpg) repeat-x;}
#header { background: url(../img/header.jpg) no-repeat; width: 1000px; height: 428px; max-width: 100%; margin: 0px auto; background-size: contain;}
.headerleft {width: 590px; max-width: 100%; display: inline-block;  vertical-align: top; position: relative; height: 428px;}
.headertext { font-size: 35px; color: #ffffff; font-weight: 700; text-align: center; position: absolute; bottom: 20px; right: 100px;}
.headertitle { font-size: 40px; color: #ffe400; text-transform: uppercase;}
.headerright { width:409px; max-width: 100%; display: inline-block; vertical-align: top; margin-left: -3px; text-align: center;}


.languagetop{display: inline-block;height: 40px;vertical-align: top;}
.languagetop div.combobox{background: white url(../img/select1.png) no-repeat center right;-webkit-box-shadow: none; box-shadow: none;width: 92px;height: 40px;line-height: 40px;border: none;border-radius: 0px;padding-left: 5px;}
.languagetop div.combobox select{width: 118%;}

/* ----------------------------------------------  Select menu start ---------------------------------------------- */
div.combobox{background: white url(../img/combobox.png) no-repeat center right;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); box-shadow: 0 1px 3px rgba(0,0,0,0.2);}	
div.combobox { overflow:hidden; padding:0; margin:0; -moz-border-radius:5px;-webkit-border-radius:5px;	-khtml-border-radius:5px;	border-radius:5px; border:1px solid #dddddd;padding:0px 0 0 0px;height:28px;}
.ie7 div.combobox {border:none;}
div.combobox select {	width:115%; background-color:transparent; background-image:none;-webkit-appearance: none; border:none; box-shadow:none;
height:100%;padding:3px 0;}
.ie7 div.combobox select {width:100%; background-color:#fff; border: solid 1px #ccc; padding:0.3em 0.5em;}
div.combobox{width:90px;}
/* ----------------------------------------------  Select menu over ---------------------------------------------- */

#textadbg { background: url(../img/textaddbg.jpg) repeat-x;}
.textadmain {text-align: center; padding-top: 20px; padding-bottom: 20px;}
.textadbox { width: 235px; max-width: 100%; display: inline-block; margin-right: 10px; vertical-align: top; background: #ffffff;  border-bottom: solid 1px #54acc5; }
.textadbox:nth-child(2n) { border-bottom: solid 1px #4789be; }
.text-add-title { background: #54acc5; text-align: center; font-size: 17px; font-weight: 700; color: #ffffff; min-height: 36px; line-height: 36px;}
.text-add-title a{color: #ffffff;text-decoration: none;display: block;}
.textadbox:nth-child(2n) .text-add-title{ background: #4789be; text-align: center; font-size: 17px; font-weight: 700; color: #ffffff; min-height: 36px; line-height: 36px;}
.textadcont {text-align: center; font-size: 13px; color: #38475a; padding: 7px;}
.textadcont a { text-decoration: none;  color: #d82551; }
#allcontentbg { background: #ffffff;}
#allcontent { width: 1000px; max-width: 100%; margin: 0px auto;padding-top: 25px; padding-bottom: 25px;}
.hometitle { font-size: 30px; color: #808080; text-align: center;}
#bluebg { background: #50a3bf;}
.banner125 { width: 125px; height: 125px;  margin-right: 3px; display: inline-block; vertical-align: top;}
.bannermain { padding-top: 10px; padding-bottom: 10px; text-align: center;}
.banner468main { width: 468px; display: inline-block; vertical-align: top; max-width: 100%; margin-right: 4px;}
.banner468 { width: 468px;  max-width: 100%;  display: inline-block;}
.banner468:first-child { margin-bottom: 4px;}
.footerbg { background: #3065a0;}
.footer { width: 1000px; margin: 0px auto; max-width: 100%; background: url(../img/footer.jpg) no-repeat;  text-align: center;}
.footermenu { display: inline-block; padding-top: 20px; margin-left: 10px;}
.footermenu a { text-align: center;  font-size: 11px; display: block; color: #1e5683;  background: #f5f5f5; border: solid 1px #ced2d7; width: 106px; height: 19px; text-decoration: none;}
.footertext { font-size: 13px; color: #ffffff; padding-top: 10px; padding-bottom: 10px; }
.footertext a { text-decoration: none; color: #ffe400;}

.topbannermain .banner468main{width: auto;}
.topbannermain .banner468{display: inline-block;}
.topbannermain .banner468main .banner468:last-child{margin-left: 5px;}

#memberhader { background: #f6f6f6; padding-left: 20px; padding-right: 20px;}
.memheaderleft { width: 190px; float: left;margin-top: 18px;margin-bottom: 18px;}
.memheaderright {float: right;}
.height20 { height: 20px;}

.membertopmenu {display: inline-block; margin-right: 10px;vertical-align: top;}
.membertopmenu ul { margin: 0px; padding: 0px;}
.membertopmenu ul li { list-style: none;  display: inline-block;}
.membertopmenu ul li a { text-decoration: none; padding-left: 15px; display: block; height: 40px; line-height: 40px; padding-right: 15px;}
.membertopmenu ul li a:hover { background: #58b1c7; color: #ffffff;}

#membersubmenubg { background-color: #58b4c8; padding-left: 20px; padding-right: 20px;}

.membersubmenu { text-align: left;}
.membersubmenu ul { margin: 0px; padding: 0px;} 
.membersubmenu ul li { list-style: none; display: inline-block; padding-top: 5px; padding-bottom: 5px;}
.membersubmenu ul li a { text-decoration: none; color: #ffffff; padding-top: 8px; padding-bottom: 8px; display: block; padding-left: 14px; padding-right: 14px;}
.membersubmenu ul li a:hover {background: #39a0b6;}

#greybgmember { background: #f6f6f6; padding-left: 20px; padding-right: 20px;}
.membermain { padding-top: 20px; padding-bottom: 20px;text-align: center;}
.memberwhitebox { background: #ffffff; display: inline-block; margin-right: 7px; border-bottom: solid 1px #58b1c8; width: 193px;  padding-top: 25px; padding-bottom: 26px; text-align: center; font-size: 15px; color: #2e2e2e;margin-bottom: 10px;}
.mempayitl { font-size: 15px; color: #3065a0; font-weight: 700; font-style: italic; padding-top: 5px;}
#membergrey { background: #f6f6f6; padding-left: 20px; padding-right: 20px;}

#memberallcontent {padding: 25px 20px;}
#membergrey {}
#membergrey .textadbox { width: 24%;}

.showonmobile{display: none !important;}

.memberloginbg{background-color: #ffffff;padding-top: 30px;padding-bottom: 30px;}
.memberlogintitle{font-size: 25px;color: #3065a0;text-transform: uppercase;text-align: center;border-bottom: 2px solid #e6e9f1;display: inline-block;padding-bottom: 5px;}
.memberlogintitle span{color: #f13434;}

.loginbox{padding-top: 15px;text-align: center;}
.textbox{display: inline-block;width: 203px;margin-left: -2px; vertical-align: top;}
.textbox input[type="text"]{width: 148px;padding-left: 50px;padding-right: 5px;height: 34px;border: 1px solid #e6e9f1;background-image: url(../img/username.jpg);background-repeat: no-repeat;background-position: left center;color: #77838a;}
.textbox input[type="password"]{width: 148px;padding-left: 50px;padding-right: 5px;height: 34px;border: 1px solid #e6e9f1;background-image: url(../img/password.jpg);background-repeat: no-repeat;background-position: left center;color: #77838a;}

.captcha_main{display: inline-block;vertical-align: top;}
.captcha_image{display: inline-block;vertical-align: top;margin-left: 10px;}
.captcha_input{display: inline-block;margin-left: -4px;vertical-align: top;}
.captcha_input input[type="text"]{width: 92px;padding-left: 5px;padding-right: 5px;color: #77838a;height: 34px;border: 1px solid #e6e9f1;}
.refresh_captcha{display: inline-block;line-height: 36px;margin-left: 8px;padding: 0 5px 0 0;}
.loginbutton{display: inline-block;margin-left: 3px;}
.loginbutton input[type="submit"]{border: none;font-size: 15px;color: #ffffff;width: 64px;height: 36px;background-color: #4789be;}
.signinwithmain{display: inline-block;font-size: 15px;color: #3065a0;padding-left: 5px;}
.signinimg{display: inline-block;}
.signinimg:last-child{margin-left: -6px;}

.regtext{display: block;text-align: center;font-size: 13px;vertical-align: top;margin-left: 5px;color: #218bbb;}
.regtext a{color: #218bbb;transition: all 500ms ease-in-out;display: inline-block;padding: 15px 0px 0 0px;}
.regtext a:hover{color: #f13434;text-decoration: none;}

.newsbg{padding-top: 30px;padding-bottom: 30px;}
.newsboxmain{vertical-align: top;text-align: left;}
.newsboxmain .newstitle{background-color: #4789be;font-size: 17px;color: #ffffff;font-weight: 600;padding-top: 5px;padding-bottom: 9px;text-align: center;}
.newsinner{background-color: #ffffff;padding: 10px;border-bottom: 1px solid #4789be;color: #38475a;font-size: 13px;background-image: url(../img/new-arrow.jpg);background-repeat: no-repeat;background-position: 10px 18px;padding-left: 18px;}
.newsinner a{color: #d82551;text-decoration: underline;}
.newstitleinner{font-weight: 700;font-size: 13px;padding-left: 10px;padding-top: 5px;}

.membermenufixheight{display: none;height: 105px;}
.mainmembermenu.f-nav .membermenufix{position: fixed;width: 100%;z-index: 1;top:0;}
/*.mainmembermenu.f-nav .membermenufixheight{height: 105px;}*/
.statistic-membersarea{padding-left: 20px;padding-right: 20px;}
/*Footer Style Over*/


.select-main{position: relative;font-size: 14px;font-weight: normal;color: #999999;display: inline-block;width: 100%;vertical-align: top;width: 92px;}
.select-main label:before{content: ""; font-family: 'Glyphicons Halflings'; background: url(../img/arrowselact.jpg) no-repeat; background-position: center; background-color: #ffffff;  display: block;height: 40px;pointer-events: none;position: absolute;right: 0px;top: 0px;width: 20px; text-align: center; line-height: 37px; color: #19b698; font-size: 13px;}
.select-main label:after{ background-color: #ffffff; color: #7f7f7f; padding: 0 0 2px;pointer-events: none;position: absolute;right: 10px;top: -3px;transform: rotate(90deg);-webkit-transform:rotate(90deg); line-height: 38px; }
.select-main label{position: relative;display: block;margin-bottom: 0px;}
.select-main select{ background-color: #ffffff; width: 100%;height: 40px;border: none;font-weight: normal;outline: none;padding-left: 5px;line-height: 38px;-webkit-appearance:none;border-radius: 0px;-webkit-border-radius: 0; font-size: 12px; color: #373737;}
.select-main select option{}
.select-main select option:hover {box-shadow: 0 0 10px 100px #58b1c8 inset;}
.select-main select option:checked { background: linear-gradient(#58b1c8, #58b1c8);}

.textadbox img{padding-top: 23px;padding-bottom: 23px;}
.showhidebannerbottom{background-color: #f6f6f6;}


.reprecentwhite{width:45px;height:45px;text-align:center;vertical-align:middle;display:inline-block;}.reprecentwhite img{padding-left: 2px; padding-top: 15px; }
.recentrightbox .recentplus{background-image: url(../img/plus.png);background-position: right top;background-repeat: no-repeat;width: 20px;height: 20px;margin-top: 12px;float: right;}
.recentrightbox.activediv{background-color: #f5f5f5;}
.reprecentright{background-color: #ffffff;margin-left: 2px;margin-right: 2px;padding: 5px; border: solid 1px #c0c0c0; color:#575757; }
.recentrightbox.activediv .recentplus{background-position: right bottom;}
.recrecentright{color:#575757 !important; }
.reprecentbluebox{background-color: #ffffff; border: solid 1px #c0c0c0; border-top: none; margin-left: 2px;margin-right: 2px;color:#575757; margin-top: 0px;}
.surftext a{color: #575757;text-decoration: none;margin-top: 0px;}
.reprecentbluebox a{color: #575757 !important;text-decoration: none;margin-top: 0px;}
.reprecentbluebox.reprecentbluebox > div{border-bottom: solid 1px;padding: 10px;}
.reprecentbluebox.reprecentbluebox > div:last-child{border-bottom: none;}
.repleft-part{float: none; display: inline-block; vertical-align: top;margin-top: 7px;}


@media all and (min-width: 769px)
{
  #menu { float: none; display: inline-block; }
  #menu ul.navbar-nav { float: none !important;margin-right: 0px; }
  #menu .navbar-default{background: none;border: none;   text-align: right; }
  #menu .navbar-collapse { padding-right: 0px;padding-left: 0px; }
  #menu .container-fluid { padding-right: 0px; padding-left: 0px;}
  #menu ul li { float: none; display: inline-block; }
  #menu ul li.home { margin-left: 0px; }
  #menu ul li a { font-size: 13px; color: #010101; padding: 30px 8px; text-align: center; }
  #menu ul li.public-page .caret { display: none; }
  #menu ul li.active a { background: none; }
  #menu ul li:hover {background: #4789be; color: #ffffff;}
  
  #menu ul li.public-page { margin-right: 0px; }
  #menu ul li.open a { background: none; }
  #menu ul li.public-page ul { text-align: left; }
  
  #menu ul li.public-page ul li a:before { content: ""; }
  #menu ul li a:hover { color: #ffffff;}
  
  #menu ul li .dropdown-menu li:hover .sub-menu {visibility: visible;}
  #menu ul .dropdown:hover .dropdown-menu {display: block;}
  #menu ul li.dropdown ul li{display: block;}
  #menu ul li.dropdown ul li a{padding: 5px 10px;display: block;text-align: left;}
  #menu ul li:hover > a{color: #ffffff;background: #4789be;}

    #membermenu { background-color: #295e98; padding-left: 20px; padding-right: 20px;}
    #membermenu .membernav {text-align: left;}
    #membermenu .membernav ul {margin: 0px; padding: 0px;float: none;}
    #membermenu .membernav ul li { list-style: none; display: inline-block; border-left: solid 1px #4885c8;position: static;float: none;}
    #membermenu .membernav ul li a {text-decoration: none; font-size: 15px; color: #f6f6f6; padding-top: 22px; padding-bottom: 22px;display: block;}
    #membermenu .membernav ul li a:hover { background: url(../img/memberarrowhover.jpg) no-repeat; background-position: center bottom;}
    #membermenu .navbar-collapse{padding: 0px;}
    
    #membermenu .membernav ul li a.act { background: url(../img/memberarrowhover.jpg) no-repeat; background-position: center bottom;}
    #membermenu .navbar-collapse{padding: 0px;}
    
    #membermenu .navbar.navbar-default{background-color: transparent;border: none;padding-left: 0px;padding-right: 0px;}
    #membermenu li .dropdown-menu{background-color: transparent;border: none;box-shadow: none;margin-left: 50px;}
    #membermenu li .dropdown-menu li{display: inline-block;border: none;padding-top: 6px;}
    #membermenu li .dropdown-menu li a{padding: 3px 8px;font-size: 13px;transition: all 500ms ease-in-out}
    #membermenu li a .caret{display: none;}
    #membermenu li .dropdown-menu li a:hover{background-image: none;background-color: #39a0b6;}
    #membermenu ul li.open a {background-color: transparent;}
    #membermenu ul li:hover > a {background: url(../img/memberarrowhover.jpg) no-repeat; background-position: center bottom;}
    #membermenu ul li ul li:hover > a{background-image: none;}
    #membersubmenubg{min-height: 40px;}
    .topmenu .navbar-header.navbar-default{display: none;}
    .tkopen > .dropdown-menu{display: block;}
    #memberhader .navbar-header.navbar-default{display: none;}
}
@media all and (min-width: 768px) and (max-width: 768px)
{
  .memheaderleft{margin-bottom: 0px;}
  .memheaderright{margin-right: 15px;margin-top: 0px;}
  #membermenu .dropdown-menu{float: none;position: relative;background-color: transparent;box-shadow: none;}
}
@media all and (min-width: 2600px)
{
  .financial-Info-box .popupbox-content .processor-left{width: 49%;vertical-align: top;}
  .financial-Info-box .popupbox-content .processor-right{width: 49%;word-wrap: break-word;}
}
@media all and (max-width: 769px)
{
    .headerleft { width: 358px; background-size: contain;}
    .textadbox { width: 171px;}
    .banner468main { width: 100%; margin-bottom: 5px;}
    .banner125 { margin-bottom: 5px;}
    #membergrey .textadbox { width: 48%; margin-bottom: 5px;}
    
    #memberhader .navbar-header.navbar-default{float: right;margin-top: 25px;}
    #memberhader .navbar-header.navbar-default button{margin: 0px;}
    #membermenu .navbar{min-height: 0px;}
    #membermenu .navbar-default{border: none;}
    .showonmobile{display: block !important;}
    .languagetop{margin-bottom: 10px;}
    .logo{margin-left: 10px;margin-bottom: 10px;}
    .topmenu .navbar-header.navbar-default{float: right;background-color: transparent;margin-top: 25px;margin-right: 10px;}
    .topmenu .navbar-header.navbar-default button{margin: 0px;}
    .topmenu .navbar{min-height: 0px;border: none;}
    .logoright{display: block;}
    .mainmembermenu .navbar-header{display: none;}
    .mainmembermenu.f-nav .navbar-header {display: block;border-top:1px solid #e7e7e7;border-bottom: 1px solid #e7e7e7;}
    .loginbox{padding-left: 10px;padding-right: 10px;}
    .textbox{margin-bottom: 10px;}
    .captcha_main{display: block;margin-bottom: 10px;}
    .loginbutton{display: block;margin-bottom: 10px;}
    .paddingonmobile{padding-left: 10px;padding-right: 10px;}
    .planearningheadtop.showonmobile{display: none !important;}
}

@media all and (max-width: 400px)
{
    .headerleft { height: 137px;}
    .headertitle { font-size: 18px;}
    .headertext { font-size: 13px;bottom: 9px;left: 28px;right: inherit;}
    .headermobile { margin-top: 0px;}
    #header {height: auto;}
    .textadbox { margin-bottom: 5px; width: 260px;}
    .banner125 { margin-bottom: 5px;}
    .banner468main { margin-bottom: 4px; margin-right: 0px;}
    .footermenu { padding-top: 8px;}
    .logoright { text-align: left;}
    #membergrey .textadbox { width: 100%;}
    .memberwhitebox { width: 98%; margin-bottom: 10px;}
    #memberallcontent{padding: 25px 10px;}
    .searchlabel { text-align: left;}
    
    .activ-ad-pack { padding-top: 0px;}
    .sta-menu ul li { width: 96%; border-right: none;}
    .sta-menu ul li a { padding-left: 0px; padding-right: 0px; width: 100%; margin-left: 0px; margin-right: 0px;}
    .sta-menu ul li.sta-left { width: 98%;}
    
    .planearningheadtop.showonmobile{display: block !important;}
    .notmobile{display: none !important;}
    .membermenufixheight{height: auto;}
}


/*other css*/
#Testimonial{padding-top: 25px;}