@charset "utf-8";
/*@font-face { font-family: OpenSans;src:url('../font/OpenSans-Regular.ttf');}*/
@font-face {
    font-family: 'OpenSans';
    src: url('../font/opensans-regular.eot');
    src: url('../font/opensans-regular.eot') format('embedded-opentype'),
         url('../font/opensans-regular.woff') format('woff'),
         url('../font/opensans-regular.ttf') format('truetype'),
         url('../font/opensans-regular.svg#OpenSans') format('svg');
}
body {
	font-family:OpenSans;
	margin: 0px;
	padding: 0px;
	color:#494643;
	font-size:12px;
}
a{color:#494643;}
a:hover{text-decoration:none;}
b, strong {font-weight: 700;}
input, textarea, select{outline: none;}

.textcenter{text-align: center;}
.textright{text-align: right;}
.textleft{text-align: left;}

.header-main-bg {
	background-image: url(../img/top.jpg);
	background-repeat: repeat-x;
	background-color: #f6f8f9;
	position: fixed;
	top:0px;
	z-index:1000;
	padding:0px;
	margin:0px;
	width: 100%;
}

.all-content-main-bg {
	/*background-image: url(../img/header-main-top-bg.jpg);*/
	background-image: url(../img/bottom.jpg);
	background-repeat: repeat-x;
	background-color: #f6f8f9;
}
/*main-header-css*/
#main-page-width {
	width:80%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	min-width:1000px;
}
#header .logo { background:url(../img/logo.jpg); width:286px; height:86px; float:left; }
.clear-both { clear:both; }
.center{text-align:center;}
.howdy-top-text {
	font-size: 12px;
	font-weight: normal;
	color: #d1d1d1;
	float:right;
	padding-top: 5px;
	padding-right: 5px;
}
.top-right {
	float:right;

}
.top-logout-button {
	background-color:#1893ac;
	float:right;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	-khtml-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
	padding-left:5px;
	padding-right:5px;
	text-shadow: 1px 1px 1px #000000;
	font-size:11px;
	height: 22px;
	margin-right:5px;
	color:#ffffff;
	padding-top:5px;

}
.top-logout-button a { text-decoration:none; color:#ffffff; } 
.top-support-menu {
	float: right;
}
.top-support-menu ul {
	float: right;
	margin: 0px;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.top-support-menu li {
	list-style:none;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.top-support-menu li a {
	margin:0px;
	padding:0px;
	width:87px;
	height:37px;
	font-size:12px;
	font-weight:bold;
	color:#000000;
	background:url(../img/top-support-button.jpg);
	text-transform: uppercase;
	float: left;
	text-align: center;
	text-decoration: none;
	line-height: 37px;
}
.top-support-menu li a:hover {margin:0px; padding:0px; background:url(../img/top-support-button-hover.jpg) }
.header-right-login-box { 
	float:right;
	background-color:#dfdfdf; 
	 -moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	-khtml-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	height:30px;
	padding-left:4px;
	margin-top:19px;
	padding-top:2px;
	padding-right:4px;
	margin-right:4px;
	border:solid 1px #ffffff; }
.header-right-login-box-serch-box {
	background:none;
	border:none;
	background-image: url(../img/header-search-box.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 216px;
	padding-left:4px;
}	
/*header-css-over*/
/*nav-menu-css-start*/
.nav1 {
	height:auto;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom:3px;
	text-align: center;
	width:100%;
}
.nav1 ul {
	margin: 0px;
	padding: 0px;
}
.nav1 ul li {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
	background-image: url(../img/btn-right.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: -3px;
	(-bracket-:hack;
        margin-left: -5px;
    );
}
.nav1 ul li a {
	height:44px;
	background-repeat:no-repeat;
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	color: #ffffff;
	line-height: 40px;
	text-shadow:  02px 00px 02px #000000;
	text-align: center;
	margin-left: 1px;
	padding-right: 9px;
	padding-left: 9px;
	display: block;
}
.nav1 ul li a:hover {
	background-repeat:repeat-x;
	text-decoration: none;
	background-image: url(../img/btn-hover.jpg);
	color: #ffffff;
}
.nav1 ul li a:hover img{
	opecity:0.5;
}
/*nav-menu-css-over*/
/*all-contet-start-*/
#all-content {
	margin: 0px;
	padding: 0px;
}
.login-box-text {
background-color:#bccad3;
height:36px;
-moz-border-radius:0px 0px 5px 5px;
-webkit-border-radius:0px 0px 5px 5px;
-khtml-border-radius:0px 0px 5px 5px;
border-radius:0px 0px 5px 5px;
}
.login-text {
	font-size: 11px;
	font-weight: normal;
	color: #06434f;
	padding-top: 11px;
	padding-left: 5px;
	float: left;
}
.server-time-text {
	font-size: 11px;
	font-weight: normal;
	color: #06434f;
	padding-top: 11px;
	padding-right: 5px;
	float: right; }
.admin-note-box {
	background-color:#494643;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	border: solid 1px #147b91;
	padding: 6px;
	margin-top: 8px;
	box-shadow: 0px 2px 0px #363738;
 }
.admin-images {
	background-image: url(../img/admin-notes-images%27.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 30px;
	width: 29px;
}
.admin-text {
	font-size:17px;
	color:#ffffff;
	float:left;
	padding-left: 6px;
 }
 .admin-tex-innar-box {
	background-color:#1893ac;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	border: solid 1px #000000;
	padding: 4px;
	margin-top: 4px;
}
.admin-text-main-box {
	background-color:#ffffff;
	border: solid 1px #303030;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	padding: 4px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #494643;
	width:99%;
	height:73px;
}
.white.button {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
color:#666666 !important;
font-weight:normal;
text-shadow:0 1px 1px #FFFFFF;
}
.white.button:hover {
color:#ffffff !important;
background-image:url(../img/button-overlay.jpg);
background-repeat:repeat-x;
border: solid 1px #d6d8d9;
text-shadow:0 1px 1px #000000;

}
.large.button {
	font-size:14px;	
	background-image:url(../img/large-button-overlay.png);
	margin-bottom: 3px;
	/*padding-top: 8px;
	padding-right: 19px;
	padding-bottom: 9px;
	padding-left: 19px;*/
}
input[type="submit"].large.button, .large.button.input {
padding:6px 16px 6px;
}
.button {
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
height:32px;
background:#222222 url(../img/button-overlay.jpg) repeat-x;
border:1px solid rgba(0, 0, 0, 0.25);
color:#FFFFFF !important;
cursor:pointer;
display:inline-block;
font-size:13px;
font-weight:bold;
line-height:1;
overflow:visible;
padding:5px 15px 6px;
position:relative;
text-decoration:none;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
width:auto;
text-align:center;
margin-top:5px;
}
.white.alink {
background-color:#FFFFFF;
border:1px solid #CCCCCC;
color:#666666 !important;
font-weight:normal;
text-shadow:0 1px 1px #FFFFFF;
}
.white.alink:hover {
color:#ffffff !important;
background-image:url(../img/button-overlay.jpg);
background-repeat:repeat-x;
border: solid 1px #d6d8d9;
text-shadow:0 1px 1px #000000;

}
.white.alink.active{
color:#ffffff !important;
background-image:url(../img/button-overlay.jpg);
background-repeat:repeat-x;
border: solid 1px #d6d8d9;
text-shadow:0 1px 1px #000000;

}
.large.alink {
	font-size:14px;
	
	background-image:url(../img/large-button-overlay.png);
	margin-bottom: 3px;
	padding-top: 8px;
	padding-right: 19px;
	padding-bottom: 8px;
	padding-left: 19px;
	vertical-align: top;
}
.alink {
-moz-border-radius:6px;

-webkit-border-radius:6px;
border-radius:6px;

background:#222222 url(../img/button-overlay.jpg) repeat-x;
border:1px solid rgba(0, 0, 0, 0.25);
color:#FFFFFF !important;
cursor:pointer;
display:inline-block;
font-size:13px;
font-weight:bold;
line-height:1;
overflow:visible;
padding:5px 15px 6px;
position:relative;
text-decoration:none;
text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
width:auto;
text-align:center;
margin-top:5px;
}
.bb { padding-top:5px; }
.settings-site-settings-box {
background-color:
	background-image: url(../img/settings-site-settings-box-repet.jpg);
	background-repeat: repeat-x;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	-khtml-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	height:32px;
	background-image: url(../img/settings-site-settings-box-repet.jpg);
	margin-top: 15px;
	font-size: 17px;
	font-weight: normal;
	color: #ffffff;
	padding-top: 5px;
	padding-left: 8px;
}
.sattings-main-box {
	background-color: #494643;
	padding-top: 7px;
	padding-right: 6px;
	padding-bottom: 7px;
	padding-left: 6px;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	-khtml-border-radius:0px 0px 5px 5px;
	border-radius:0px 0px 5px 5px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #147b91;
	border-bottom-color: #147b91;
	border-left-color: #147b91;
	box-shadow: 0px 2px 0px #000000;
	margin-bottom: 14px;
}
.sattings-white-box {
background-color:#e9e9e9; }
.sattings-menu-bg {
	background-image: url(../img/sattings-menu-bg.jpg);
	background-repeat: repeat-x;
}
.satting-menu {
	height:auto;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	float: left;
	padding-bottom:3px;
}
.satting-menu ul {
	float: left;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 14px;
}
.satting-menu ul li {
	list-style-image: none;
	list-style-type: none;
	display: block;
	float: left;
	background-image: url(../img/sattings-left-menu.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 3px;
	padding-left: 3px;
}
.satting-menu ul li a {
	float:left;
	background-repeat:no-repeat;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	color: #494643;
	text-align: center;
	
	padding-right: 4px;
	padding-left: 4px;
	line-height: 41px;
}
.satting-menu ul li a:hover {
	float:left;
	background-repeat:repeat-x;
	text-decoration: none;
	background-image: url(../img/satting-menu-hover.jpg);
	color: #ffffff;
	-moz-border-radius:10px 10px 0 0px;
	-webkit-border-radius:10px 10px 0 0px;
	-khtml-border-radius:10px 10px 0 0px;
	border-radius:10px 10px 0 0px;
}
.satting-menu ul li a.satting-menu-active{
	float:left;
	background-repeat:repeat-x;
	text-decoration: none;
	background-image: url(../img/satting-menu-hover.jpg);
	color: #ffffff;
	-moz-border-radius:10px 10px 0 0px;
	-webkit-border-radius:10px 10px 0 0px;
	-khtml-border-radius:10px 10px 0 0px;
	border-radius:10px 10px 0 0px;
}
.main-content-box {
	background-color:#ffffff;
	border-right-width: 6px;
	border-left-width: 6px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #c5c5c5;
	border-left-color: #1893ac;
	margin-bottom: 14px;
	padding-bottom: 5px;
}.main-content-from-text {
	font-size: 13px;
	font-weight: normal;
	color: #000;
}
/*.satting-from-bg {
	background:none;
	border:none;
	background-image: url(../img/sattings-from-bg-hover.jpg);
	background-repeat: no-repeat;
	height: 44px;
	width: 409px;
	margin-right: 4px;
	margin-left: 7px;
	padding-left: 8px;
}
.satting-from-bg:hover {
background-image: url(../img/sattings-from-bg.jpg);
	background-repeat: no-repeat;
	height: 44px;
	width: 409px;
}*/
.red-color {
color:#ff0000; }
/* Instructions Box Payment Processor */
.instructions_box{
	display:inline-block;
	margin:5px 20px;
	min-height:30px;
	padding:2px 5px 5px;
	width:660px;
	background-color:#FFF;
	border:1px solid #757575;
}
/* Instructions Box Payment Processor */
.note-box {
	background-color:#fffce1;
	/*border: solid 1px #d1d1d1;*/
	padding:5px;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #494643;
 }
.footer-bg {
	background-image: url(../img/footer-bg.jpg);
	background-repeat: repeat-x;
	height: 63px;
	background-position: center bottom;

}

.footer-text-license {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-shadow: 1px 0px 1px #000000;
	padding-top: 10px;
	float: left;
}
.footer-text-license a { text-decoration:none; color:#ffffff;}
.powered-by-text {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
	text-shadow: 1px 0px 1px #000000;
	padding-top: 8px;
	float: right; }
.powered-by-text a{
	color: #ffffff;
	text-decoration:none;
}
.footer {
	padding-top: 4px;
}
.padding-21 {
padding:21px 21px 7px 21px; }
.search-option {
	width:79%;
	background-color:#1893ac;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	padding: 8px;
}
.jeq-box-top { background:url(../img/jeq-box-top.jpg); background-repeat:no-repeat; width:412px; height:21px;  }
.jeq-box-middal {
	background-repeat:repeat-y;
	width:402px;
	background-image: url(../img/jeq-box-middal.jpg);
	font-family: Verdana;
	font-size: 10px;
	/*font-style: italic;*/
	font-weight: normal;
	color: #4a4a4a;
	padding:7px;
}
.jeq-box-bot {
	background-repeat:no-repeat;
	width:412px;
	height:11px;
	background-image: url(../img/jeq-box-bot.jpg);
}
.j-titile-border {
	width:99%;
	border-bottom: solid 1px #9e9e9e;
	padding-top: 2px;
	padding-bottom: 2px;
}

.j-left-icon {
	background-image: url(../img/help-small.jpg);
	background-repeat: no-repeat;
	float: left;
	height: 23px;
	width: 23px;
}
.j-information-text {
	font-size: 15px;
	font-weight: normal;
	color: #3c3b3b;
	font-style: normal;
	padding-left: 5px;
	float:left;
	width:322px;
}
.j-close-icon {
	background-image: url(../img/close.jpg);
	background-repeat: no-repeat;
	float: right;
	height: 16px;
	width: 43px;
}
.j-success-box{
background-color:#d2f7ad;
border: solid 1px #aedb2e;
min-width:390px;
-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
 }
 .j-success-box-yel{
background-color:#f1d7ba;
border: solid 1px #e4bbbb;
min-width:390px;
-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
 }
 .search-option-text {
	text-align:center;
	font-size:17px;
	color:#ffffff;
	text-shadow: 1px 0px 2px #000000;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.search-option-box {
background-color:#f2f2f2;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px; }
.sedarch-text {
	font-size: 13px;
	font-weight: normal;
	color: #443f3a;
}
.serch-from-box-bg {
	border:none;
	background:none;
	background-image: url(../img/serach-box.jpg);
	background-repeat: no-repeat;
	height: 42px;
	width: 276px;
	padding:4px;
	margin-top:5px;
}
.serch-from-box-bg:hover {
	border:none;
	background:none;
	background-image: url(../img/serach-box-hover.jpg);
	background-repeat: no-repeat;
	height: 42px;
	width: 276px;
	padding:4px;
	margin-top:5px;
}

.serch-from-box-bg-2 {
	border:none;
	background:none;
	background-image: url(../img/serach-from-2-box.jpg);
	background-repeat: no-repeat;
	height: 43px;
	width: 237px;
}
.serch-from-box-bg-2:hover {
	border:none;
	background:none;
	background-image: url(../img/serach-from-2-box-hover.jpg);
	background-repeat: no-repeat;
	height: 43px;
	width: 237px;
}
.padding-top-8 {
	padding-top: 8px;
}
.height-20 {
height:20px; }
.padding-left-serchtabal {
	float:left;
	padding-right:9px;
	padding-bottom: 6px;
	
	
}
.display-text {
	font-size:12px;
	color:#45423f;
	float:right;
	padding-top: 17px;
	text-align:right;
}
.display-text-padding{
	padding-right:15px;
}
/* tabal-gride-*/
.tabal-title-text {
	background-color:#1893ac;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	border: solid 1px #0e7489;
	height:37px;
	font-size: 14px;
	text-shadow: 1px 0px 1px #000000;
	color: #ffffff;
	
	
 }
 
.tabal-title-text a{
	color: #ffffff;	
}
table.girde {margin-bottom: 14px;}
table.girde thead tr.tabal-title-text th:first-child
{
	background-image: url(../img/serch-left-box.jpg);
	background-position: left center;
	background-repeat: no-repeat;
}
table.girde thead tr.tabal-title-text th:last-child
{
	background-image: url(../img/serch-right-box.jpg);
	background-position: right center;
	background-repeat: no-repeat;
}

.content-label{display: inline-block; font-size: 14px; height: 28px; line-height: 26px; margin-top: 6px; padding: 0 5px; vertical-align: top;}

table.girde tr:first-of-type td
{
	border:none;
	border-bottom:1px solid #bccad3;
	border-top:4px solid #e9e9e9;
}
table.girde tr td last-child table tr td { background:none;}

table.girde tr td 
{
	border-bottom:1px solid #bccad3;
	border-top:4px solid #e9e9e9;
	padding-left:4px;
}


table.girde tr:hover td:first-child, table.girde tr.green:hover td:first-child, table.girde tr.red:hover td:first-child { background:#1893ac; }
table.girde tr td:first-child, table.girde tr.green td:first-child, table.girde tr.red td:first-child { background-color:#1893ac; border:none; width:2px; }
table.girde tr td:last-child, table.girde tr.green td:last-child, table.girde tr.red td:last-child { background-color:#c5c5c5; border:none; width:2px; }
table.girde tr:hover td:last-child, table.girde tr.green:hover td:last-child, table.girde tr.red:hover td:last-child { background-color:#c5c5c5; }

#gride-icon .icon-class {
background:none;
border:none;
border-left: solid 1px #bccad3;
width:40px;
height:37px }

table.girde tr:hover td 
{
	background:#f2f2f2;
}

table.girde tr.green td
{
    background-color:#E6FAE3;
}

table.girde tr.red td
{
    background-color:#FF8F8F;
    opacity:0.30;
}

table.girde tr.red td:first-child, table.girde tr.red td:last-child {opacity:1;}
table.girde tr.red td.fullopacity {opacity:1; background-color:#F6D8D9; border-bottom-color: #E9E9E9; border-top-color: #EFF2F4;}
table.girde tr.red:hover td.fullopacity {background-color:#F6E0E2;}

table.girde tr.green:hover td
{
    background-color:#EFFFED;
}

table.girde tr.red:hover td
{
    background-color:#FFADAD;
}

.blue-color { background-color:#f2f6f8; font-size:13px; color:#443f3a; height:39px; }
.white-color { background-color:#ffffff; font-size:13px; color:#443f3a; height:39px;  }

table.girde tr td.action table tr td.action-icon {
background:none;
border:none;
border-left: solid 1px #bccad3;
width:40px;
height:37px;
}
table.girde tr td.padding-tabal {background:none;border:none; border-bottom: solid 1px #ffffff; height:4px; }
.tabl-top-spase {
background:none;
border:none;
height:4px; }


/* tabal-gride-*/

.result-text {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #292929;
	text-shadow: 1px 1px 1px #ffffff;
	float:left;
	padding-top: 9px;
	margin-bottom: 28px;
}
.result-text-box {
	background:none;
	border:none;
	padding:4px;
	background-color:#ffffff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	border: solid 1px #dddddd;
	margin-top:13px;
	margin-left: 4px;
 }
 /* pageing-start-*/
 ul.nice_paging{
	text-align:center;
	font-weight:bold;
	color:#fff;
	font-size:12px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
}

ul.nice_paging li{padding:4px 7px 4px 7px; height:14px;  margin-left:4px;border-radius:5px;background:url(../img/paging-bg.jpg);  float:left; list-style:none;text-shadow:#000000 1px 0px 0px;border-left:1px solid #bdbdbd;border-right:1px solid #bdbdbd;color:#ffffff;font-weight:normal;}
ul.nice_paging li.current{background:url(../img/active-paging-bg.jpg);color:#fff;border-radius:5px; float:left;text-shadow:#000 1px 0px 0px; }
ul.nice_paging li a{float:left;color:#FFFFFF;text-decoration:none;}

 /* pageing-over-*/
.header-serch-bg {
 background-color:#dfdfdf;
 -moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	padding:4px;
	 }
.header-serch-box {
background:none;
border:none;
	background-image: url(../img/header-search-box.jpg);
	background-repeat: no-repeat;
	height: 28px;
	width: 220px;
	
}
.selectParent-1{
	background:none;
	border:none;
	width:276px;
	overflow:hidden;
	background-image: url(../img/serach-box.jpg);
	background-repeat: no-repeat;
	height: 42px;
	margin-top:5px;
}
.selectParent-1:hover{
	background:none;
	border:none;
	width:276px;
	overflow:hidden;
	background-image: url(../img/serach-box-hover.jpg);
	background-repeat: no-repeat;
	height: 46px;
	margin-top:5px;
}


.selectParent-1 select{
	width: 296px;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 2px 0px 2px 2px;
	border: none;
	background-color: transparent;
	background-image: url(../img/select.jpg);
	background-repeat: no-repeat;
	background-position: 243px;
	margin-top:9px;

}

.selectParent{
width:81px;
overflow:hidden;
background-color:#ffffff;
border: solid 1px #dddddd;
-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	padding:2px;
	margin-top:15px;
	

}

.selectParent select{

width: 101px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
padding: 2px 0px 2px 2px;
border: none;
background: transparent url(../img/select.jpg) no-repeat 60px center;
}
 /* drop down menu-start*/
#access {
	
	display: block;
	margin: 0 auto;
	
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
	
	
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
	padding:0px;
	
	
}
#access .menu-header li,
div.menu li {
	float: left;
	position: relative;	
	height: auto;
	margin-left:-3px;
}
.sub-menu {
	
 }
#access ul li ul li a {
	display: block;
	line-height: 20px;
	padding:0px;
	text-decoration: none;
	padding-left:13px;
}
#access ul ul {
	display: none;
	position: absolute;
	top: 130px;
	float: left;
	z-index: 99999;
	margin-left:4px;
}
#access ul ul li {
	background-color:#3c3b3a;
	border-left: solid 5px #292825;
	padding-left:3px;
	background-image: none;
	background-repeat: no-repeat;
	background-position: left center;
	list-style-image: url(../img/d-le-arrow-hover.jpg);
	list-style:none;
	position:relative;	
	
}
#access ul ul ul{
	top: 0px;
	left: 153px;
}
#access ul ul ul.lastmenu {
	left:0px;
	top:23px;
	position:absolute;
	padding: 7px 0px 0px 0px;
	margin:0px;
	border-bottom: 1px solid #dbdbdb;
	background-image: url(../img/admin-submenu-top.png);
	background-repeat: no-repeat;
	width: 159px;
}
#access ul ul ul.lastmenu li{
	background-color: #F7F8FA;
	border: none;
	list-style-image: url(../img/d-le-arrow-submenu-hover.png);
	list-style:none;
	width: 137px;
	margin: 0px;
	padding: 0px 10px;
	border-left: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
}
#access ul ul ul.lastmenu li a {
    color: #000;
    background-image: url(../img/d-le-arrow-submenu-hover.png);
    background-repeat: no-repeat;
    background-position: 3px center;
    border-color: #DDDFDE;
    margin: 0px;
    width: 127px;
    min-width: 127px;
}
#access ul ul ul.lastmenu li:first-child a {border: none;}
#access ul ul ul.lastmenu  li:hover a {
    font-weight: normal;
}
#access ul ul li:hover > ul{
	width:159px;
	
}

#access ul ul a {
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: #e2e2e2;
	min-width:145px;
	height:21px;
	text-align:left;
	margin-top:2px;
	text-shadow:none;
	background-image: url(../img/d-le-arrow.jpg);
	background-repeat: no-repeat;
	background-position: 3px center;
	border-top: solid 1px #292825;
	margin-top:1px;

}
li:hover > a
{
	
}
li ul li:hover > a,
#access ul ul :hover > a {
	color:#000000;
	font-weight:bold;
	text-shadow:none;
	background-color:#cacaca;
	background-image:url(../img/d-le-arrow-hover.jpg);
	background-repeat:no-repeat;
	height:21px;
	background-position:3px center;
	
}
#access ul li:hover > ul  {
	display: block;
	width:152px;
	
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}
 /* drop down menu-over*/

 /*login-page-start*/
.login-bg {
	background-image: url(../img/login-bg.jpg);
	background-repeat: repeat-x;
}
.login-top {
	background-image: url(../img/login-top.jpg);
	background-repeat: no-repeat;
	height: 74px;
	width: 505px;
}
.login-middal {
	background-image: url(../img/login-middal.jpg);
	background-repeat: repeat-y;
	width: 505px;
} 
.login-bot {
	background-image: url(../img/login-bot.jpg);
	background-repeat: no-repeat;
	height: 15px;
	width: 505px;
}
.height-12 {
height:12px; }.login-page-text {
	font-size: 13px;
	color: #292929;
}
.login-page-login-box {
	background:none;
	border:none;
	background-image: url(../img/login-page-login-box.jpg);
	background-repeat: no-repeat;
	height: 48px;
	width: 330px;
	padding-left: 8px;
}
.login-page-login-box:hover {
background:none;
	border:none;
	background-image: url(../img/login-page-login-box-hover.jpg);
	background-repeat: no-repeat;
	height: 48px;
	width: 334px;
	padding-left: 8px; }
.forget-text {
	font-size: 12px;
	font-weight: normal;
	color: #292929;
	float:left;
}
.forget-text a { text-decoration:none; color: #292929;}
.current-text {
font-size: 12px;
	font-weight: normal;
	color: #1893ad;
	float:right; }
	 /*login-page-over*/

/*new style start*/
hr{height:1px;background-color:#dedede;border:0;}
img{border:0;}
.floatright{float:right;}
.floatleft{float:left;}
.marginleft9{margin-left:9px;}
.padding0{padding:0;}
.margin0{margin:0;}
.center{text-align:center;}

.width395{width:395px;}
.smalltextwidth{width:185px;}
.height21{height:21px;}
.height20{height:20px;}
.height15{height:15px;}
.height10{height:10px;}
.height7{height:7px;}
.height5{height:5px;}
.divfloat .checkbox{display:inline;}
.highlight_red_tr{color:#FF0000;font-weight:bold;}
.highlight_tr{font-weight:bold;}
#pleasewait {
	display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
	text-align:center;
}
#pleasewait img{top:45%;position:relative;}
#UpdateMessage{display:none;}
#UpdateMessage.formerror{background-color: #F2DEDE; border: 1px solid #EED3D7; border-radius: 5px 5px 5px 5px; background-image: url("../img/error.png"); background-position: 10px 12px; background-repeat: no-repeat; padding: 10px 0px 0px 30px; min-width: 390px; min-height: 26px; margin-bottom: 10px; color: #B94A48;}
#UpdateMessage.formsuccess{background-color: #DFF0D8; border: 1px solid #D6E9C6; border-radius: 5px 5px 5px 5px; background-image: url("../img/success.png"); background-position: 10px 12px; background-repeat: no-repeat; padding: 10px 0px 0px 30px; min-width: 390px; min-height: 26px; margin-bottom: 10px; color: #468847;}

#emailsentarea{display:none;z-index:10001;width: 600px; position: fixed; background-color: #f7f8fa; border-radius:8px; border: 3px solid #cccccc; overflow: auto; height: 125px; padding: 15px;}
#emailsentarea .closebutton{text-align:right;visibility:hidden;}
#emailsentarea .massprogressbar_bg{background-image: url(../img/progressbar_bg.jpg);height:30px;width:600px;margin:13px auto;text-align:center;color:#FFFFFF;font-size:14px;}
#emailsentarea .massprogressbar{background-image: url(../img/progressbar.jpg);background-repeat:repeat-x;height:25px;padding-top:5px;}
#emailsentarea .totalcomplete{background-color:#e2eaf1;padding:5px 20px;border: 1px solid #c3d3df;border-radius:15px; }
#emailsentarea .text{color:#168fae;font-size:14px;}

.nav1 ul li a:hover img{opacity:0.30;}
.textarea-box {border: 1px solid #d1d1d1;background-color:#ffffff;padding:7px;margin-left: 9px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;min-width:396px;font-family : OpenSans;font-size : 11px;}
.textarea-box:hover {border: 1px solid #d1d1d1;background-color:#ffffff;padding:7px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;
-moz-box-shadow: 0px 0px 2px 1px #cce7ed;-webkit-box-shadow: 0px 0px 2px 1px #cce7ed;box-shadow: 0px 0px 2px 1px #cce7ed;border:solid 1px #85c6d3}
.satting-from-bg {border: 1px solid #d1d1d1;background-color:#ffffff;padding:7px;margin-left: 9px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;min-width:85px;}
.satting-from-bg:hover {border: 1px solid #d1d1d1;background-color:#ffffff;padding:7px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;
-moz-box-shadow: 0px 0px 2px 1px #cce7ed;-webkit-box-shadow: 0px 0px 2px 1px #cce7ed;box-shadow: 0px 0px 2px 1px #cce7ed;border:solid 1px #85c6d3}
.textwidth71{min-width:71px;width:71px;}
.adv-ref-com-box{width:54px;min-width:54px; margin-bottom: 6px; margin-right: 7px;}
.informationbox{margin-left:9px;display:none;}
.informationboxstatistic{display:none;}
.helpicon{cursor:pointer;}
ul.nice_paging li.disabled{display:none;}
img.ui-datepicker-trigger{vertical-align:middle;margin-left:5px;}
fieldset{border: 1px solid #d1d1d1;background-color:#ffffff;padding:7px;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;}
.textboxheightmatch { height:20px;vertical-align:middle; }
.minsearchbywidth { width: 140px; }
/*tooltip style start*/
p#vtip { display: none; position: absolute; padding: 10px; left: 5px; font-size: 0.8em; background-color: white; border: 1px solid #00766D; border-radius: 5px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; z-index: 9999 }
p#vtip #vtipArrow { position: absolute; top: -10px; left: 5px }
/*tooltip style over*/

/*search-menu style start*/
#searchmenulinkshtml a{cursor:pointer;}
#searchmenulinkshtml{width:245px;margin:0px 0px 0px 2px;max-height:300px;overflow:auto;z-index: 10;}
#searchmenulinkshtml ul.search-menu {padding:10px 0px 10px 0px;margin:0;list-style-position:inside;border:1px solid #b5b5b5;}
#searchmenulinkshtml ul.search-menu li {list-style-image: url(../img/d-le-arrow-single.png);padding:0px 5px 0px 10px;}
#searchmenulinkshtml ul.search-menu li:hover {background-color:#d5d5d5;}
/*search-menu style over*/

/*search-menu style start*/
#memberlistdd{position: absolute; background-color: white;}
#memberlistdd a{cursor:pointer;}
#memberlistdd{width:245px;margin:0px 0px 0px 2px;max-height:300px;overflow:auto;}
#memberlistdd ul {padding:10px 0px 10px 0px;margin:0;list-style-position:inside;border:1px solid #b5b5b5;}
#memberlistdd ul li {list-style-image: url(../img/d-le-arrow-single.png);padding:0px 5px 0px 10px;}
#memberlistdd ul li:hover {background-color:#d5d5d5;}
/*search-menu style over*/

/*new style over*/

/*gaurav code start*/
.j-content-text
{
	padding-top:4px;
}
/*gaurav code end*/


	 
	 
	 
	 
/*New Design Start*/
.display-block { display: inline-block; }
#new-table-in { padding:0px; margin:0px 0px 14px 0px; } 
.new-tabal-tr { background:#1893ac; border-bottom:1px solid #0e7489; font-weight:normal; font-size:14px; color:#ffffff !important; text-shadow:  1px 0px 2px #000000;  }
 .background-none { background:none !important; border:none !important; width:1% !important; padding:0px !important;} 
 .new-border-bottam { border-bottom: solid 1px #ffffff; }
 .new-white-bg { background:#ffffff; padding-left:5px; height: 37px;}
#new-table-in tr td {border-bottom: 1px solid #ffffff; border-top: solid 4px #e9e9e9;  font-size:13px; font-weight:normal; color:#443f3a; }
#new-table-in tr td p{margin: 0px;padding: 0px;}
.new-border-left {width:5px; background:#1893ac; border:none !important; }
.new-border-right {width:5px; background:#c5c5c5; border:none !important; }
.new-blue-bg { background:#f2f6f8; padding-left:5px; height: 37px;}
.new-from-box { background:none; background:#ffffff; border: solid 1px #c5c5c5; -moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	padding-left:5px; padding-top:5px; 
	height:90%;
	min-width:97%;
	margin:3px 0 2px 0;
	font-family : OpenSans;
	font-size : 11px;
	color:#443F3A;
}
#new-table-in tr:hover td{ background:#f2f2f2; }
#new-table-in tr:hover .new-border-left {width:5px; background:#1893ac; }
#new-table-in tr:hover .new-border-right {width:5px; background:#c5c5c5; }
.new-member-view {
	background:#199db9;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	padding-top:8px;
	padding-bottom:8px;
	font-size:14px;
	color:#ffffff;
	text-shadow:1px 0px 2px #000000;
	padding-left:5px;
	margin-top: 8px;
	 }
#member-view td:last-child  { color:#443f3a; }
#member-view tr:hover { background:#f2f2f2; }

.member-view-border  {
	border-bottom: 1px solid #e4e4e4;
	font-size: 13px;
	color: #1893ac;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 5px;
}
.instructions-for-payza { color:#ff0000; border-bottom: solid 1px #bbbbbb; padding-top:8px; padding-bottom:4px; font-size: 16px;}
.instructions-page-width { width:98%; text-align:left; }
.instructions-for-payza-text {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #4a4a4a;
	padding-top: 6px;
}
.new-payment-ul { padding:0px; margin:0px; margin-left:20px; }
.new-payment-ul li {
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #4a4a4a;
	line-height: 22px;
	background-image: url(../img/new-bullate.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	list-style:none;
	padding-left: 18px;
}
.new-blue-color {
	color: #007289;
}
.new-note {
	background:#fffce1;
	border: solid 1px #d1d1d1;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	padding:5px;
	margin-left: 15px;
}
.new-note-margin {
	margin-left: 30px !important;
}
.new-menu-sub {
	background:#1893ac;
	border: solid 1px #0e7489;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	width: 100%;
	margin-bottom: 5px;
}

.sub-menu-1 {
	height:auto;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	text-align: center;
}
.sub-menu-1  ul {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.sub-menu-1  ul li {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
	height: auto;
	padding-top: 4px;
}
.sub-menu-1  ul li a {
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	color: #ffffff;
	cursor:pointer;
	line-height: 30px;
	text-align: center;
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	text-shadow: 1px 0px 2px #000000;
	height:32px;
	margin-top:1px;
	margin-bottom:1px;
}
.sub-menu-1 ul li a:hover {
	background-repeat:no-repeat;
	text-decoration: none;
	background-color: #005c6f;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	-khtml-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	border: solid 1px #2ea0b7;
		margin-top:0px;
	margin-bottom:0px;
	padding-right: 9px;
	padding-left: 9px;
	
	
}
.sub-menu-1 ul li a.active {
	background-repeat:no-repeat;
	text-decoration: none;
	background-color: #005c6f;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	-khtml-border-radius:5px 5px 0px 0px;
	border-radius:5px 5px 0px 0px;
	border: solid 1px #2ea0b7;
		margin-top:0px;
	margin-bottom:0px;
	padding-right: 9px;
	padding-left: 9px;
	
	
}

.new-gired{margin-bottom: 14px;}
.new-gired.tabal-title-text {
	background-color:#1893ac;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	border: solid 1px #0e7489;
	height:37px;
	font-size: 14px;
	text-shadow: 1px 0px 1px #000000;
	color: #ffffff;
	font-weight: normal;
	
	
 }
 .new-gired tr th { font-weight:normal; border-right: solid 1px #005c6f;}

.new-gired thead tr.tabal-title-text th:first-child
{
	background-image: url(../img/serch-left-box.jpg);
	background-position: left center;
	background-repeat: no-repeat;
	border:none;
}
.new-gired  thead tr.tabal-title-text th:last-child
{
	background-image: url(../img/serch-right-box.jpg);
	background-position: right center;
	background-repeat: no-repeat;
	border:none;
}

.new-gired  tr:first-of-type td
{
	border:none;
	border-bottom:1px solid #bccad3;
	border-top:4px solid #e9e9e9;
}
.new-gired  tr td last-child table tr td { background:none;}

.new-gired  tr td 
{
	border-bottom:1px solid #bccad3;
	border-top:4px solid #e9e9e9;
	border-right: 1px solid #c0cdd6;
}


.new-gired  tr:hover td:first-child
{

background:#1893ac;
}
.new-gired  tr td:first-child { background-color:#1893ac; border:none; width:6px; }
.new-gired  tr td:last-child { background-color:#c5c5c5; border:none; width:6px; }

.new-gired  tr:hover td:last-child
{
background-color:#c5c5c5;
}

#gride-icon
{
    height:100%;
    width:100%;
}

#gride-icon .icon-class {
background:none;
border:none;
border-left: solid 1px #bccad3;
width:40px;
height:37px }

.new-gired  tr:hover td 
{
	background:#f2f2f2;
}

.new-gired .blue-color { background-color:#f2f6f8; font-size:13px; color:#443f3a; height:39px; }
.new-gired .white-color { background-color:#ffffff; font-size:13px; color:#443f3a; height:39px;  }

.new-gired  tr td.action table tr td.action-icon {
background:none;
border:none;
border-left: solid 1px #bccad3;
width:40px;
height:37px;
}
.new-gired  tr td.padding-tabal {background:none;border:none; border-bottom: solid 1px #ffffff; height:4px; }
.tabl-top-spase {
background:none;
border:none;
height:4px; }

.step-menu-middle
{
	background-image:url(../img/step-menu-bg.jpg);
	background-repeat:repeat-x;
	height:45px;
	border-radius:7px;
	border-left: solid 1px #cfcfcf;
	border-right: solid 1px #cfcfcf;
	margin-bottom: 0px;
}
.step-menu
{
	margin:0px;
	height:45px;
}
.step-menu ul
{
	margin:0px;
	padding:0px;
}
.step-menu ul li
{
	list-style:none;
	display:inline-block;
	background-image:url(../img/arrow-1.jpg);
	background-repeat:no-repeat;
	background-position:right;
	height:45px;
	padding-right:13px;
	vertical-align:top;
	position:relative;
}
.step-menu ul li a
{
	text-decoration:none;
	padding-left:8px;
	padding-right:8px;
	font-size:12px;
	color:#747474;
	display:block;
	height:45px;
	text-transform: uppercase;
	line-height:44px;
	text-shadow: 1px 1px 1px #ffffff;
	cursor:default;
}
.reder-text {
	font-size:26px;
	
	line-height:20px;
	font-weight: bold;
	vertical-align:-5px;
	padding-right:3px;
}
.checkall
{
	background:#eaeaea;
	border-radius:5px;
	padding:3px 5px;
	display:inline-block;
	font-size:13px;
	color:#4e4e4e;
	text-shadow:none;
}
.padding-left-15{padding-left: 15px;}
.padding-left-9 {
padding-left:9px; }
.padding-right-9 {
padding-right:9px; }

.thems-main-box {
	background:#1893ac;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	padding: 8px;
	margin-top:5px;
 }
 .thems-wite-box {
	background:#ffffff;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	padding-top: 8px;
	padding-right: 27px;
	padding-bottom: 8px;
	padding-left: 27px;
 }
.activ-text {
	font-size: 17px;
	font-weight: normal;
	color: #ffffff;
	text-shadow: 1px 0px 2px #000000;
	text-align: center;
	padding-bottom: 8px;
}
.thems-bot-text {
	font-size: 13px;
	font-weight: bold;
	color: #443f3a;
	text-align: center;
}
.thems-right {
	float:left;
	margin-left:40px;
	margin-top: 45px;
}
.display-text-2 {
	font-size:12px;
	color:#45423f;
	
	padding-top: 17px;
	
}
#themas-tabal { padding-bottom: 14px; }
#themas-tabal .thems-left-border { background:#1893ac;}
#themas-tabal .thems-blue-bg{
	background:#f2f6f8;
	/*width:25%;*/
	padding-bottom: 8px;
} 
#themas-tabal .thems-white-bg{
	background:#ffffff;
	/*width:25%;*/
	padding-bottom: 8px;
}
#themas-tabal .thems-right-border { background:#c5c5c5;}
.height-40 { height:40px; }.thems-top-text {
	font-size: 12px;
	font-weight: bold;
	color: #494643;
	padding-top: 5px;
	padding-bottom: 5px;
}
.sta-text {
	font-size: 14px;
	font-weight: bold;
	color: #525252;
	padding-top: 5px;
	padding-bottom: 5px;
}
.sta-box {
	background:#1893ac;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	border: solid 1px #0e7489;
	width:457px;
	height:37px;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 1px 0px 2px #000000;
	color: #ffffff;
	padding-left: 6px;
	 }
	 .sta-border-left { background:#1893ac; width:6px; }
	 .sta-border-right { background:#c5c5c5; width:6px;  }
.sta-blue-bg {
	background-color: #f2f6f8;
	height:37px;
	font-size: 13px;
	font-weight: normal;
	color: #443f3a;
	padding-left: 4px;
	border-bottom: solid 1px #bccad3;
}
.sta-white-bg {
	background-color: #ffffff;
	height:37px;
	font-size: 13px;
	font-weight: normal;
	color: #443f3a;
	padding-left: 4px;
	border-bottom: solid 1px #bccad3;
}
.sta-box-top { width:465px; height:19px; }
.sta-box-middal {
	background-image: url(../img/sta-box-middal.jpg);
	background-repeat: repeat-y;
	font-size: 13px;
	font-weight: normal;
	color: #3c3b3b;
}
.sta-box-bot { width:465px; height:12px;}
.sta-blue-text {
	color: #006276;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}
.sta-from-box {
	background-color: #ffffff;
	height: 34px;
	width: 447px;
	border: 1px solid #b2b2b2;
}
.left-scroll {
	width:192px;
	float:left;
	margin-top: 10px;
	margin-left: 8px;
}
.right-scroll{
	margin-top: 10px;
	margin-right: 8px;
}
.left-scroll-title {
	background:#1893ac;
	width:172px;
	height:23px;
	font-weight: normal;
	font-size:13px;
	color: #ffffff;
	margin:0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
}
.scroll-title {
	background:#1893ac;
	font-weight: normal;
	font-size:13px;
	color: #ffffff;
	margin:0px;
	padding: 4px;
}
.scroll-text-border {
	width:99%;
	border-bottom: solid 1px #9e9e9e;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size:12px;
	font-style:normal;
}
.scroll-text-color {
	color:#1893AC;
}
.scroll-text {
	padding:0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.scroll-text li {
	text-decoration:none;
	font-size:11px;
	color:#443f3a;
	font-weight:500;
	margin:0px;
	list-style:none;
	background-image: url(../img/scrooll-list.jpg);
	background-repeat: no-repeat;
	background-position: left 10px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 11px;
}
.scroll-text.helpiconul li {
	background-position: left 8px;
	padding-top: 4px;
}
 .step-menu ul li .act
{
    background-image:url(../img/hover-image.jpg);
    background-repeat:repeat-x;
    color:#ffffff;
    text-shadow: 1px 1px 1px #18687a;

}
.step-menu ul li .act .right
{
    background-image:url(../img/arrow-1-hover.jpg);
    background-repeat:no-repeat;
    background-position:right;
    height:45px;
    display:block;
    position:absolute;
    left:0;
    right:0;
    top:0;
}
.step-menu ul li .act .left
{
    background-image:url(../img/left-hover.png);
    background-repeat:no-repeat;
    background-position:left;
    height:45px;
    display:block;
    position:absolute;
    left:-15px;
    right:0;
    top:0;
}
.stem-left-redis { border-top-left-radius:7px;border-bottom-left-radius:7px;}
.ovi-left {
	background-image: url(../img/ovi-left.jpg);
	background-repeat: no-repeat;
	height: 45px;
	width: 0.8%;
	float:left;
}
.ovi-middal {
	background-image: url(../img/ovi-middal.jpg);
	background-repeat: repeat-x;
	height: 45px;
	width:98.4%;
	float:left;
}
.ovi-right{
	background-image: url(../img/ovi-right.jpg);
	background-repeat: no-repeat;
	height: 45px;
	width: 0.8%;
	float:left;
}
.ovi-text {
	font-size: 13px;
	font-weight: normal;
	color: #535353;
	float:right;
	padding-top: 13px;
	margin-left: 5px;
}
.ovi-text a {
	text-decoration:none;
	color: #535353;	
}
/*New Design Over*/
/*Member View Design Start*/
.details-menu { background:#f2f3f3; border-bottom: solid 1px #d7d7d7; height:41px; }
.padding-details { padding-left:11px; padding-right:11px; padding-top:15px;}
.details-nav {
	height:auto;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom:3px;
	text-align: center;
	width:100%;
}
.details-nav ul {
	margin: 0px;
	padding: 0px;
}
.details-nav ul li {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: -3px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #d7d7d7;
}
.details-nav ul li a {
	height:42px;
	background-repeat:no-repeat;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	color: #443f3a;
	line-height: 40px;
	text-align: center;
	margin-left: -1px;
	padding-right: 10px;
	padding-left: 10px;
	display: block;
	text-shadow: 1px 0px 0px #ffffff;
}
.details-nav ul li a:hover {
	text-decoration: none;
	color: #443f3a;
	background-color: #e5e5e5;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #1893ac;
	height:38px;
}
.details-nav ul li a.active {
	text-decoration: none;
	color: #443f3a;
	background-color: #e5e5e5;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #1893ac;
	height:38px;
}
.details-title-box {
	background:#e5e5e5;
	padding-top:3px;
	width:100%;
	margin-top: 15px;

	padding-bottom: 3px;
}
.details-title-text {
	font-size: 20px;
	font-weight: normal;
	color: #199db9;
	padding-left:8px;  }
.positions-main-box {
	background:#f2f3f3;
	border: solid 1px #d4d4d4;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	margin-top: 18px;
	margin-bottom: 5px;
}
.positions-menu {
	height:auto;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	
	text-align: center;
	width:100%;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d4d4d4;
}
.positions-menu ul {
	margin: 0px;
	padding: 0px;
	float: left;
	margin-left:11px;
}
.positions-menu ul li {
	list-style-image: none;
	list-style-type: none;
	display: block;
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: -3px;
	float: left;
}
.positions-menu ul li a {
	height:35px;
	background-repeat:no-repeat;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	color: #443f3a;
	line-height: 35px;
	text-align: center;
	margin-left: 1px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}
.positions-menu ul li a:hover {
	background-repeat:repeat-x;
	text-decoration: none;
	color: #ffffff;
	float: left;
	background:#1893ac;
	border-left: solid 1px #d2d3d4;
	border-right: solid 1px #d2d3d4;
	padding-right: 9px;
	padding-left: 9px;
}
.positions-menu ul li .act  {
	background-repeat:repeat-x;
	text-decoration: none;
	color: #ffffff;
	float: left;
	background:#1893ac;
	border-left: solid 1px #d2d3d4;
	border-right: solid 1px #d2d3d4;
	padding-right: 9px;
	padding-left: 9px;
}
.positions-menu-drowp {
	height:auto;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	text-align: center;
	width:100%;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d4d4d4;
	background-color: #ffffff;
}
.positions-menu-drowp ul {
	margin: 0px;
	padding: 0px;
	float: left;
	margin-left:11px;
}
.positions-menu-drowp ul li {
	list-style-image: none;
	list-style-type: none;
	display: block;
	background-repeat: no-repeat;
	background-position: left center;
	
	float: left;
	border-right: solid 1px #d4d4d4;
	
	
}
.positions-menu-drowp ul li a {
	height:35px;
	background-repeat:no-repeat;
	text-decoration: none;
	font-size: 13px;
	font-weight: normal;
	color: #443f3a;
	line-height: 35px;
	text-align: center;
	margin-left: 1px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
}
.positions-menu-drowp ul li a:hover {
	background-repeat:repeat-x;
	text-decoration: none;
	color: #1893ac;
	float: left;
	
	
}
.positions-menu-drowp ul li .act  {
	background-repeat:repeat-x;
	text-decoration: none;
	color: #1893ac;
	float: left;
	}
.stat-top-border { height:5px; background:#1893ac; }
.stat-bottam-border { height:2px; background:#dcdcdc; }
.stat-padding { padding-left:8px; padding-right:8px; }
.margin10{margin-left:10px; margin-right:10px;}

.textwidth{ width:550px;}
.texthight{ height:200px;}
.stat-top-border { height:5px; background:#1893ac; }
.stat-bottam-border { height:2px; background:#dcdcdc; }
.stat-padding { padding-left:8px; padding-right:8px; }


.stat-title-text {
	font-size: 14px;
	font-weight: normal;
	color: #1893ac;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #1893ac;
	height: 30px;
}
.stat-in-text {
	font-size: 13px;
	font-weight: normal;
	color: #443f3a;
	padding-top: 5px;
	padding-bottom: 5px;
}
.stat-in-text-1 {
	font-size: 13px;
	font-weight: normal;
	color: #1893ac;
	padding-top: 5px;
	padding-bottom: 5px;
}
.detils-from-text {
	font-size: 13px;
	font-weight: normal;
	color: #443f3a;
}
.detils-from-box {
	background:#ffffff;
	border: solid 1px #d1d1d1;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	height:31px;
	width:294px;
	margin-top: 5px;
}
.detils-from-box-rext-areya {
	background:#ffffff;
	border: solid 1px #d1d1d1;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	
	width:294px;
	margin-top: 5px;
}
.detils-from-box-in-box {
	background:#ffffff;
	border: solid 1px #d1d1d1;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	height:31px;
	width:159px;
	margin-top: 5px;
}
.detils-title-from-box {
	background-color: #f2f3f3;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	height: 31px;
	border: solid 1px #d1d1d1;
	margin-top: 5px;
}
.testimonial-left {
	background-color: #1893ac;
	width:6px;
}
.testimonial-right {
	background-color: #c5c5c5;
	width:6px;
}
.testimonial-padding-td { background:#e9e9e9; height:4px; border-top: solid 1px #ffffff; }
.testimonial-white-box { background:#ffffff; border-bottom:solid 1px #bccad3; }
.testimonial-blue-box { background:#f2f6f8; border-bottom:solid 1px #bccad3; }.testimonial-photo-bg {
	background-image: url(../img/testimonial-photo-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 65px;
	width: 67px;
}
.testimonial-user-name-text {
	font-size: 12px;
	font-weight: normal;
	color: #443f3a;
	padding-top:4px;
}
.testimonial-member-id-text {
	color: #1893ac;
	font-size: 12px;
	font-weight: normal;
}
.testimonial-border { border-left: solid 1px #bccad3;
}
.testimonial-right-border {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bccad3;
	font-size:15px;
}
.testimonial-text {
	font-size: 13px;
	font-weight: normal;
	color: #443f3a;
	padding-top: 4px;
	padding-bottom: 5px;
}
.testimonial-table { padding-bottom: 14px; }
.testimonial-table tr:hover  { background:#f2f2f2; }
.margintop5{ margin-top:5px; }
.width294{ width:280px; height:20px; margin-left:0px;}
.widthtextarea{ min-width:280px !important; margin-left:0px; }
.width166{ width:166px; height:20px; }
/*Member View Design Over*/


/*new-css-in-new-page*/
.admin-o-menu { float:left; width: 100%}
.admin-o-menu ul {float:left; margin:0px; padding:0px; width: 100%}
.admin-o-menu ul li {
	float:left;
	margin:0px;
	display:block;
	padding-top: 0px;
	padding-right: 0.30%;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style:none;
	text-align: center;
	width: 14%;
	
}
.admin-o-menu ul li:last-child {padding: 0px;}
.admin-o-menu ul li a {
	float:left;
	margin:0px;
	padding:0px;
	text-decoration:none;
	background-color: #1993AB;
	border: 1px solid #1993AB;
	border-bottom: none;
	text-shadow: 1px 1px 1px #023f4b;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
	padding-top:5px;
	height: 36px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
}
.admin-o-menu ul li a:hover, .admin-o-menu ul li a.active {
	float:left;
	background-color: #FFF;
	border-color: #D8D8D8;
	color: #1893ac;
	text-shadow:none;
	padding-top:5px;
}
.admin-note-box-ovi {
	background:none;
	border:none;
	background-color:#ffffff;
	border:solid 1px #d8d8d8;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	width: 100%;
}
.padding-admin { padding:8px; }
.admin-box-grey {
	background:#ffffff;
}
.admin-box-greyheader td {
	background:#1893AC;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 13px;
	font-weight: bold;
	color: #ffffff; 
}
#admin-ovi { }
#admin-ovi .admin-box-grey td { border:solid 1px #e2e1e1; padding-left:16px;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 13px;
	font-weight: bold;
	color: #585858; }
.admin-box-white { background:#f2f6f8;
	
	color: #1893ac; }
#admin-ovi .admin-box-white td { border:solid 1px #e2e1e1; padding-left:16px;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 13px;
	font-weight: bold;
	color: #1893ac; }
.height-3 { height:3px; }
#admin-ovi .admin-box-white td:first-child {border-right:none;}
#admin-ovi .admin-box-grey td:first-child { border-right:none; }
#admin-ovi .admin-box-white td:last-child {border-left:none;}
#admin-ovi .admin-box-grey td:last-child {border-left:none;}
.memberstateright{width:560px; float:left;}
.memberstateleft{width:440px; float:left;}
.fontwaitnormal{font-weight:normal !important; padding-left:30px !important;}
.borderleftrightnone{border-left:none !important; border-right:none !important;}
.borderbottomnone{border-bottom:none !important;}

#noformatetable td{background-color: transparent;border: none;}

/*#quickmenubox{display:none;width: 300px; position: fixed; background-color: #f7f8fa; border-radius:8px; border: 3px solid #cccccc; overflow: auto; height: 80%; padding: 15px;z-index:1;}
#quickmenubox ul{ background-color: #eaeaea;border:1px dashed #000000;}
#quickmenubox ul li{ background-color:#16869c;color:#ffffff;font-weight:bold;list-style:none;margin:5px;padding:5px;}
#quickmenubox .trushmenu{margin:0;padding:0;background-color:#dedede;width:90%;height:35px;}*/

/*quickmenubox-css-start-*/
 #quickmenubox{
	background:#423d39;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	width:272px;
	padding-top: 10px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	position:fixed;
	
	height: 80%;
	z-index:1001;
	left:0;top:0;
}
.quickmenubutton{width:153px;height:32px;padding:0;border:0;background-image: url(../img/menu/submit-changes.jpg);background-repeat: repeat-x;}
.trushmenu {
	background-image: url(../img/menu/drag--button-repet.jpg);
	background-repeat: repeat-x;
	height:29px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-khtml-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	font-size:11px;
	
	font-style:normal;
	color:#423d39;
margin:0px; padding:0px;
width:113px;
}
.trushmenu li {
	list-style:none;
	margin:0px;
	padding-left:18px;
	padding-top:0px;
	line-height:27px;
	background-image: url(../img/menu/drag-delet-icon.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-left:4px;
}
.drag-delet-icon {
	margin:0px;
	height: 21px;
	width: 16px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display:block;
	float:left;
	padding-right:2px;
	
}
.menu-box { 
background:#f2f6f7; 
margin-top:6px;
width:255px;
padding-top:6px;
padding-bottom:6px;
padding-left:7px;
padding-right:0px;
border-top:none;
border:solid 5px #1893ac;-moz-border-radius:0px 0px 5px 5px;
-webkit-border-radius:0px 0px 5px 5px;
-khtml-border-radius:0px 0px 5px 5px;
border-radius:0px 0px 5px 5px; 
}
.menu-box .menulistoverflow{overflow:auto;}
.menu-box .menulistoverflow .mCSB_scrollTools{width:10px;}
.menu-box .menulistoverflow .mCSB_container{margin-right:8px;}

.remove-all { float:left; padding-left:10px; } 
#erasedroppable { float:left; }

.quick-menu  { margin:0px; padding:0px;}
.quick-menu  span{ margin-right:10px;}
.quick-menu li {
	margin:0px;
	height: 55px;
	width: 247px;
	
	list-style:none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color:#565656;
	background-image: url(../img/menu/quieck-box-li-bg.jpg);
	background-repeat: no-repeat;
	background-position:right top;
	font-size:13px;
	line-height:55px;
	margin-top:5px;
	padding-bottom:6px;
	border-bottom: dashed 1px #c9cccd;
	
	z-index:1001;
}
.quick-menu li:hover { color:#1893ac; } 
.quick-submit-menu { text-align:center; padding-top:8px; }
.quick-closed { position:absolute; top:-4px; right:0; }
/*quickmenubox-css-over-*/
  
/*Slider Start*/
/*icon-css-new*/
#icon-hover { }
#icon-hover tr td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: dashed;
	
	border-bottom-style:dashed;
	border-right-color: #d3d3d3;
	border-bottom-color: #d3d3d3;
	padding-left:4px;
	padding-bottom: 14px;
	padding-top:14px;
	
	
}
#icon-hover tr td:last-child { border-right:none;}
.website-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/website-settings.png);
	background-position: bottom;
	
}
.membership-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/membership-settings.png);
	background-position: bottom;
	
}
.currency-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/currency-settings.png);
	background-position: bottom;
	
}
.admin-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/admin-settings.png);
	background-position: bottom;
	
}.email-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/email-settings.png);
	background-position: bottom;
	
}
.security-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/security-settings.png);
	background-position: bottom;
	
}
.finance-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/finance-settings.png);
	background-position: bottom;
	
}
.cronjob-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/cronjob-settings.png);
	background-position: bottom;
	
}
.advertisement-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/advertisement-settings.png);
	background-position: bottom;
	
}
.solo-ads-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/solo-ads-settings.png);
	background-position: bottom;
	
}
.signup-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/signup-settings.png);
	background-position: bottom;
	
}
.referral-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/referral-settings.png);
	background-position: bottom;
	
}
.statistics-settings {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/statistics-settings.png);
	background-position: bottom;
	
}
.member-list {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/member-list.png);
	background-position: bottom;
	
}
.leader-board {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/leader-board.png);
	background-position: bottom;
	
}
.mass-mailing {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/mass-mailing.png);
	background-position: bottom;
	
}
.mass-mailing-history {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/mass-mailing-history.png);
	background-position: bottom;
	
}
.admin-message {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/admin-message.png);
	background-position: bottom;
	
}
.payment-history {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/payment-history.png);
	background-position: bottom;
	
}
.pending-deposits {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/pending-fund-deposit.png);
	background-position: bottom;
	
}
.pending-positions {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/pending-position.png);
	background-position: bottom;
	
}
.withdrawal-requests {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/withdrawal-requests.png);
	background-position: bottom;
	
}
.withdrawal-history {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/withdrawal-history.png);
	background-position: bottom;
	
}
.commission {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/commission.png);
	background-position: bottom;
	
}
.cash-by-admin {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/cash-by-admin.png);
	background-position: bottom;
	
}
.coupons {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/coupons.png);
	background-position: bottom;
	
}
.themes {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/themes.png);
	background-position: bottom;
	
}
.email-templates {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/email-templates.png);
	background-position: bottom;
	
}
.template-edit {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/template-edit.png);
	background-position: bottom;
	
}
.language-edit-phase {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/language-edit-phase.png);
	background-position: bottom;
	
}
.website-pages {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/website-pages.png);
	background-position: bottom;
	
}
.virtual-pages {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/virtual-pages.png);
	background-position: bottom;
	
}
.news {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/news.png);
	background-position: bottom;
	
}
.faqs{
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/faqs.png);
	background-position: bottom;
	
}
.testimonials {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/testimonial.png);
	background-position: bottom;
	
}
.banners {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/banners.png);
	background-position: bottom;
	
}
.textlink-ads {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/textlink-ads.png);
	background-position: bottom;
	
}
.landing-pages {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/landing-pages.png);
	background-position: bottom;
	
}
.splash-pages {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/splash-pages.png);
	background-position: bottom;
	
}
.splash-pages {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/splash-pages.png);
	background-position: bottom;
	
}
.email-ads {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/email-ads.png);
	background-position: bottom;
	
}
.banner-ads {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/banner-ads.png);
	background-position: bottom;
	
}
.text-ads {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/text-ads.png);
	background-position: bottom;
	
}
.solo-ads {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/solo-ads.png);
	background-position: bottom;
	
}
.message-ads {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/message-ads.png);
	background-position: bottom;
	
}
.admin-activity {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/admin-activity.png);
	background-position: bottom;
	
}
.member-activity {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/member-activity.png);
	background-position: bottom;
	
}
.admin-logs {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/admin-logs.png);
	background-position: bottom;
	
}
.member-logs {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/member-logs.png);
	background-position: bottom;
	
}
.cronjob-logs {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/cronjob-logs.png);
	background-position: bottom;
	
}
.ip-logs {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/ip-logs.png);
	background-position: bottom;
	
}
.processer-trace-logs {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/processer-trace-logs.png);
	background-position: bottom;
	
}
.manage-add-ons {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/manage-add-ons.png);
	background-position: bottom;
	
}
.current-add-ons {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/current-add-ons.png);
	background-position: bottom;
	
}
.jackpots {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/jackpot.png);
	background-position: bottom;
	
}
.balance-transfer {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/balance-transfer.png);
	background-position: bottom;
	
}
.manage-add-ons {
	display: block;
	width: 55px;
	height:55px;
	text-indent: -99999px;
	background-image: url(../img/menu/manage-add-ons.png);
	background-position: bottom;
	
}
#slider .icon-name a span {
	transition: all ease-in-out 500ms;
}
#slider .icon-name a span:hover {
	background-position: 0 0;
}
.menu-box .quick-menu span
{
    transition: all ease-in-out 500ms;
}
.menu-box .quick-menu span:hover {
	background-position: 0 0;
}

.icon-name {
	font-size: 12px;
	font-weight: normal;
	color: #555555;
}
.icon-name a {
	font-size: 12px;
	text-decoration:none;
	font-weight: normal;
	color: #555555;
}
.icon-name a:hover {
	font-size: 12px;
	font-weight: normal;
	color: #1893ac;
}

#icon-hover tr td.icon-border { border-bottom:none; }
.blue-border {
	background:#1893ac;
	height:3px;
	margin-top: 11px;
}
 /* pageing-start-*/
 ul.icon_paging{
	text-align:center;
	font-weight:bold;
	color:#fff;
	font-size:12px;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 0;
	margin:0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	
}

ul.icon_paging li{padding:3px 7px 3px 7px; height:14px;  margin-left:4px;border-radius:0px 0px 5px 5px;background:url(../img/menu/paging-bg.jpg);  float:left; list-style:none;text-shadow:#000000 1px 0px 0px;border-left:1px solid #bdbdbd;border-right:1px solid #bdbdbd;color:#ffffff;font-weight:normal;}
ul.icon_paging li.current{background:url(../img/menu/active-paging-bg.jpg);color:#fff;border-radius:0px 0px 5px 5px; float:left;text-shadow:#000 1px 0px 0px; }
ul.icon_paging li a{font-weight:bold; float:left;color:#000000;}
.icon-page-bottam { float:left; }
.quick-menu-edit { float:right;}
/*Slider Over*/

.admin-ov-menu-quick-menu  { 
background:url(../img/admin-ov-menu-quick-menu.png);
background-repeat:no-repeat;
background-position: center bottom;
text-indent: -99999px;
margin:0 auto;
width:18px;
height:16px;
display:block; }
.admin-ov-menu-admin-note  { 
background:url(../img/admin-ov-menu-admin-note.png);
background-repeat:no-repeat;
background-position: center bottom;
text-indent: -99999px;
margin:0 auto;
width:18px;
height:16px;
display:block; }
.admin-ov-menu-member-statistics  { 
background:url(../img/admin-ov-menu-member-statistics.png);
background-repeat:no-repeat;
background-position: center bottom;
text-indent: -99999px;
margin:0 auto;
width:18px;
height:16px;
display:block; }
.admin-ov-menu-admin-notification  { 
background:url(../img/admin-ov-menu-admin-notification.png);
background-repeat:no-repeat;
background-position: center bottom;
text-indent: -99999px;
margin:0 auto;
width:18px;
height:16px;
display:block; }
.admin-ov-menu-financial-statistic  { 
background:url(../img/admin-ov-menu-financial-statistic.png);
background-repeat:no-repeat;
background-position: center bottom;
text-indent: -99999px;
margin:0 auto;
width:18px;
height:16px;
display:block; }
.admin-ov-menu-ads-statistics  { 
background:url(../img/admin-ov-menu-ads-statistics.png);
background-repeat:no-repeat;
background-position: center bottom;
text-indent: -99999px;
margin:0 auto;
width:18px;
height:16px;
display:block; }
.admin-ov-menu-processors-statistics  { 
background:url(../img/admin-ov-menu-processors-statistics.png);
background-repeat:no-repeat;
background-position: center bottom;
text-indent: -99999px;
margin:0 auto;
width:18px;
height:16px;
display:block; }
.admin-ov-menu-news  { 
background:url(../img/admin-ov-menu-news.png);
background-repeat:no-repeat;
background-position: center bottom;
text-indent: -99999px;
margin:0 auto;
width:18px;
height:16px;
display:block; }
.admin-ov-menu-updates  { 
background:url(../img/admin-ov-menu-updates.png);
background-repeat:no-repeat;
background-position: center bottom;
text-indent: -99999px;
margin:0 auto;
width:18px;
height:16px;
display:block; }
.admin-o-menu ul li a:hover span{background-position: 0 0;}
.admin-o-menu ul li a span.active{background-position: 0 0;}

.popupgird{border-right:1px solid #999999;border-top:1px solid #999999;font-family:Arial;font-size:12px;color:#666666;}
.popupgird th{background-color:#dedede;border-bottm:1px solid #999999;border-left:1px solid #999999;padding:8px;font-size:14px;}
.popupgird td{border-bottom:1px solid #999999;border-left:1px solid #999999;padding:5px;}

.matrix-bonus-help{width:857px;float:left;margin-left:20px;}
/*browser button start */
.browsebuttonmaindiv{position: relative;}
#browservalue{position: absolute; margin-top:-30px;margin-left: 90px;}
.browsebutton{height:20px;width: 50px; line-height: 20px; overflow: hidden; position: relative;}
.browserbuttonlink{position: absolute; margin-left:-65px; margin-top: -4px; width: 80px; height: 30px; }
input[type=file]{opacity:0.0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
/*browser button over */
/* Matrix CSS Start */
/*Progress Bar Start*/
.matrix-level-progress { background: #e5e5e5; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; width: 78%; float: left; height: 31px;  }
.matrix-level-progress div{moz-border-radius:3px;-webkit-border-radius:3px;-khtml-border-radius:3px;border-radius:3px;}
.matrix-level-progress .part1{float:left;background-image: url("../img/matrixprogressbar.gif");background-repeat:repeat-x; font-size: 22px !important;}
.matrix-level-progress .part4{float:left;background-image: url("../img/matrixprogressbar.gif");background-repeat:repeat-x; font-size: 22px !important;}
/*Progress Bar Over*/
.matrix-you{ width:100%; margin: 10px 0 0 0; padding: 0px; text-align: center; background-repeat: no-repeat; background-position: center; height: 143px;}
.matrix-box{ background: #fdfcfc; border: 1px solid #dddddd; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; margin: 3px; padding: 1%; }
.level-button{ width: 10%; height: 29px; border: 1px solid #dddddd; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; font-size: 15px; line-height: 29px; text-align: center; margin: 0 1% 0 0; float: left; }

.filled-matrix { height: 31px; float: left; background-repeat: repeat-x; border-radius: 5px; -moz-border-radius:5px; -webkit-border-radius:5px; -khtml-border-radius:5px; }
.matrix-link-text { float: right; line-height: 29px; height: 31px; width: 10%; text-align: right; }
.matrix-figures { width: 78%; margin: 5px 0 0 11%; padding: 0px; *margin-left:9%;}
.matrixfigurecolor { color: #767676; }
.green-color { color: #93bc53 }
.matrix-box hr {margin: 10px 0;}
/* Matrix CSS Over */
/*Color Box CSS Start */
#cboxTitle{display: none !important;}
#cboxPrevious{display: none !important;}
#cboxNext{display: none !important;}
#cboxCurrent{display: none !important;}
/*Color Box CSS Over */

#cfupopup{overflow: auto;padding: 10px;}
.cfu-tab{padding-top: 20px;}
.bigbutton1{display: inline-block; background: linear-gradient(to bottom, #41B5CE 0%, #0F839C 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); padding: 10px; color: #ffffff; font-size: 20px;text-shadow: 1px 0 1px #000000;}
.bigbutton2{display: inline-block; background: linear-gradient(to bottom, #FFDA46 0%, #FFAA46 100%) repeat scroll 0 0 rgba(0, 0, 0, 0); padding: 10px; color: #575757; font-size: 20px;text-shadow: 1px 0 1px #ffffff;}
/*Check Update CSS Start*/
.version{-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;padding: 8px 10px 10px 10px; display: inline-block; font-size: 14px;}
.cversion{color: #FFFFFF;background-color:#1893AC;text-shadow: 1px 0 2px #000000;}
.lversion{background-color:#F3BD01;margin-left: 5px; text-shadow: 1px 0 2px #FFFFFF;}
.versionmain{}
.versionmain .padding-tabal{background:none;border:none; border-bottom: solid 1px #ffffff; height:4px; }
.versionmain td{padding-left: 10px; border-top: 4px solid #1893AC;}
.versiontitle{width: 400px;font-size: 14px; font-weight: bold; padding: 7px 5px; background-color: #1893AC; margin-top: 10px; color: #FFFFFF;}
.versiontitle a{color: #FFFFFF; text-decoration: none;}
.versiontext{margin-top: 10px; margin-bottom: 5px;}
.versiontext a{color: #1893AC; text-decoration: none;}