body {font-family:'Open Sans';font-size: 12px;color: #575757;margin: 0px;padding: 0px;}
input, textarea{outline: none;}
img { max-width:100%; border: 0px; }
.pagewidth { max-width: 100%; width: 1000px; margin: 0px auto; }
.clearboth { clear: both;}
.floatleft{float: left;}
.floatright{float: right;}
.floatnone{float: none !important;}
.inlineblock{display: inline-block;}

.divtable{display: table; width: 100%;}
.divtable2{display: table; width: 100%;}
.divthead{display: table-header-group;}
.divtbody{display: table-row-group;}
.divtfoot{display: table-footer-group;}
.divtr{display: table-row;width: 100%;}
.divth{display: table-cell;}
.divtd{display: table-cell;}
.vam{vertical-align: middle !important;}.vat{vertical-align: top !important;}.vab{vertical-align: bottom !important;}
.textright { text-align: right; }
.textcenter { text-align: center; }
.textleft { text-align: left; }
.hide{display: none;}
.show{display: block;}

.height15 { height: 15px; }
.height5 { height: 5px; }
*{outline: none}
*:focus{outline: none;}
a:focus{border: 0px;outline: none;text-decoration: none;}

/*header-css-start*/
/* ----------------------------------------------  Select menu start ---------------------------------------------- */
div.combobox{background: white url(../img/combobox.png) no-repeat center right;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2); box-shadow: 0 1px 3px rgba(0,0,0,0.2);}	
div.combobox { overflow:hidden; padding:0; margin:0; -moz-border-radius:5px;-webkit-border-radius:5px;	-khtml-border-radius:5px;	border-radius:5px; border:1px solid #dddddd;padding:0px 0 0 0px;height:28px;}
.ie7 div.combobox {border:none;}
div.combobox select {	width:115%; background-color:transparent; background-image:none;-webkit-appearance: none; border:none; box-shadow:none;
height:100%;padding:3px 0;}
.ie7 div.combobox select {width:100%; background-color:#fff; border: solid 1px #ccc; padding:0.3em 0.5em;}
div.combobox{width:90px;}
/* ----------------------------------------------  Select menu over ---------------------------------------------- */

/*Template-3 Css Start*/
#topbg { background: #f0f0f0;}
.topmenu { width: 1000px; margin: 0px auto; max-width: 100%;}
.topmain { text-align: right;}

.joinnow { display: inline-block; margin-left: -4px;}
.joinnow a {background: #fff; width: 78px; display: block; height: 86px; text-align: center; line-height: 120px; color: #434c58; text-decoration: none; font-size: 13px; text-transform: uppercase;  border-left: 1px solid #e0e3e9; border-right: 1px solid #e0e3e9;
background: url(../img/join-now-icon.png) no-repeat; background-position: center 16px; }
.login {display: inline-block; margin-left: -4px;}
.login a {background: #fff; width: 78px; display: block; height: 86px; text-align: center; line-height: 120px; color: #434c58; text-decoration: none; font-size: 13px; text-transform: uppercase;  border-left: 1px solid #e0e3e9; border-right: 1px solid #e0e3e9;
background: url(../img/login-icon.png) no-repeat; background-position: center 16px; }

#logobgmain { background: #ffffff;}
.logo { width: 266px; display: inline-block;min-height: 86px;}
.logo img{width: 266px;height: 56px;margin-top: 15px;}
.logoright { width: 730px; display: inline-block; vertical-align: top; text-align: right; max-width: 100%;}

#headerbg { background-color: #fdaf10;}
#header { background: url(../img/header.jpg) no-repeat; width: 1100px; height: 401px; max-width: 100%; margin: 0px auto; background-size: contain;}
.headertext { font-size: 25px; color: #272d36; font-weight: 700; text-align: center; padding-top: 250px;}
.headertitle { font-size: 25px; color: #f04d50; text-transform: uppercase;}


/*Login Popup Box Css Start*/
#header .modal { overflow: auto; }
#header .modal-content { border-radius: 0px; padding: 6px; background-color: #67768c; }
#header .modal-sm { width: 302px; }
#header .modal-content .loginbox { width: 289px; background-color: #272d36;  }
#header .modal-content .loginbox .login_title { font-size: 25px; text-transform: uppercase; text-align: center; color: #ffffff;  }
#header .modal-header { padding: 0px; min-height: 0px; border: none;  }
#header .modal-header button.close { background-color: #67768c; padding: 0px 1px 5px 5px; opacity: 1; font-size: 15px; margin-top: 0px; margin-bottom: -15px;color: #ffffff;text-shadow: 0 1px 0 #000000; }
#header .loginbox .login_style { padding: 8px; }
#header .loginbox .login_style input[type="text"], #header .loginbox .login_style input[type="password"]{ width: 241px; height: 49px; border: none; padding-left: 5px; padding-right: 5px; font-size: 12px; background-color: #eeeeee; outline: none; margin-bottom: 1px;  }
#header .loginbox .login_style .username_icon:before { content: "\e008"; font-family: 'Glyphicons Halflings'; display: inline-block; font-size: 16px; height: 51px; background-color: #eeeeee; vertical-align: top; padding-top: 14px; margin-right: -4px; padding-left: 6px; color: #45c49c;  }
#header .loginbox .login_style .password_icon:before { content: "\e033"; font-family: 'Glyphicons Halflings'; display: inline-block; font-size: 16px; height: 51px; background-color: #eeeeee; vertical-align: top; padding-top: 14px; margin-right: -4px; padding-left: 6px; color: #45c49c;  }
#header .loginbox .captha_main .captcha_image { display: inline-block; margin-right: -2px; vertical-align: top; }
#header .loginbox .captha_main input[type="text"] { display: inline-block; margin-right: -2px; width: 96px; height: 42px;vertical-align: top; margin-left: 0px;}
#header .reload_captcha:before { content: "\e031"; font-family: 'Glyphicons Halflings'; display: inline-block; font-size: 16px; background-color: #eeeeee; width: 45px; height: 44px; text-align: center; padding-top: 7px; color: #2dc8ea; }
#header .loginbox .login_button { background-color: #45c49c; border: none; margin: 10px auto; display: block; padding-top: 10px; padding-bottom: 10px; width: 115px; padding-left: 0px; padding-right: 0px; font-size: 18px; border-radius: 3px; }

#header .loginbox .sign-in-text { background-color: #4b5a70; padding-top: 8px; padding-bottom: 8px; text-align: center; }
#header .loginbox .sign-in-text span { font-size: 16px; color: #45c49c; display: inline-block; vertical-align: middle; }
#header .loginbox .sign-in-text a { display: inline-block; border: 0px;  background-color: #cfcfcf; border-radius: 2px; margin-left: 15px; }
#header .loginbox .login-links { font-size: 13px; color: #2dc8ea; text-align: center; padding-top: 10px; padding-bottom: 3px; }
#header .loginbox .login-links a { text-decoration: none; color: #45c49c; }

#header .register-modal .modal-sm { width: 600px; max-width: 100%; }
#header .register-modal .modal-content .loginbox { width: auto; }
#header .register-modal .modal-content .loginbox input[type="text"],#header .register-modal .modal-content .loginbox input[type="password"] { width:61%; border: 1px solid #DDDDDD; margin-bottom: 5px; }
#header .register-modal .modal-content .loginbox .selectBox-dropdown { width: 62% !important; }
#header .register-modal .modal-content .loginbox .formcapthcatextbox { width: 150px !important; }
#header .register-modal .modal-content .loginbox .form-text.inlineblock a { margin-left: 5px; cursor: pointer; padding: 3px; border: 1px solid #2DC8EA }
#header .register-modal .modal-content .loginbox .form-text.inlineblock a:hover { color: #2DC8EA; }
#MemberIndexForm .form-text.inlineblock a { margin-left: 5px; cursor: pointer; padding: 3px; border: 1px solid #2DC8EA }
#MemberIndexForm .form-text.inlineblock a:hover { color: #2DC8EA; }

#header .register-modal .modal-content .loginbox #regfomcontent { text-align: center; }
#header .register-modal .modal-content .loginbox #regfomcontent .main-box-eran { text-align: left; }
#header .passwordkeybord{display: inline-block;width: 250px;}
#header #LoginMessage{text-align: center;padding-bottom: 5px;color: #fd898b;}
/*Login Popup Box Css Over*/

#statisticsbg { background: url(../img/statistics-bg.png); background-repeat: no-repeat; background-position: top center; background-color: #ffffff;}
.statisticstitle {text-align: center; padding-top: 25px; padding-bottom: 6px; font-size: 35px; font-weight: normal; color: #272d36; background-image: url(../img/title-bottom.jpg); background-repeat: no-repeat; background-position: bottom center; }
.statisticsmain {text-align: center; padding-top: 40px; padding-bottom: 40px;}
.statisticsbox { width: 160px; max-width: 100%; display: inline-block; margin-right: 46px; vertical-align: top; }
.statisticstext {text-align: center; font-size: 17px; color: #ffffff; font-weight: 700; padding: 3px;}

.statisticsbox span.glyphicon{font-size: 40px;color: #ffffff;padding-bottom: 10px;}
.triangle-up1 { border-bottom: 16px solid #f6923a; border-left: 80px solid transparent; border-right: 80px solid transparent; height: 0; width: 0; }
.statisticsmidal1 {width: 160px; max-width: 100%; display: inline-block; background-color: #f6923a; padding-top: 10px; }
.statisticstitle1 { background: #e0812d; text-align: center; font-size: 14px; font-weight: 600; color: #ffffff; min-height: 36px; line-height: 36px; width: 132px; margin: 0 auto;}
.triangle-down1 {    border-left: 80px solid transparent; border-right: 80px solid transparent; border-top: 36px solid #f6923a; height: 0; width: 0; }

.triangle-up2 { border-bottom: 16px solid #fb6062; border-left: 80px solid transparent; border-right: 80px solid transparent; height: 0; width: 0; }
.statisticsmidal2 {width: 160px; max-width: 100%; display: inline-block; background-color: #fb6062; padding-top: 10px; }
.statisticstitle2 { background: #d54c4e; text-align: center; font-size: 14px; font-weight: 600; color: #ffffff; min-height: 36px; line-height: 36px; width: 132px; margin: 0 auto;}
.triangle-down2 {    border-left: 80px solid transparent; border-right: 80px solid transparent; border-top: 36px solid #fb6062; height: 0; width: 0; }

.triangle-up3 { border-bottom: 16px solid #3aa7d8; border-left: 80px solid transparent; border-right: 80px solid transparent; height: 0; width: 0; }
.statisticsmidal3 {width: 160px; max-width: 100%; display: inline-block; background-color: #3aa7d8; padding-top: 10px; }
.statisticstitle3 { background: #218bbb; text-align: center; font-size: 14px; font-weight: 600; color: #ffffff; min-height: 36px; line-height: 36px; width: 132px; margin: 0 auto;}
.triangle-down3 {    border-left: 80px solid transparent; border-right: 80px solid transparent; border-top: 36px solid #3aa7d8; height: 0; width: 0; }

.triangle-up4 { border-bottom: 16px solid #45c49c; border-left: 80px solid transparent; border-right: 80px solid transparent; height: 0; width: 0; }
.statisticsmidal4 {width: 160px; max-width: 100%; display: inline-block;  background-color: #45c49c; padding-top: 10px; }
.statisticstitle4 { background: #2ba27c; text-align: center; font-size: 14px; font-weight: 600; color: #ffffff; min-height: 36px; line-height: 36px; width: 132px; margin: 0 auto;}
.triangle-down4 {    border-left: 80px solid transparent; border-right: 80px solid transparent; border-top: 36px solid #45c49c; height: 0; width: 0; }

.triangle-up5 { border-bottom: 16px solid #4b5a70; border-left: 80px solid transparent; border-right: 80px solid transparent; height: 0; width: 0; }
.statisticsmidal5 {width: 160px; max-width: 100%; display: inline-block; background-color: #4b5a70; padding-top: 10px; }
.statisticstitle5 { background: #2b394d; text-align: center; font-size: 14px; font-weight: 600; color: #ffffff; min-height: 36px; line-height: 36px; width: 132px; margin: 0 auto;}
.triangle-down5 {    border-left: 80px solid transparent; border-right: 80px solid transparent; border-top: 36px solid #4b5a70; height: 0; width: 0; }

#bannerbg { background-image: url(../img/bannerbg.jpg);}
.banner125 { width: 125px; height: 125px;  margin-right: 3px; display: inline-block; vertical-align: top;}
.bannermain { padding: 30px 0 30px 0; text-align: center;}
.banner468main { width: 468px; display: inline-block; vertical-align: top; max-width: 100%; margin-right: 4px;}
.banner468 { width: 468px;  max-width: 100%;  display: inline-block;}
.banner468:first-child { margin-bottom: 4px;}

#allcontentbg { background: #ffffff;}
#allcontent { width: 1000px; max-width: 100%; margin: 0px auto;}
#hometitle { font-size: 30px; color: #808080; text-align: center; padding-top: 25px; padding-bottom: 25px;}

#textadsbg { background-color: #f6f8fa; }
.textadsmain {}
.textadsmain .textadsbox:last-child{margin-right: 0px;}
.textadsbox { width: 235px; max-width: 100%; display: inline-block; margin-right: 16px; vertical-align: top; }
.textadstitle a{text-align: center; padding-top: 10px; font-size: 17px; font-weight: 700; color: #fdaf10; background-color: #272d36; text-decoration: none;display: block;}
.textadswhitebox { background-color: #ffffff; }
.textadstext {text-align: center; padding-top: 10px; font-size: 13px; font-weight: normal; color: #38475a; text-align: center; }
.textadstext a { color: #fdaf10;  }

.textadstitle-yellow a{text-align: center; padding-top: 10px; font-size: 17px; font-weight: 700; color: #272d36; background-color: #fdaf10; text-decoration: none;display: block;}
.triangle-down-yellow { height: 0; width: 0; border-left: 117px solid transparent; border-right: 120px solid transparent; border-top: 20px solid #fdaf10;}


.triangle-down { height: 0; width: 0; border-left: 117px solid transparent; border-right: 120px solid transparent; border-top: 20px solid #272d36;}
.triangle-bottom { height: 0; width: 0; border-left: 117px solid transparent; border-right: 120px solid transparent; border-top: 20px solid #ffffff;}

.textadsmain.pubilcarea{text-align: center; padding-top: 40px; padding-bottom: 40px;}
.textadsmain.pubilcarea .textadbox{width: 235px; max-width: 100%; display: inline-block; margin-right: 16px; vertical-align: top;}
.textadsmain.pubilcarea .textadbox:last-child{margin-right: 0px;}
.textadsmain.pubilcarea .text-add-title a{text-align: center; padding-top: 10px; font-size: 17px; font-weight: 700; color: #fdaf10; background-color: #272d36; text-decoration: none;display: block;}
.textadsmain.pubilcarea .textadbox:nth-child(even) .text-add-title a{background-color: #fdaf10;color: #272d36;}
.textadsmain.pubilcarea .textadbox:nth-child(even) .triangle-down{ border-left: 117px solid transparent; border-right: 120px solid transparent; border-top: 20px solid #fdaf10;}

.textadsmain.pubilcarea .textadcont{text-align: center; padding-top: 10px; font-size: 13px; font-weight: normal; color: #38475a; text-align: center;background-color: #ffffff;}
.textadsmain.pubilcarea .textadcont a{color: #fdaf10;}
.textadsmain.pubilcarea .textadcont span{display: block;}
.textadsmain.membersarea .textadcont span{display: block;}

.textadsmain.pubilcarea .text-add-desceiption{text-align: center; padding-top: 10px; font-size: 13px; font-weight: normal; color: #38475a; text-align: center;background-color: #ffffff;}
.textadsmain.pubilcarea .text-add-desceiption a{color: #fdaf10;}
.textadsmain.pubilcarea .text-add-desceiption span{display: block;}
.textadsmain.pubilcarea .textadtoappend .text-add-title:after{ border-left: 117px solid #ffffff;border-right: 118px solid #ffffff;border-top: 20px solid #272d36;content: "";display: block;height: 0;width: 0;}
.textadsmain.pubilcarea .textadbox.textadtoappend:nth-child(even) .text-add-title:after{ border-left: 117px solid #ffffff;border-right: 118px solid #ffffff;border-top: 20px solid #fdaf10;content: "";display: block;height: 0;width: 0;}
.textadsmain.pubilcarea .textadbox img{background-color: #ffffff;max-width: 88%;padding: 30px 10px 20px;}



.membertexadmain { text-align: center;}
.membertextadbox { width:20%; display: inline-block; vertical-align: top; margin-right: 3%;}
.membertextadbox:last-child { margin-right: 0px;}
.membertextaddtitle a{ background: #272d36; font-size: 17px; color: #fdaf10; padding-top: 5px; padding-bottom: 5px; font-weight: 600;text-decoration: none;display: block;}
.membertextaddtitle2 a{ background: #fdaf10; font-size: 17px; color: #272d36; padding-top: 5px; padding-bottom: 5px; font-weight: 600;text-decoration: none;display: block; }
.membersgreybox { background: #f6f8f8; padding: 8px; font-size: 13px; color: #38475a; line-height: 22px;}
.membersgreybox a {}


.textadsmain.membersarea{text-align: center;}
.textadsmain.membersarea .textadbox{width:20%; display: inline-block; vertical-align: top; margin-right: 3%;}
.textadsmain.membersarea .textadbox:last-child { margin-right: 0px;}
.textadsmain.membersarea .text-add-title a{background: #272d36; font-size: 17px; color: #fdaf10; padding-top: 5px; padding-bottom: 5px; font-weight: 600;text-decoration: none;display: block;}
.textadsmain.membersarea .textadbox:nth-child(even) .text-add-title a{background: #fdaf10; font-size: 17px; color: #272d36; padding-top: 5px; padding-bottom: 5px; font-weight: 600;text-decoration: none;display: block;}
.textadsmain.membersarea .textadcont{background: #f6f8f8; padding: 8px; font-size: 13px; color: #38475a; line-height: 22px;}
.textadsmain.membersarea .text-add-desceiption{background: #f6f8f8; padding: 8px; font-size: 13px; color: #38475a; line-height: 22px;}
.textadsmain.membersarea .text-add-desceiption span{display: block;}

.footerbg { background: #272d36;}
.footer { width: 1000px; margin: 0px auto; max-width: 100%; background: url(../img/footer-bg.jpg) no-repeat;  text-align: center; padding-top: 20px;}
.footerlogobox { text-align: center;     border-radius: 7px; background-color: #fdaf10; padding: 10px; width: 370px; margin: 0 auto; }
.footermenu-bg {background: url(../img/footer-menu-bg.png) no-repeat;  text-align: center; width: 314px; display: inline-block; margin-top: 20px; }
.footermenu { text-align: center;  font-size: 11px; color: #d4dce7;  text-decoration: none; line-height: 30px;}
.footermenu a { color: #d4dce7; text-decoration: none; }
.footermenu a:hover { color: #fdaf10; text-decoration: none; }
.footertext { font-size: 13px; color: #d4dce7; padding-top: 10px; padding-bottom: 10px; }
.footertext a { text-decoration: none; color: #fdaf10;}

#menubg { background: #282d36; border-bottom: 5px solid #edf0f5;}
.mainmenu { width: 1000px; margin: 0px auto; max-width: 100%; border-bottom: 2px solid #fdaf10;  }
 #menu ul li:hover .icon{   background: url("../img/menu-hover-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);  bottom: -8px; display: inline-block; height: 16px; width: 14px; background-position: top center; position: absolute; }

#menubg.f-nav + .fixmenuspacing{height: 62px;}

.languagetop{margin: 22px 10px 0 0;display: inline-block;vertical-align: top;}

.select-main.graybg label:before, .select-main.graybg select{background-color: #f5f8fd;}
.select-main.yellowbg label:before, .select-main.yellowbg select{background-color: #ffebc2;color: #e0812d;}

.select-main{position: relative;font-size: 14px;font-weight: normal;color: #999999;display: inline-block;width: 100%;vertical-align: top;width: 92px;}
.select-main label:before{content: ""; font-family: 'Glyphicons Halflings'; background: url(../img/arrow-select.png) no-repeat; background-position: center; background-color: #ffffff;  display: block;height: 40px;pointer-events: none;position: absolute;right: 0px;top: 0px;width: 20px; text-align: center; line-height: 37px; color: #19b698; font-size: 13px;}
.select-main label:after{ background-color: #ffffff; color: #7f7f7f; padding: 0 0 2px;pointer-events: none;position: absolute;right: 10px;top: -3px;transform: rotate(90deg);-webkit-transform:rotate(90deg); line-height: 38px; }
.select-main label{position: relative;display: block;margin-bottom: 0px;}
.select-main select{ background-color: #ffffff; width: 100%;height: 40px;border: none;font-weight: normal;outline: none;padding-left: 5px;line-height: 38px;-webkit-appearance:none;border-radius: 0px;-webkit-border-radius: 0; font-size: 12px; color: #373737;}
.select-main select option{}
.select-main select option:hover {box-shadow: 0 0 10px 100px #58b1c8 inset;}
.select-main select option:checked { background: linear-gradient(#58b1c8, #58b1c8);}

.membertop { background: #fdaf10;position: fixed;width: 100%;z-index: 3;}
.membertopspacing{height: 86px;}
#members-area-left-side { display: table-cell; background-color: #373f4c; vertical-align: top; }
#members-area-right-side { display: table-cell; margin-left: -4px; background-color: #f0f0f0; vertical-align: top; width: 100%; }
.left_menu { min-width: 80px;}
.left-menu-fix{position: fixed;background-color: #373f4c;}
.toggle_button_main { text-align: right; padding-top: 5px; padding-bottom: 5px;background-color: #2d343f;border-bottom: 1px solid #475060; }
.left_menu .toggle_button { height: 19px; width: 23px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;text-align: center; display: inline-block; background-color: #ffffff; padding-top: 5px; cursor: pointer;  font-family: 'Glyphicons Halflings'; font-size: 9px; }
#open_left_menu .toggle_button:before { content: "\e080"; }

#open_left_menu.active_toggled {width: 266px;}
#open_left_menu ul li a:hover{text-decoration: none;}
#open_left_menu ul li a:before{font-family: 'Glyphicons Halflings';display: block;color: #fdaf10;font-size: 21px;line-height: normal;}
#open_left_menu ul li a.accountactivity:before{content:"\e019";}
#open_left_menu ul li a.membertools:before{content:"\e008";}
#open_left_menu ul li a.promotools:before{content:"\e057";}
#open_left_menu ul li a.finance:before{content:"\e148";}
#open_left_menu ul li a.advertisement:before{content:"\e022";}
#open_left_menu ul li a.memberpages:before{content:"\e060";}

#open_left_menu ul li a span{display: none;width: 266px;}
#open_left_menu.active_toggled ul li a span{display: block;}

#open_left_menu.active_toggled .toggle_button:before { content: "\e079"; }

#open_left_menu.active_toggled ul li a:hover:after { color: #2dc0e1; }
#open_left_menu .navmenuleft ul {margin:0px; padding: 0px;}
#open_left_menu .navmenuleft ul li { list-style: none; display: inline-block; border-bottom: solid 1px #475060; width: 100%; }
#open_left_menu .navmenuleft ul li a { color: #ffffff; font-size: 14px; color: #d4dce9;padding-top: 18px; padding-bottom: 18px;display: block;}
#open_left_menu .navmenuleft { text-align: center;}

#open_left_menu .mCSB_container { margin-right: 0px; }
#open_left_menu .mCustomScrollBox { overflow: visible !important; }

#open_left_menu .mCSB_container { overflow: visible !important; }

#open_left_menu.active_toggled .mCustomScrollBox > .mCSB_scrollTools{width: 4px !important;}

.adbtn { display: inline-block; padding-left: 10px; padding-top: 23px;}
.adbtn a { text-decoration: none; background: #e0812d; text-decoration: none; padding: 15px; display: block; padding: 10px; color: #ffffff; font-size: 14px; }
.memberlogo { display: inline-block; vertical-align: top;width: 266px;background-color: #ffffff;text-align: center;min-height: 86px;}
.memberlogo img{width: 266px;height: 56px;margin-top: 15px;}

.toprightmember { float: right;}
.toprightmember .btn-group{margin-left: -3px;}
.toprightmember .btn-default { background: #45c49c; color: #ffffff; height: 86px; border-radius: 0px; text-transform: uppercase; border: none;}
.toprightmember .btn-default:hover, .toprightmember .btn-default:focus, .toprightmember .btn-default:active, .toprightmember .btn-default.active, .toprightmember .open .dropdown-toggle.btn-default { background: #45c49c; color: #ffffff; height: 86px; border-radius: 0px; border: none;}
.otherbtn { display: inline-block; vertical-align: top; height: 86px;}
.otherbtn a { text-decoration: none; padding-left: 8px; padding-right: 8px;  display: block; background: #218bbb;  font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 700; padding-top: 18px; padding-bottom: 17px; }
.logout { display: inline-block; vertical-align: top; height: 86px; margin-left: -3px;}
.logout a {text-decoration: none; padding-left: 8px; padding-right: 8px;  display: block; background: #ec5557;  font-size: 12px; color: #ffffff; text-transform: uppercase; font-weight: 700; padding-top: 18px; padding-bottom: 17px;}

.members-area-main { display: table }
.icontop { border: solid 1px #ffffff; border-radius: 50%; padding: 5px; display: block; width: 16px; height: 16px; text-align: center; margin: 0px auto; margin-bottom: 5px;
 margin-bottom: 6px;}
 
.toprightmember .dropdown-menu { background: #3ab890; border: 0px; border-radius: 0px; box-shadow: none; margin: 0px; }
.toprightmember .dropdown-menu > li > a { font-size: 13px; color: #fffffe;}
.toprightmember .dropdown-menu > li > a:hover, .toprightmember .dropdown-menu > li > a:focus { background: #45c49c; color: #ffffff;}
.memberwhitebox { background: #ffffff; margin: 10px;  border-top: solid 2px #f6f7f7; padding: 10px;}
.memberlaunchboxmain { text-align: center;}
.memberlaunvhbox { width: 228px;max-width: 18%;display: inline-block; vertical-align: top; border-bottom: 10px solid #b9c3d3; margin-right: 20px;}
.memberlaunvhbox:last-child { margin-right: 0px;}
.launchyellowbox-1{ background: #f6923a; font-size: 14px; color: #ffffff;  display: inline-block; width:152px; padding-top: 8px; padding-bottom: 3px;}
.launchyellowbox-2 { background: #fb6062; font-size: 14px; color: #ffffff;  display: inline-block; width:152px; padding-top: 8px; padding-bottom: 3px;}
.launchyellowbox-3 { background: #3aa7d8; font-size: 14px; color: #ffffff;  display: inline-block; width:152px; padding-top: 8px; padding-bottom: 3px;}
.launchyellowbox-4 { background: #45c49c; font-size: 14px; color: #ffffff;  display: inline-block; width:152px; padding-top: 8px; padding-bottom: 3px;}
.launchyellowbox-5 { background: #4b5a70; font-size: 14px; color: #ffffff;  display: inline-block; width:152px; padding-top: 8px; padding-bottom: 3px;}

.launchicon {padding-bottom: 12px;}
.launch-down1 {border-left: 74px solid transparent;border-right: 74px solid transparent;border-top: 17px solid #f6923a;height: 0;width: 0;display: inline-block;}
.launch-down2 {border-left: 74px solid transparent;border-right: 74px solid transparent;border-top: 17px solid #fb6062;height: 0;width: 0;display: inline-block;}
.launch-down3 {border-left: 74px solid transparent;border-right: 74px solid transparent;border-top: 17px solid #3aa7d8;height: 0;width: 0;display: inline-block;}
.launch-down4 {border-left: 74px solid transparent;border-right: 74px solid transparent;border-top: 17px solid #45c49c;height: 0;width: 0;display: inline-block;}
.launch-down5 {border-left: 74px solid transparent;border-right: 74px solid transparent;border-top: 17px solid #4b5a70;height: 0;width: 0;display: inline-block;}
.launchtextin { font-size: 17px; color: #373f4c; font-weight: 700; padding-top: 4px; padding-bottom: 4px;}

.launchicon span.glyphicon{color: #b9c3d3;font-size: 40px;}

.memberfootertext { font-size: 13px; color: #272d36; text-align: center; padding-top: 6px; padding-bottom: 15px;}
.memberfootertext a { text-decoration: none; color: #272d36;}
/*Footer Style Over*/

#menu ul li.dropdown ul li { color: #000; }
.showonmobile{display: none !important;}
.logotemp{display: none;}
#menu.afterlogin{display: none;}
#memberallcontentmain{padding-left: 10px;padding-right: 10px;}
/*Template-3 Css Over*/

.showonmobile{display: none !important;}
#right-bar{padding-top: 10px;padding-bottom: 10px;}

.reprecentwhite{width:45px;height:45px;text-align:center;vertical-align:middle;display:inline-block;}.reprecentwhite img{padding-left: 2px; padding-top: 15px; }
.recentrightbox .recentplus{background-image: url(../img/plus.png);background-position: right top;background-repeat: no-repeat;width: 20px;height: 20px;margin-top: 12px;float: right;}
.recentrightbox.activediv{background-color: #f5f5f5;}
.reprecentright{background-color: #ffffff;margin-left: 2px;margin-right: 2px;padding: 5px; border: solid 1px #c0c0c0; color:#575757; }
.recentrightbox.activediv .recentplus{background-position: right bottom;}
.recrecentright{color:#575757 !important; }
.reprecentbluebox{background-color: #ffffff; border: solid 1px #c0c0c0; border-top: none; margin-left: 2px;margin-right: 2px;color:#575757; margin-top: 0px;}
.surftext a{color: #575757;text-decoration: none;margin-top: 0px;}
.reprecentbluebox a{color: #575757 !important;text-decoration: none;margin-top: 0px;}
.reprecentbluebox.reprecentbluebox > div{border-bottom: solid 1px;padding: 10px;}
.reprecentbluebox.reprecentbluebox > div:last-child{border-bottom: none;}
.repleft-part{float: none; display: inline-block; vertical-align: top;margin-top: 7px;}


@media all and (min-width: 2600px)
{
  .financial-Info-box .popupbox-content .processor-left{width: 49%;vertical-align: top;}
  .financial-Info-box .popupbox-content .processor-right{width: 49%;word-wrap: break-word;}
}
@media all and (min-width: 767px)
{
    .navbar-header.navbar-default{display: none;}
    #open_left_menu .navmenuleft ul li a{position: relative;z-index: 2;}
    #open_left_menu.active_toggled .navmenuleft ul li ul.dropdown-menu{left: 266px;}
    #open_left_menu .navmenuleft ul li ul.dropdown-menu{position: absolute;top: 0px;left: 80px;z-index: 1;width: 194px;background-color: #232a36;padding-top: 5px;padding-bottom: 5px;border: none;border-radius: 0px;box-shadow: none;}
    #open_left_menu .navmenuleft ul li.dropdown.open .dropdown-backdrop{z-index: 1;}
    #open_left_menu .navmenuleft ul li ul.dropdown-menu li{border-bottom: none;list-style: outside square;display: list-item;margin-left: 26px;width: auto;}
    #open_left_menu .navmenuleft ul li ul.dropdown-menu li a{padding: 0px;font-size: 13px;color: #9fa8b8;text-align: left;padding-top: 7px;padding-bottom: 7px;}
    #open_left_menu .navmenuleft ul li.dropdown.open a{background-image: url(../img/left-menu-arrow.png);background-repeat: no-repeat;background-position: right center;}
    #open_left_menu .navmenuleft ul li ul.dropdown-menu li:hover a{color: #fdaf10;}
    #open_left_menu .navmenuleft ul li ul.dropdown-menu li a:hover{background-color: transparent;color: #fdaf10;}
    #open_left_menu .navmenuleft ul li ul.openfrombottom{bottom: 0px;top: auto;}
}
@media all and (min-width: 767px)
{
  #menu { float: none;}
  #menu ul.navbar-nav { float: none; }
  #menu .navbar-default{background: none;border: none;   text-align: center; }
  #menu .navbar.navbar-default{margin-bottom: 0px;}
  
  #menu .navbar-collapse { padding-right: 0px;padding-left: 0px;}
  #menu .container-fluid { padding-right: 0px;padding-left: 0px;}
  #menu ul li { float: none; display: inline-block; position: relative;}
  #menu ul li.home { margin-left: 0px; }
  #menu ul li a { font-size: 15px; color: #f5f7f9; padding: 20px 14px; text-align: center; } 
  #menu ul li.public-page .caret { display: none; }
  #menu ul li.active a { background: none; }
  #menu ul li:hover { background: url(../img/menu-hover-icon.png) no-repeat; background-color: #363c44; color: #fdaf10; background-position: center bottom;}
  
  #menu ul li.public-page { margin-right: 0px; }
  #menu ul li.public-page.open a { background: none; }
  #menu ul li.public-page ul { text-align: left; }
  
  #menu ul li.public-page ul li a:before { content: ""; }
  #menu ul li a:hover { color: #ffffff;}
  #menu ul li .dropdown-menu li:hover .sub-menu {visibility: visible;}
  #menu ul .dropdown:hover .dropdown-menu {display: block;}
  #menu ul li.dropdown ul li{display: block;}
  #menu ul li.dropdown ul li a{padding: 5px 10px;display: block;text-align: left; color: #000000;}
  
  #menubg.f-nav{position: fixed;width: 100%;top: 0;border-bottom: none;}
  #menubg.f-nav + statisticsbg{padding-top: 68px;}
  #menubg.f-nav .logotemp{width: 175px;float: left;display: block;margin-top: 10px;}
  #menubg.f-nav #menu{width: 825px;float: right;}
  #menubg.f-nav #menu ul li a{padding-left: 5px;padding-right: 5px;}
}
@media (max-width: 768px) and (min-width: 768px)
{
    #menubg #menu{width: 100%;}
    #menubg #menu ul li a{font-size: 13px;padding-left: 7px;padding-right: 7px;}
    #menubg #menu ul li ul.dropdown-menu{right: 0px;left: inherit;}
    #menubg.f-nav .logotemp{display: none;}
    #menubg.f-nav #menu{width: auto;float: none;}
    #menubg.f-nav #menu ul li a{padding-left: 5px;padding-right: 5px;}
    .banner468main{width: 99%;}
    #menu .showonmobile{display: none !important;}
}
@media all and (max-width: 769px)
{
    .showonmobile{display: block !important;}
    .paddingonmobile{padding-left: 10px;padding-right: 10px;}
    .planearningheadtop.showonmobile{display: none !important;}
    
    .headerleft { width: 358px; background-size: contain;}
    .textadbox { width: 171px;}
    .banner468main { width: 99%; margin-bottom: 5px;}
    .banner125 { margin-bottom: 5px;}
    #menu ul li:hover .icon{ display: none;}
    .logo { padding-left: 10px;}
    .logoright { float: right; width: auto;}
    .headertext { font-size: 18px; font-weight: 700; padding-top: 170px;}
    #header { background: url(../img/header.jpg) no-repeat; height: 280px; max-width: 100%; margin: 0px auto; background-size: contain;}
    .statisticsbox { margin-right: 25px; margin-left: 25px; margin-bottom: 20px;}
    .statisticsmain {padding-bottom: 00px;}
    .textadsbox { margin-bottom: 9px;}
    .memberlaunvhbox{max-width: 45%;margin-bottom: 10px;}
    .toprightmember .languagetop{display: none;}
}
@media all and (max-width: 650px)
{
    #allcontent{max-width: 99.4%;}
    #allcontent #right-bar{padding-left: 10px;padding-right: 10px;}
    .navbar-header.navbar-default{float: right;margin-right: 10px;margin-top: 20px;margin-bottom: 20px;}
    .navbar-header.navbar-default button{margin: 0px;}
    .topmenu .logo{width: 76%;padding-left: 0px;min-height: 0px;}
    .topmenu .logo img{height: auto;}
    .showonmobile{display: block !important;}
    .topmenu .logoright{display: none;}
    #menu .navbar.navbar-default{min-height: 0;margin: 0px;}
    #logobgmain{position: fixed;width: 100%;}
    #headerbg{padding-top: 76px;}
    #menu{position: fixed;width: 100%;top: 73px;}
    .membertop{background-color: #ffffff;}
    .membertop .memberlogo{width: 76%;padding-left: 0px;min-height: 0px;}
    .membertop .memberlogo img{height: auto;}
    
    .memberlaunvhbox{max-width: 100%;margin-right: 0px;}
    .members-area-main{display: block;}
    #members-area-left-side{display: none}
    #members-area-right-side{display: block;margin-left: 0px;}
    .headertitle { font-size: 30px;}
    .headertext { font-size: 25px; color: #272d36; font-weight: 700; text-align: center;}
    .headermobile { margin-top: 0px;}
    #header {height: 117px; padding: 0;}
    .textadbox { margin-bottom: 5px; width: 260px;}
    .textadsmain.pubilcarea .textadbox{margin-right: 0px;margin-bottom: 5px; width: 260px;}
    .banner125 { margin-bottom: 5px;}
    .banner468main { margin-bottom: 4px; margin-right: 0px;}
    .footermenu { padding-top: 8px;}
    .logoright { text-align: left;}
     #menu ul li:hover .icon{ display: none;}
    .logo { padding-left: 10px;}
    .logoright { text-align: right;}
    .headertext { font-size: 8px; font-weight: normal; padding-top: 68px;}
    .headertitle { font-size: 12px;}
    .statisticsbox { margin-bottom: 16px; margin-right: 0px; }
    .textadsbox { margin-right: 0px; margin-bottom: 16px;}
    .footerlogobox { max-width: 90%; }
    .bannermain { padding: 12px 12px 12px 12px; text-align: center;}
    .membertextadbox{width: 100%;margin-right: 0px;}
    #menu.afterlogin{display: block;}
    .membertop .adbtn{display: none;}
    .membertop .toprightmember{display: none;}
    .membertopspacing{height: 63px;}
}
@media all and (max-width: 400px)
{
    .searchlabel { text-align: left;}
    .activ-ad-pack { padding-top: 0px;}
    .sta-menu ul li { width: 96%; border-right: none;}
    .sta-menu ul li a { padding-left: 0px; padding-right: 0px; width: 100%; margin-left: 0px; margin-right: 0px;}
    .sta-menu ul li.sta-left { width: 98%;}
    .planearningheadtop.showonmobile{display: block !important;}
    .notmobile{display: none !important;}
    .membermenufixheight{height: auto;}
}
/*other css*/
#Testimonial{padding-top: 25px;}