@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 400;src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans.woff) format('woff');}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 700;src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.woff) format('woff');}
body{margin: 0px;font-family:"Open Sans";font-size: 12px;background-color: #e1e6e7;}
img{border: 0px;max-width: 100%;}
*{outline: none;}
a,input,button,textarea,select,option{outline:none;border: none;}
a:focus{border: none;outline:none;}
select:focus{border: none;outline: none;}

.loginboxmain{margin: 0 auto;width: 312px;}
.loginbox{text-align: center;}
.logo{width: 260px;height: 60px;font-size: 25px;color: #ffffff;line-height: 54px;margin: 0 auto;}
.welcometextmain{font-size: 18px;color: #515c67;line-height: 30px;margin:20px 0px 20px 0px;}
.welcometext{font-size: 30px;color: #00a7aa;}
.welcometext span{color: #687b8d;font-weight: 700;}

.admintypemain{height: 48px;box-shadow: 2px 2px 3px -3px #999999;}
.admintype{display: inline-block;width: 102px;background-color: #f7f9f9;height: 48px;color: #999999;font-size: 14px;font-weight: 700;text-align: center;line-height: 48px;vertical-align: top;}

.select-main{position: relative;font-size: 14px;font-weight: normal;color: #999999;display: inline-block;width: 210px;margin-left: -4px;vertical-align: top;}
.select-main label:before{ background-color: #00a7aa;content: "";display: block;height: 48px;pointer-events: none;position: absolute;right: 0px;top: 0px;width: 48px;}
.select-main label:after{color: #ffffff;content: ">";font: 42px "Consolas",monospace;padding: 0 0 2px;pointer-events: none;position: absolute;right: 10px;top: -3px;transform: rotate(90deg);-webkit-transform:rotate(90deg);}
.select-main label{position: relative;display: block;}
.select-main  select{width: 100%;height: 48px;border: none;font-weight: normal;outline: none;padding-left: 5px;line-height: 44px;-webkit-appearance:none;border-radius: 0px;-webkit-border-radius: 0;background-color: #ffffff;}
.select-main  select option{padding: 5px;}
.select-main select option:hover {box-shadow: 0 0 10px 100px #00a7aa inset;}
.select-main select option:checked { background: linear-gradient(#00a7aa, #00a7aa);}

.userform{margin: 10px 0px;box-shadow: 2px 2px 3px -3px #999999;}
.userform .textbox1:last-child{border-top: 1px solid #e6e9ea;}
.textbox1{width: 312px;padding-top: 6px;padding-bottom: 6px;background-color: #ffffff;}
.textbox1 .glyphicon{width: 55px;border-right: 1px solid #dae0e1;height: 37px;vertical-align: middle;display: inline-block;line-height: 36px;color: #adadad;font-size: 15px;}
.textbox1 input[type="text"]{width: 232px;height: 37px;padding: 0px;border: none;padding-left: 10px;padding-right: 10px;display: inline-block;vertical-align: middle;color: #adadad;font-size: 14px;}
.textbox1 input[type="password"]{width: 200px;height: 37px;padding: 0px;border: none;padding-left: 10px;padding-right: 10px;display: inline-block;vertical-align: middle;color: #adadad;font-size: 14px;}

.textbox1 .keyboard{display: inline-block;vertical-align: middle;width: 25px;margin-right: 4px;}

.loginbutton input[type="submit"]{border:none;background-color: #00a7aa;font-size: 16px;font-weight: 700;color: #ffffff;width: 312px;height: 48px;margin-bottom: 10px;}


.forgotpass{text-align: center;font-size: 13px;vertical-align: top;}
.forgotpass a{color: #00a7aa;text-decoration: none;}

.whiteborder{height: 1px;box-shadow: 1px 1px 2px 0px #bababa;background-color: #ffffff;margin-top: 15px;margin-bottom: 10px;}
.copyrighttext{font-size: 11px;color: #314456;}
.copyrighttext a{color: #314456;text-decoration: none;}


.textbox1.capthamain{padding:0px;background-color: transparent;}
.capthaimage{display: inline-block;}
.refreshcaptcha{display: inline-block;margin-left: 5px;}
.capthainput{display: inline-block}
.capthainput input[type="text"]{width: 143px;margin-left: 5px;height: 45px;box-shadow: 2px 2px 3px -3px #999999;}

.textbox1 .question{display: inline-block;width: 230px;text-align: left;padding-left: 10px;padding-right: 10px;color: #adadad;}

#CounterAttempt{font-size: 14px;color: #00a7aa;}
.no-margin{margin: 0px;}
.welcometextmain.no-margin{margin-top: -10px;}
.logo-main{width: 312px;margin: 0 auto;margin-top: 50px;text-align: center;}
.keyboardInputInitiator{background-color: #00a7aa;}
@media all and (max-width: 320px)
{
    .logo-main{margin-top: 20px;}
}

/*new style start*/
#pleasewait {
	display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1893ac;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
	text-align:center;
}
#pleasewait {
	display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
	text-align:center;
}
#pleasewait img{top:45%;position:relative;}
#UpdateMessage{display:none;text-align: left;margin-bottom: 5px;}
#UpdateMessage.formerror{background-color: #F2DEDE;background-image: url("../img/error.png"); background-position: 10px 12px; background-repeat: no-repeat; padding: 10px 0px 0px 30px; min-width: 280px; min-height: 26px; color: #B94A48;}
#UpdateMessage.formsuccess{background-color: #DFF0D8; background-image: url("../img/success.png"); background-position: 10px 12px; background-repeat: no-repeat; padding: 10px 0px 0px 30px; min-width: 280px; min-height: 26px; color: #468847;}
/*new style over*/