<?php /*****************************************************************
  * ProXCore Script
  * Copyright &copy; 2014 ProXScripts.com All Rights Reserved.
  **********************************************************************
  * IMPORTANT: The copyright notice in the footer must not be removed
  * and is a legal includement for operating this software.
  * Redistribution of this code in any form IS NOT ALLOWED.  You are
  * given permission to run it on a single site only.  Any infringement
  * will result in prosecution.  Full details of the license granted
  * can be found on www.proxcore.com.
  * Created Date: 12-12-2014
  * Last Modified: 12-12-2014
  *********************************************************************/
?>
<?php echo $this->Javascript->link('allpage');?>
<?php if($EnableWebsite==1) { ?>
<?php if(!$ajax){ ?>
<div id="Trafficpage">
<?php } ?>
<?php if(trim($web_page_content)!=''){?><div class="main-box-eran"><?php echo stripslashes($web_page_content);?></div><?php }?>
<div id="UpdateMessage"></div>
<script> processer=new Array();
	<?php
	$firstproceser=0;
	foreach($Processorsextrafield as $proid=>$provalue)
	{
	?>
	processer[<?php echo $proid; ?>]=<?php echo $provalue; ?>;
	<?php }?>
</script>
<?php // Current Balance code starts here ?>
<div class="textright"><a class="shbutton currentbalancebutton" href="javascript:void(0)" onclick="currentbalancebox('.balancebox', this,'<?php echo __("[+] Show Balance");?>','<?php echo __("[-] Hide Balance");?>');"><?php if(@$_COOKIE['curbal']==1)echo __("[+] Show Balance"); else echo __("[-] Hide Balance");?>
</a></div>
<div class="comisson-bg balancebox <?php if(@$_COOKIE['curbal']==1)echo 'hide';?>">
	<div class="text-ads-title-text"><?php echo __("Current Balance");?></div>
	<div class="text-ads-title-text-right"></div>
	<div class="clear-both"></div>
</div>
<div id="balancebox" class="main-box-eran balancebox <?php if(@$_COOKIE['curbal']==1)echo 'hide';?>">
	<?php if($SITECONFIG["balance_type"]==1){ ?>
		<div class="divtable">
                        <div class="divtr white-color">
                                <div class="divth textcente vam"><?php echo __("Cash Balance");?> : </div>
                                <div class="divtd textcente vam"><?php echo $Currency['prefix'];?><?php echo AppController::truncate_number($MemberCash*$Currency['rate'],3); ?><?php echo " ".$Currency['suffix'];?></div>
                        </div>
                    <?php if($SITECONFIG["wallet_for_earning"] == 'earning'){ ?>
                        <div class="divtr gray-color">
                                <div class="divth textcente vam"><?php echo __("Earning Balance");?> : </div>
                                <div class="divtd textcente vam"><?php echo $Currency['prefix'];?><?php echo AppController::truncate_number($MemberEarning*$Currency['rate'],3); ?><?php echo " ".$Currency['suffix'];?></div>
                        </div>
                    <?php } ?>
                        <div class="divtr white-color">
                                <div class="divth textcente vam"><?php echo __("Re-purchase Balance");?> : </div>
                                <div class="divtd textcente vam"><?php echo $Currency['prefix'];?><?php echo AppController::truncate_number($MemberRepurchaseCash*$Currency['rate'],3); ?><?php echo " ".$Currency['suffix'];?></div>
                        </div>
                    <?php if($SITECONFIG["wallet_for_commission"] == 'commission'){ ?>
                        <div class="divtr gray-color">
                                <div class="divth textcente vam"><?php echo __("Commission Balance");?> : </div>
                                <div class="divtd textcente vam"><?php echo $Currency['prefix'];?><?php echo AppController::truncate_number($MemberCommission*$Currency['rate'],3); ?><?php echo " ".$Currency['suffix'];?></div>
                        </div>
                    <?php } ?>
                </div>
		<?php }else{ 
			?>
			<div class="divtable">
				<div class="divthead">
					<div class="divtr tabal-title-text">
						<div class="divth textcenter vam"><?php echo __("Payment Processor");?></div>
						<div class="divth textcenter vam"><?php echo __("Cash Balance");?></div>
                                                <?php if($SITECONFIG["wallet_for_earning"] == 'earning'){ ?>
						<div class="divth textcenter vam"><?php echo __("Earning Balance");?></div>
                                                <?php } ?>
						<div class="divth textcenter vam"><?php echo __("Re-purchase Balance");?></div>
                                                <?php if($SITECONFIG["wallet_for_commission"] == 'commission'){ ?>
						<div class="divth textcenter vam"><?php echo __("Commission Balance");?></div>
                                                <?php } ?>
					</div>
				</div>
				<?php $i=1;
				foreach($MemberCash as $proc_name=>$cash)
				{
					if($i%2==0){$class='white-color';}else{$class='gray-color';}?>
					<div class="divtr <?php echo $class;?>">
						<div class="divtd textcenter vam"><?php echo $proc_name;?> :</div>
						<div class="divtd textcenter vam"><?php echo $Currency['prefix'];?><?php echo AppController::truncate_number($MemberCash[$proc_name]*$Currency['rate'],3); ?><?php echo " ".$Currency['suffix'];?></div>
                                                <?php if($SITECONFIG["wallet_for_earning"] == 'earning'){ ?>
						<div class="divtd textcenter vam"><?php echo $Currency['prefix'];?><?php echo AppController::truncate_number($MemberEarning[$proc_name]*$Currency['rate'],3); ?><?php echo " ".$Currency['suffix'];?></div>
                                                <?php } ?>
						<div class="divtd textcenter vam"><?php echo $Currency['prefix'];?><?php echo AppController::truncate_number($MemberRepurchaseCash[$proc_name]*$Currency['rate'],3); ?><?php echo " ".$Currency['suffix'];?></div>
                                                <?php if($SITECONFIG["wallet_for_commission"] == 'commission'){ ?>
						<div class="divtd textcenter vam"><?php echo $Currency['prefix'];?><?php echo AppController::truncate_number($MemberCommission[$proc_name]*$Currency['rate'],3); ?><?php echo " ".$Currency['suffix'];?></div>
                                                <?php } ?>
					</div>
					<?php
				$i++; }?>
			</div>
	<?php } ?>
</div>
<?php // Current Balance code ends here ?>

<div class="comisson-bg">
	<div class="text-ads-title-text"><?php echo __('Purchase Start Page');?></div>
	<div class="clear-both"></div>
</div>
<?php
if($RequestTodayLimitOver==0)
{
	echo __('Start Page Purchase limit per day is over today. Please visit tomorrow.');
}
else
{
?>
<div class="main-box-eran">
	<link href="<?php echo $SITEURL;?>eventcalendar/calendar.css" rel="stylesheet" type="text/css" />
	<div style="max-width: 100%; width: 500px; float: left;">
		<div id="Calendar"> </div>
	</div>
	<div style="max-width: 100%; width: 150px; float: right;">
		<div style="color: #000;background-color: #f56965;border: 1px solid #333333;display: inline-block;font-size: 14px;height: 28px;padding-top: 3px;text-align: center;width: 148px;">Pre-paid Days</div>
		<div style="color: #000;background-color: #75ce75;border: 1px solid #333333;display: inline-block;font-size: 14px;height: 28px;padding-top: 3px;text-align: center;width: 148px;margin-top: 2px;">Available Days</div>
		<div style="color: #000;background-color: #efefef;border: 1px solid #333333;display: inline-block;font-size: 14px;height: 28px;padding-top: 3px;text-align: center;width: 148px;margin-top: 2px;">Booked Days</div>
	</div>
	<div class="clear-both"></div>
	<div id="Events"> </div>
	<script language="javascript"> var SiTeUrLvar="<?php echo $SITEURL;?>"; var uid="<?php echo $userid;?>"; </script>
	<script language="javascript" src="<?php echo $SITEURL;?>eventcalendar/calendar.js"></script>	
	<script language="javascript">
	function eventbook(divid) {
		$(divid).toggleClass("witheventavelebal").toggleClass("witheventbook");
		$("#pleasewait").show();
		$.ajax({
																		url: '<?php echo $SITEURL; ?>traffic/startpageadd',
																		type: 'POST',
																		data: {bookdate: $(divid).text()+" "+$('.cMonth').text(),webid:<?php echo $Website['Website']['id'];?>},
																		success: function(data) {
				$('#bookdate').html(data);
				var todate=$('.cMonth').text();
				var todatearray=todate.split(", ");
				var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
				var monthnext=monthNames.indexOf(todatearray[0])+1; 
				LoadMonth(monthnext,todatearray[1]);
				//$("#payableamount").text($("#dayprice").text());
				//$("#payamount").val($("#dayprice").text());
				calpayamount();
				$("#pleasewait").hide();
			}
																	});
	}
	</script>
	<div class="clear-both"></div>
	<div class="" id="bookdate" style="width: 500px;">
		
		<?php foreach($Webdatas as $Webdata)
		{
			echo '<span style=" display: inline-block;padding: 5px; border:solid 1px #d1d1d1;margin-top:5px;background-color:#efefef;margin-right:5px;">'.$Webdata['Startpagebook']['bookdate']."</span>";
		}
		echo "<span id='dayprice' style='border: 1px solid;font-weight: bold;padding: 5px;margin: 4px; display: block;background-color:#1356ab;color:#fff;font-size:15px;text-align:center;width:100px;'>".$Currency['prefix']." ".round(count($Webdatas)*$Webstartpagedata['Webstartpage']['price']*$Currency['rate'],4)." ".$Currency['suffix']."</span> ";
		echo '<input id="positions" class="positions" type="hidden" value="'.count($Webdatas).'" name="data[Webstartpage][payamount]">';
		?>
	</div>
	
	<div class="height10"></div>
	
		<?php // Banner ad plan purchase form starts here ?>
		<?php echo $this->Form->create('Webstartpage',array('type' => 'post', 'onsubmit' => 'return false;', 'autocomplete'=>'off','url'=>array('controller'=>'traffic','action'=>'startpagepurchasepay/'.$Website['Website']['id'])));?>
		<div class="purchaseplanmain">	
		<div class="form-box">
			<div class="form-row ">
				<div class="form-col-1"><?php echo __("Price pay day");?> : </div>
				<div class="form-col-2 form-text">
					<?php echo $Currency['prefix'];?><?php echo round($Webstartpagedata['Webstartpage']['price']*$Currency['rate'],2)." ".$Currency['suffix'];?>
					<span id="couponspan">
					<?php
						$payamount = round($Webstartpagedata['Webstartpage']['price']*$Currency['rate'],2);
						if($this->Session->check('coupon'))
						{
							$sessioncoupon=$this->Session->read('coupon');
							if($sessioncoupon['page']=='Webstartpage' && $sessioncoupon['planid']==$Webstartpagedata['Webstartpage']['id'])
							{
								echo " - <span>".$Currency['prefix'].round($sessioncoupon['amount']*$Currency['rate'],4)." ".$Currency['suffix']."</span> = <span>".$Currency['prefix'].round(($Webstartpagedata['Webstartpage']['price']-$sessioncoupon['amount'])*$Currency['rate'],4)." ".$Currency['suffix']."</span>";
							$payamount=round(($Webstartpagedata['Webstartpage']['price']-$sessioncoupon['amount'])*$Currency['rate'],4);
							}
						}
					?>
					</span>
					<?php echo $this->Form->input('payamount', array('type'=>'hidden', 'id'=>'payamount', 'value'=>$payamount, 'div'=>false, 'label' => false, 'class'=>'payamount', 'onchange'=>''));?>
				<div class="height7"></div></div>
			</div>
				<?php $commissionlevel=explode(",", $Webstartpagedata['Webstartpage']['commissionlevel']);if($commissionlevel[0]>0){?>
				<div class="form-row">
					<div class="form-col-1"><?php echo __("Referral Commission Structure");?> : </div>
					<div class="form-col-2 form-text">
						<?php $commilev="";for($i=0;$i<count($commissionlevel);$i++){if($commissionlevel[$i]>0){$commilev.="Level ".($i+1)." : ".$commissionlevel[$i]."%, ";}else{break;}}echo trim($commilev,", ")?>
					</div>
				</div>
				<?php }?>
			<div class="form-row">
				<div class="form-col-1"><?php echo __("How would you like to pay");?> : </div>
				<div class="form-col-2 form-text balance-width">
					
					<?php
					$paymentmethod=array();
					$allmethod=array('cash','repurchase', 'earning', 'commission', 'processor', 'ca:re', 'ca:ea', 'ca:co', 're:ea', 're:co', 'ea:co', 'ca:re:ea', 're:ea:co', 'ea:co:ca', 'co:ca:re', 'ca:ea:re:co');
					$methodarray=@explode(",",$Webstartpagedata['Webstartpage']['paymentmethod']);
					
					$find=array('ca', 'ea', 're', 'co', ':');
					$replace=array('Cash Balance', 'Earning Balance', 'Re-purchase Balance', 'Commission Balance', ' + ');
							
					foreach($methodarray as $methodnm)
					{
						if(in_array($methodnm,$allmethod))
						{
							if(!in_array($methodnm,array('cash','repurchase', 'earning', 'commission', 'processor')))
								$methodnmdisp=str_replace($find, $replace, $methodnm);
							elseif($methodnm=='processor')
								$methodnmdisp=ucfirst($methodnm);
							elseif($methodnm=='repurchase')
								$methodnmdisp="Re-purchase Balance";
							else
								$methodnmdisp=ucfirst($methodnm)." Balance";
							$paymentmethod[$methodnm]=__($methodnmdisp);
						}
					}
					
					if($SITECONFIG['balance_type']==1)
					{
						echo $this->Form->radio('paymentmethod', $paymentmethod, array('value'=>'cash', 'legend' => false, 'separator'=>'&nbsp;', 'onchange'=>'if(this.value=="processor") {$(".paymentprocessorfield").show(500);} else{$(".paymentprocessorfield").hide(500);} if(this.value=="processor"){processorextrafield($("#paymentprocessors").val(),processer,"'.$SITEURL.'app/processorextrafield","Webstartpage",".extrafield");showprocfee(1);}else{$(".extrafield").html("");showprocfee(0);}if(this.value.indexOf("re:")>=0 || this.value.indexOf(":re")>=0) {$(".refirstfield").show(500);} else{$(".refirstfield").hide(500);}'));
					}
					elseif($SITECONFIG['balance_type']==2)
					{
						echo $this->Form->radio('paymentmethod', $paymentmethod, array('value'=>'cash', 'legend' => false, 'separator'=>'&nbsp;', 'onchange'=>' if(this.value=="processor"){processorextrafield($("#paymentprocessors").val(),processer,"'.$SITEURL.'app/processorextrafield","Webstartpage",".extrafield");showprocfee(1);}else{$(".extrafield").html("");showprocfee(0);}if(this.value.indexOf("re:")>=0 || this.value.indexOf(":re")>=0) {$(".refirstfield").show(500);} else{$(".refirstfield").hide(500);}'));
					}
					?>
					<div class="height7"></div>
					<div class="refirstfield" style="display: none;"><?php echo $this->Form->input('refirst', array('type' => 'checkbox', 'div'=>false, 'label' =>'', 'checked'=>'')); echo __('Use Re-purchase Balance first'); ?></div>
				</div>
			</div>
			
			<div class="form-row paymentprocessorfield" style="display:<?php if($SITECONFIG['balance_type']==1){echo 'none';}?>;">
				<div class="form-col-1"><?php echo __("Please select a payment processor");?> : <span class="required">*</span></div>
					<?php
						$procfee_string = "var procfee_array = new Array();var procfeeamount_array = new Array();";
						foreach($processorsfee as $key=>$value)
						{
							$procfee_string.=" procfee_array[".$key."] = ".$value['fee'].";";
							$procfee_string.=" procfeeamount_array[".$key."] = ".$value['feeamount'].";";
						}
					?>
					<script type='text/javascript'><?php echo $procfee_string;?></script>
					
					<div class="select-dropdown">
							<label>
								<?php 
								echo $this->Form->input('paymentprocessor', array(
									  'type' => 'select',
									  'options' => $paymentprocessors,
									  'selected' => '',
									  'class'=>'paymentprocessor',
									  'label' => false,
									  'div' => false,
									  'id'=>'paymentprocessors',
									  'onchange' => 'if($("#WebstartpagePaymentmethodProcessor").attr("checked")){processorextrafield(this.value,processer,"'.$SITEURL.'app/processorextrafield","Webstartpage",".extrafield");showprocfee(1);}else{showprocfee(0);}'
								));?>
							</label>
					</div>
					
					<span class="helptooltip vtip" title="<?php echo __('Fees is added to the amount when you pay through payment processor.') ?>"></span>
			</div>
			<div class='extrafield'></div>
		</div>
		<div class="height10"></div>
		<div>
			<?php // Amount calculation box starts here ?>
			<div class="purchaseplanamountdetails floatleft" style="width:49.5%">
				<div class="form-box">
					<div class="form-row">
						<div class="form-col-1"><?php echo __("Amount");?> : </div>
						<div class="form-col-2 form-text"><?php echo $Currency['prefix'];?><span id="payableamount"><?php echo round(count($Webdatas)*$Webstartpagedata['Webstartpage']['price']*$Currency['rate'],4);?></span> <?php echo $Currency['suffix'];?></div>
					</div>
					
					<div class="form-row">
						<div class="form-col-1"><?php echo __("Fees");?> : </div>
						<div class="form-col-2 form-text"><span id="procfee">0</span>% + <?php echo $Currency['prefix'];?><span id="procfeeamount">0</span> <?php echo $Currency['suffix'];?></div>
					</div>
					
					<div class="form-row">
						<div class="form-col-1"><?php echo __("Final Amount");?> : </div>
						<div class="form-col-2 form-text"><?php echo $Currency['prefix'];?><span id="finalamount"><?php echo round(count($Webdatas)*$Webstartpagedata['Webstartpage']['price']*$Currency['rate'],4);?></span> <?php echo $Currency['suffix'];?></div>
					</div>
				</div>	
			</div>
			<?php // Amount calculation box ends here ?>
			
			<div class="purchaseplanbuttonbox floatright" style="width:50%;">
				<div class="form-box">
					<div class="profile-bot-left inlineblock" style="padding-left: 0px;padding-top: 7px;">
						<?php if($Webstartpagedata['Webstartpage']['iscoupon']==1){?>
						<div class="form-col-1 forcaptchaonly"><?php echo __('Enter Coupon Code'); ?> : &nbsp;</div>
						<?php $couponclass='formtextbox coupontextbox';
						if(isset($sessioncoupon) && $sessioncoupon['page']=='Webstartpage' && $sessioncoupon['planid']==$Webstartpagedata['Webstartpage']['id']) $couponclass.=' greenbg'; else $sessioncoupon['code']='';
						echo $this->Form->input('code', array('type'=>'text', 'div'=>false, 'label' => false, 'style'=>'width:45%;', 'class'=>$couponclass, 'value'=>$sessioncoupon['code']));?>
						<?php echo $this->Js->submit(__('Apply Coupon'), array(
							'before'=>$this->Js->get('#pleasewait, #UpdateMessage')->effect('fadeIn', array('buffer' => false)),
							'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
							'update'=>'#UpdateMessage',
							'class'=>'button floatnone',
							'div'=>false,
							'controller'=>'traffic',
							'action'=>'startpagecoupon/'.$Webstartpagedata['Webstartpage']['id'],
							'url'   => array('controller' => 'traffic', 'action' => 'startpagecoupon/'.$Webstartpagedata['Webstartpage']['id'])
						));?>
						<?php }?>
					</div>
					<div class="profile-bot-left inlineblock" style="font-size: 12px;"><?php if($SITECONFIG["enableagree"]==1){echo $this->Form->input('termsandconditions', array('type' => 'checkbox', 'div'=>false, 'label' =>'', 'checked'=>'')); echo ' <a href="'.$SITEURL.'public/terms" target="_blank">'.__('I agree with the terms and conditions').'</a> '.__('of').' '.$SITECONFIG["sitetitle"]; }?></div>
					<div class="clear-both"></div>
					<div class="formbutton">
							<?php echo $this->Js->submit(__('Purchase'), array(
								'before'=>$this->Js->get('#pleasewait, #UpdateMessage')->effect('fadeIn', array('buffer' => false)),
								'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
								'update'=>'#UpdateMessage',
								'class'=>'button ml10',
								'div'=>false,
								'controller'=>'traffic',
								'style'=>'',
								'action'=>'startpagepurchasepay',
								'url'   => array('controller' => 'traffic', 'action' => 'startpagepurchasepay/'.$Website['Website']['id'])
							));?>
							<?php echo $this->Js->link(__("Back"), array('controller'=>'traffic', "action"=>"startpagepurchase"), array(
								'update'=>'#Trafficpage',
								'before'=>$this->Js->get('#pleasewait')->effect('fadeIn', array('buffer' => false)),
								'success'=>$this->Js->get('#pleasewait')->effect('fadeOut', array('buffer' => false)),
								'escape'=>false,
								'class'=>'button',
								'style'=>''
							));?>
					</div>
					<div class="clear-both"></div>
				</div>
			</div>
			<div class="clear-both"></div>
		</div>
	<div class="clear-both"></div>
	
	<?php echo $this->Form->end();?>
	<?php // Banner ad plan purchase form ends here ?>
	<script>calpayamount();</script>
</div>
<?php } ?>
<?php if(!$ajax){ ?>
</div>
<?php } ?>
<?php } else { echo __('This page is disabled by administrator'); } ?>
<?php echo $this->Js->writeBuffer(array('inline' => 'true'));?>